﻿@model KPI_ONLINE.ViewModel.KPIDetailAreaReportViewModel
@{
    ViewBag.Title = "Index";
    var result = "";
}
<style>
    .p-custom {
        padding: 7px 15px;
    }

    h1,
    h2,
    h3 {
        font-weight: bold !important;
    }

    th, td {
        vertical-align: middle !important;
        padding: 0.75rem !important;
    }

    th {
        text-align: center;
        background-color: #D3E2F9;
    }
</style>

<div class="card" style="margin-bottom:0rem; padding:0.8rem">
    <h2 class="text-center">KPI Summary - KPI Detail Area Report</h2>
</div>
@using (Html.BeginForm("", "KPIDetailAreaReport", FormMethod.Post, new { @class = "content-wrapper p-0", style = "position:relative" }))
{
    <!-- DEPARTMENT TREE -->
    <div class="sidebar-detached sidebar-left" style="position:fixed">
        <div class="sidebar">
            <div class="bug-list-sidebar-content">
                <!-- Predefined Views -->
                <div class="card">
                    <div class="card-head">
                        <div class="media">
                            <div class="media-body media-middle">
                                <h3 class="m-4">
                                    Data Authorize
                                </h3>

                            </div>
                        </div>
                    </div>

                    <!-- contacts view -->
                    <div class="card-body border-top-blue-grey border-top-lighten-5"
                         style="height:calc(100vh - 230px); overflow-y:scroll">
                        <div class="row match-height">
                            <fieldset class="col-md-12 ">
                                <div class="panel panel-default">
                                    <div class="panel-body ex1">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12">
                                                @Html.HiddenFor(model => model.Role_Detail.DepartmentTree, new { @id = "departmentTree", value = Model.Role_Detail.DepartmentTree })
                                                @Html.HiddenFor(model => model.Role_Detail.DepartmentTreeId, new { @id = "departmentTreeId", value = Model.Role_Detail.DepartmentTreeId })
                                                <div id="departmentTreeview-checkable" class="treeview"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <!--/ Predefined Views -->

            </div>
        </div>
    </div>
    <div class="content-detached content-right">
        <div class="content-body p-0">
            <div class="content-overlay"></div>
            <section class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="bug-list-search">
                                <div class="bug-list-search-content">
                                    <div class="sidebar-toggle d-block d-lg-none"><i class="ft-menu font-large-1"></i></div>
                                    <div class="form-body">
                                        <h3 class="form-section"><i class="ft-filter"></i> Filter Search</h3>
                                    </div>
                                    <div class="row form-group filter-section">
                                        <div class="col-12 col-xl-4 row mb-3 mb-xl-0">
                                            <div class="col-sm-5">
                                                <label class="m-2"> Period Type <span class="red">* </span></label>
                                            </div>
                                            <div class=" col-sm-7">
                                                @Html.DropDownListFor(m => m.Criteria.PeriodType, Model.Criteria.ddPeriodType, "-- Select --", new { @class = "form-control col-xs-7", @onchange = "getTargetPeriodByPeriodTypeDDL(this)" })
                                            </div>
                                        </div>
                                        <div class="col-12 col-xl-4 row mb-3 mb-xl-0">
                                            <div class="col-sm-5">
                                                <label class="m-2">Target Period <span class="red">* </span></label>
                                            </div>
                                            <div class=" col-sm-7">
                                                @if (Model.Criteria.ddTargetPeriod.Count > 0)
                                                {
                                                    @Html.DropDownListFor(m => m.Criteria.TargetPeriod, Model.Criteria.ddTargetPeriod, "-- Select --", new { @class = "form-control col-xs-7" })
                                                }
                                                else
                                                {
                                                    @Html.DropDownListFor(m => m.Criteria.TargetPeriod, Model.Criteria.ddTargetPeriod, "-- Select --", new { @class = "form-control col-xs-7", @disabled = "" })
                                                }
                                            </div>
                                        </div>
                                        <div class="col-12 col-xl-4 row mb-3 mb-xl-0">
                                            <div class="col-sm-5">
                                                <label class="m-2">Year <span class="red">* </span></label>
                                            </div>
                                            <div class=" col-sm-7">
                                                @Html.TextBoxFor(m => m.Criteria.Year, new { @class = "form-control col-xs-7 datepicker", @autocomplete = "off", @placeholder = "-- Select --", @data_provide = "datepicker" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        @if (ViewContext.HttpContext.User.IsInRole("search"))
                                        {<button type="submit" class="btn btn-min-width btn-primary m-1" name="action:Search" id="btn-expoet-data" onclick="setdatabeforepost()">
                                                <i class="ficon ft-search"></i> Search
                                            </button>
                                        }
                                        @if (ViewContext.HttpContext.User.IsInRole("export"))
                                        {
                                            <button type="button" class="btn btn-min-width btn-primary m-1" id="btn-expoet-data" onclick="onExportTemplate()">
                                                <i class="ft-share"> </i>   Export Data
                                            </button>
                                        }
                                        <button type="button" class="btn btn-min-width btn-light btn-min-width m-1" id="btn-clear-all" onclick="clearfilter()">
                                            <i class="fa fa-refresh"></i> Clear All
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="row all-contacts">
                <div class="col-12">
                    <div class="card">
                        <div class="card-head">
                            <div class="card-header" style="padding-bottom: 0;">
                                <div class="form-body ">
                                    <h3 class="form-section">
                                        <i class="ft-file-text"></i>
                                        @if (!string.IsNullOrEmpty(Model.Criteria.PeriodType))
                                        {
                                            if (Model == null || Model.Result == null)
                                            {
                                                result = "Search Result";
                                            }
                                            else
                                            {
                                                if (Model.Criteria.PeriodType == "Year")
                                                {
                                                    result = "Yearly report of " + Model.Criteria.Year;
                                                }
                                                else if (Model.Criteria.PeriodType == "Monthly")
                                                {
                                                    result = "Monthly report of " + Model.Criteria.Year + " - " + Model.Criteria.TargetPeriod;
                                                }
                                                else if (Model.Criteria.PeriodType == "Quater")
                                                {
                                                    result = "Quarterly report of " + Model.Criteria.Year + " - " + Model.Criteria.TargetPeriod;
                                                }
                                            }
                                        }
                                        @result
                                    </h3>
                                </div>
                                <div class="row" style="display:none">
                                    <div class="col-sm-4">
                                        @if (!string.IsNullOrEmpty(Model.Criteria.Year))
                                        {
                                            <h4 class="">Year : @Model.Criteria.Year</h4>
                                        }
                                    </div>
                                    <div class="col-sm-4">
                                        @if (!string.IsNullOrEmpty(Model.Criteria.PeriodType))
                                        {
                                            <h4 class="text-center">Period Type : @Model.Criteria.PeriodType</h4>
                                        }
                                    </div>
                                    <div class="col-sm-4">
                                        @if (!string.IsNullOrEmpty(Model.Criteria.TargetPeriod))
                                        {
                                            <h4 class="text-right">Target Period : @Model.Criteria.TargetPeriod</h4>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="card-body" style="padding-top:0px">
                                <!-- Task List table -->
                                @if (Model?.Result?.PlantList.Any() ?? false)
                                {
                                    <div class="collapse-icon kpi-report left">
                                        @foreach (var searchResult in Model?.Result?.PlantList ?? new List<KPI_ONLINE.ViewModel.KPIDetailAreaReportViewModel.Plant>())
                                        {
                                            var table_id = "_plant_" + searchResult.PlantID;
                                            var text = "";
                                            var subclass = "";
                                            var three_id = "plant_" + searchResult.PlantID;
                                            text = searchResult.PlantName;
                                            <div three-target="@three_id">
                                                <div class="card-header kpi-report-header  border-header @subclass">
                                                    <a data-toggle="collapse" href="#@table_id" style="font-weight:unset !important; font-size:1rem"
                                                       aria-expanded="true" aria-controls="@table_id" class="h3 lead collapsed @subclass">
                                                        @Html.Raw(text)
                                                    </a>
                                                </div>
                                                <div id="@table_id" class="table-responsive collapse show ">
                                                    <table id="searchResultTable_@searchResult.PlantName" class="table table-hover table-bordered display" style="border: 2px solid #98a4b8;" cellspacing="0">
                                                        <thead>
                                                            <tr>
                                                                <th style="border-bottom: 2px solid #98a4b8;">KPI No.</th>
                                                                <th style="border-bottom: 2px solid #98a4b8;border-right: 2px solid #98a4b8;">Process/Movements/Offsites</th>
                                                                @*@if (searchResult.ShiftHeaderID.Contains("A"))
                                                                    {
                                                                        <th style="border-bottom: 2px solid #98a4b8;">A</th>
                                                                    }
                                                                    @if (searchResult.ShiftHeaderID.Contains("B"))
                                                                    {
                                                                        <th style="border-bottom: 2px solid #98a4b8;">B</th>
                                                                    }
                                                                    @if (searchResult.ShiftHeaderID.Contains("C"))
                                                                    {
                                                                        <th style="border-bottom: 2px solid #98a4b8;">C</th>
                                                                    }
                                                                    @if (searchResult.ShiftHeaderID.Contains("D"))
                                                                    {
                                                                        <th style="border-bottom: 2px solid #98a4b8;">D</th>
                                                                    }*@
                                                                <th style="border-bottom: 2px solid #98a4b8;width:100px">A</th>
                                                                <th style="border-bottom: 2px solid #98a4b8;width:100px">B</th>
                                                                <th style="border-bottom: 2px solid #98a4b8;width:100px">C</th>
                                                                <th style="border-bottom: 2px solid #98a4b8;width:100px">D</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var detail in searchResult?.DetailList ?? new List<KPI_ONLINE.ViewModel.KPIDetailAreaReportViewModel.ShiftData>())
                                                            {
                                                                <tr>
                                                                    <td>@detail.kpiNo</td>
                                                                    <td class="text-left" style="border-right: 2px solid #98a4b8;">
                                                                        @detail.kpiName
                                                                    @if (Model.IndicatorNameList.Where(p => p.No.ToString() == detail.kpiNo).Count() > 0 && Model.IndicatorNameList.Where(p => p.No.ToString() == detail.kpiNo).FirstOrDefault().File != null)
                                                                    { 
                                                                        <a href="data:application/octet-stream;base64,@Model.IndicatorNameList.Where(p => p.No.ToString() == detail.kpiNo).FirstOrDefault().File" download="@Model.IndicatorNameList.Where(p => p.No.ToString() == detail.kpiNo).FirstOrDefault().FileName" style="padding: unset;"><i class='fa fa-book'></i> </a>
                                                                        @*<button type="button" class="btn btn-primary btn-modal-edit" data-action="SAVE" id="btn-modal-save">
            <i class="fa ft-save"></i> Save
        </button>*@
}
                                                                                                                                    </td>
                                                                    @if (searchResult.ShiftHeaderID.Contains("A"))
                                                                    {
                                                                        <td> <div class="badge badge-primary badge-pill p-custom font-weight-bold" style="color:@(detail?.scaleColorName_A);background-color: @(detail?.scaleColor_A?.ToLower())">@detail.avgScore_A</div></td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td> </td>
                                                                    }
                                                                    @if (searchResult.ShiftHeaderID.Contains("B"))
                                                                    {
                                                                        <td> <div class="badge badge-primary badge-pill p-custom font-weight-bold" style="color:@(detail?.scaleColorName_B);background-color: @(detail?.scaleColor_B?.ToLower())">@detail.avgScore_B</div></td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td> </td>
                                                                    }
                                                                    @if (searchResult.ShiftHeaderID.Contains("C"))
                                                                    {
                                                                        <td> <div class="badge badge-primary badge-pill p-custom font-weight-bold" style="color:@(detail?.scaleColorName_C);background-color: @(detail?.scaleColor_C?.ToLower())">@detail.avgScore_C</div></td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td> </td>
                                                                    }
                                                                    @if (searchResult.ShiftHeaderID.Contains("D"))
                                                                    {
                                                                        <td> <div class="badge badge-primary badge-pill p-custom font-weight-bold" style="color:@(detail?.scaleColorName_D);background-color: @(detail?.scaleColor_D?.ToLower())">@detail.avgScore_D</div></td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td> </td>
                                                                    }
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>

                                                </div>
                                            </div>
                                        }
                                    </div>
                                }
                                else
                                {
                                    if (Model == null || Model.Result == null)
                                    {

                                    }
                                    else
                                    {
                                        <strong>
                                            No data available
                                        </strong>
                                    }

                                }
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    @Html.Hidden("URL_GetTargetPeriod_DDL", Url.Action("GetTargetPeriodByPeriodTypeDDL", "KPIDetailAreaReport"))

}
<script>
    $(document).ready(function () {
        setPeriodType('Criteria_PeriodType', 'Criteria_TargetPeriod');
        //DEPARTMENT
        $(".datepicker").datepicker({
            format: "yyyy",
            autoclose: true,
            viewMode: "years",
            minViewMode: "years"
        }).on('changeDate',function (ev) {
                $to.removeClass('input-validation-error').addClass('valid');
                $from.removeClass('input-validation-error').addClass('valid');
            });

        initialTreeview("department");
        getAllNodes();
    });
    var datatext
    var json
    var selectallChange = false
    function initialTreeview(id, selected) {
        datatext = $("#" + id + "Tree").val();
        json = JSON.parse(datatext);

        if (selected) {
            let split = selected.split('&').filter(function (c) { return c && c !== '|'; });
            if (split && split.length > 0) {

                $.each(json, function (index, element) {
                    if (split.indexOf(element.href.split('node-')[1]) >= 0) {
                        element.state.checked = true;
                    }
                });
            }

        }

        //id = kpi
        var tempdata = $("#" + id + "TreeId").val();
        var firsttime_check = true;
        var head_check = false;
        var checknode = "";
        var $checkableTree = $('#' + id + 'Treeview-checkable').treeview({
            data: json,
            showIcon: true,
            showCheckbox: true,
            color: "#428bca",
            expandIcon: 'ft-chevron-right',
            collapseIcon: 'ft-chevron-down',
            onNodeChecked: function (event, node) {
                
                if (node.href == "#node-select-all") {
                    var allnode = getAllNodes();
                    for (var i in allnode) {
                        selectallChange = true;
                        $(this).treeview(true).checkNode(allnode[i].nodeId);
                    }
                    selectallChange = false;
                    var allnode = getAllNodes();
                }
                else {
                    if (!selectallChange) {
                        var allnode = getAllNodes();
                    }

                }
            },
            onNodeUnchecked: function (event, node) {
                
                if (node.href == "#node-select-all") {
                    var allnode = getAllNodes();
                    for (var i in allnode) {
                        selectallChange = true;
                        $(this).treeview(true).uncheckNode(allnode[i].nodeId);
                    }
                    selectallChange = false;
                    var allnode = getAllNodes();
                }
                else {
                    if (!selectallChange) {
                        var allnode = getAllNodes();
                    }

                }

            }
        });
        $checkableTree.treeview('collapseAll', { silent: true });
    }

    function assignDropdown(id, data) {

        let html = ""
            , $obj = $("#" + id)
            , htmlDefault = "";
        $obj.children().remove();

        html = "<option value=''>"
        html += "-- Select --";
        html += "</option>";

        data.forEach(function (element) {
            html += "<option value='" + element.Value + "'>";
            html += element.Text;
            html += "</option>";
        });
        $obj.append(html);

    }
    function getAllNodes() {
        var treeViewObject = $('#departmentTreeview-checkable').data('treeview'),
            allCollapsedNodes = treeViewObject.getCollapsed(),
            allExpandedNodes = treeViewObject.getExpanded(),
            allNodes = allCollapsedNodes.concat(allExpandedNodes);

        for (var i = 0; i < allNodes.length; i++) {
            var node = allNodes[i];
            var id = node.href.replace("#node-", "");
            if (node.state.checked) {
                $('[three-target="' + id + '"]').show();
            } else {
                $('[three-target="' + id + '"]').hide();
            }
        }
        return allNodes;
    }

    function getTargetPeriodByPeriodTypeDDL($this) {
        try {
            let periodType = $($this).val() ? $($this).val() : "";

            loading();
            //
            let URL = $('#URL_GetTargetPeriod_DDL').val();
            $.getJSON(URL, { periodType: periodType },
                function (data) {
                    hideLoading();
                    if (data.isSuccess) {
                        $("#Criteria_TargetPeriod").prop('disabled', false);
                        assignDropdown("Criteria_TargetPeriod", data.result);
                        if (data.result.length == 0) {
                            $("#Criteria_TargetPeriod").prop('disabled', true);
                        }
                    }
                })
                .fail(function (err) {
                    hideLoading();
                    alert('fail.');
                });

        }
        catch (err) {
            alert('Error : ' + err.message);
        }
    }
    function setdatabeforepost() {
        loading();
        var treeViewObject = $('#departmentTreeview-checkable').data('treeview'),
            allCollapsedNodes = treeViewObject.getCollapsed(),
            allExpandedNodes = treeViewObject.getExpanded(),
            allNodes = allCollapsedNodes.concat(allExpandedNodes);

        for (var j = 0; j < json.length; j++) {
            for (var i = 0; i < allNodes.length; i++) {
                var node = allNodes[i];
                var js = json[j];
                if (node.href == js.href) {
                     json[j] = node;
                }
            }
        }
        $("#departmentTree").val(JSON.stringify(json));
        return JSON.stringify(allNodes);
    }
    function onExportTemplate() {
        loading();
        $.ajax({
            url: '@Url.Action("ExportExcel", "KPIDetailAreaReport")',

            data: {
                "pPeriod_Type": $("#Criteria_PeriodType").val(),
                "pTarget_Period": $("#Criteria_TargetPeriod").val(),
                "pYear": $("#Criteria_Year").val(),
                "pTree": setdatabeforepost()
            },
            cache: false,
            type: "POST",
            success: function (data) {
                var urls = '@Url.Action("LoadExcel", "KPIDetailAreaReport")' + "?file_path=" + data.FileName;

                
                window.open(urls, '_blank');
                hideLoading();

            },
            error: function (reponse) {
                hideLoading();
                alert("error : " + reponse.error());

            }
        });
    }
    function clearfilter() {
        $(".filter-section select").val("")
        $(".filter-section input").val("")
        $("#Criteria_TargetPeriod").prop('disabled', true);
    }
</script>
