﻿@model KPI_ONLINE.ViewModel.MapConfig
<div class="modal-header">
    <h3 class="modal-title"><i class="ft-book"></i>Indicator Name</h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
</div>
<div class="modal-body" id="">
    <div class="table-responsive">
        <table id="searchResultTable" class="table table-hover table-bordered" cellspacing="0">
            <thead>
                <tr>
                    <th width="20">No </th>
                    <th>Kpi </th>
                    <th width="100">Mode </th>
                    <th hidden width="200">Note </th>
                </tr>
            </thead>
            <tbody>
                @{var i = 0;}
                @foreach (var detail in Model.IndicatorNameList)
                {
                    <tr>
                        <td>
                            @Html.TextBoxFor(x => x.IndicatorNameList[i].KpiNO, new { @class = "form-control label", @readonly = "readonly" })
                        </td>
                        <td>
                            @Html.TextBoxFor(x => x.IndicatorNameList[i].KpiName, new { @class = "form-control label", @readonly = "readonly" })
                        </td>
                        <td>
                            @Html.RadioButton(i + "_mode", "SHIFT", Model.IndicatorNameList[i].ViewMode == "SHIFT", new { id = i + "_mode1", onclick = "changeMode('IndicatorNameList_" + i + "__ViewMode','" + i + "_mode')" })
                            <label for="@(i)_mode1">Shift</label>
                            <br>
                            @Html.RadioButton(i + "_mode", "AREA", Model.IndicatorNameList[i].ViewMode == "AREA", new { id = i + "_mode2", onclick = "changeMode('IndicatorNameList_" + i + "__ViewMode','" + i + "_mode')" })
                            <label for="@(i)_mode2">Area</label>
                            <br>
                            @Html.HiddenFor(x => x.IndicatorNameList[i].ViewMode, new { @class = "form-controllabel", @readonly = "readonly" })
                            @Html.HiddenFor(x => x.IndicatorNameList[i].Id, new { @class = "form-controllabel", @readonly = "readonly" })
                            @Html.HiddenFor(x => x.IndicatorNameList[i].kpiNameID, new { @class = "form-controllabel", @readonly = "readonly" })

                        </td>
                        <td hidden>
                            @Html.TextAreaFor(x => x.IndicatorNameList[i].Note, new { @class = "form-control" })
                        </td>
                    </tr>
                    i++;
                }
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer">
    @*<button type="button" class="btn btn-min-width btn-secondary" onclick="saveconfig()">Save</button>*@
    <button type="submit" class="btn btn-min-width btn-secondary" name="action:SaveMapConfig">Save</button>
    <button type="button" class="btn btn-min-width btn-secondary" data-dismiss="modal">Close</button>
</div>
<script>
    function changeMode(id, radio) {
        
        $('#' + id).val($('[name="' + radio + '"]:checked').val());
    }</script>
