﻿@model KPI_ONLINE.ViewModel.PlantKPIDetail
<div class="panel-group">
    <div class="panel panel-default">
        <div class="card-header kpi-report-header  border-header">
            <a href="#" class="h3 lead ">
                @Model.Plant
            </a>
        </div>
        <div class="table-responsive">
            <table id="searchResultTable" class="table table-hover display" cellspacing="0">
                <thead>
                    <tr>
                        @if (!Model.IsIndividual)
                        {
                            <th>Shift </th>
                        }
                        else
                        {
                            <th>Shift </th>
                            <th>First Name </th>
                            <th>Last Name </th>
                        }
                        <th>KPI Scale </th>
                        <th>KPI Display </th>
                        <th>Note </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var detail in Model.DetailList)
                    {
                        <tr>
                            @if (!Model.IsIndividual)
                            {
                                <td>@detail.Shift</td>
                            }
                            else
                            {
                                <td>@detail.Shift</td>
                                <td>@detail.FirstName</td>
                                <td>@detail.LastName</td>
                            }
                            <td>
                                <div class="badge badge-primary badge-pill p-custom font-weight-bold" style="background-color:@detail.KPIcolor">
                                    @detail.ActualScore
                                </div>
                            </td>
                            <td>@detail.KPIDisplay</td>
                            <td>@detail.Note</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>