﻿@model KPI_ONLINE.ViewModel.ReportMapViewModel
@{
    ViewBag.Title = "View";
}

<div class="card" style="margin-bottom:0rem; padding:0.8rem">
    <h2 class="text-center">KPI Summary - Map View</h2>
</div>
@using (Html.BeginForm("", "ReportMap", FormMethod.Post, new { @class = "content-wrapper p-0", style = "position:relative" }))
{
    <style>
        @@media (min-width: 576px) {
            .col-custom {
                -webkit-box-flex: 0;
                -webkit-flex: 0 0 58.33333%;
                -moz-box-flex: 0;
                -ms-flex: 0 0 58.33333%;
                flex: 0 0 58.33333%;
                max-width: 158.33333%;
            }
        }

        h1,
        h2,
        h3 {
            font-weight: bold !important;
        }


        th, td {
            vertical-align: middle !important;
            padding: 0.75rem !important;
        }

        th {
            text-align: center;
            background-color: gainsboro;
        }

        .pin-button {
            height: 100%;
            width: 100%;
            border-radius: 100%;
        }

        .label {
            background: transparent;
            background-color: transparent !important;
            border: 0px solid transparent !important;
            box-shadow: none;
            cursor: auto !important;
            padding: 0px;
            max-width: unset !important;
        }
    </style>
    <div class="content-wrapper" style="padding:0rem; padding-top:0px">
        <section class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="bug-list-search">
                            <div class="bug-list-search-content">
                                <div class="sidebar-toggle d-block d-lg-none"><i class="ft-menu font-large-1"></i></div>
                                <div class="form-body">
                                    <h3 class="form-section"><i class="ft-filter"></i> Filter Search</h3>
                                </div>
                                <div class="row form-group filter-section">
                                    <div class="col-12 col-xl-3 row mb-3 mb-xl-0">
                                        <div class="col-sm-5">
                                            <label class="m-2"> KPI Indicator <span class="red">* </span></label>
                                        </div>
                                        <div class=" col-sm-7">
                                            @Html.DropDownListFor(m => m.Criteria.KPIIndicator, Model.Criteria.ddKPIIndicator, "-- Select --", new { @class = "form-control col-custom" })
                                        </div>
                                    </div>
                                    <div class="col-12 col-xl-3 row mb-3 mb-xl-0">
                                        <div class="col-sm-5">
                                            <label class="m-2"> Period Type <span class="red">* </span></label>
                                        </div>
                                        <div class=" col-sm-7">
                                            @Html.DropDownListFor(m => m.Criteria.PeriodType, Model.Criteria.ddPeriodType, "-- Select --", new { @class = "form-control col-xs-7", @onchange = "getTargetPeriodByPeriodTypeDDL(this)" })
                                        </div>
                                    </div>
                                    <div class="col-12 col-xl-3 row mb-3 mb-xl-0">
                                        <div class="col-sm-5">
                                            <label class="m-2">Target Period <span class="red">* </span></label>
                                        </div>
                                        <div class=" col-sm-7">
                                            @if (Model.Criteria.ddTargetPeriod.Count > 0)
                                            {
                                                @Html.DropDownListFor(m => m.Criteria.TargetPeriod, Model.Criteria.ddTargetPeriod, "-- Select --", new { @class = "form-control col-xs-7" })
                                            }
                                            else
                                            {
                                                @Html.DropDownListFor(m => m.Criteria.TargetPeriod, Model.Criteria.ddTargetPeriod, "-- Select --", new { @class = "form-control col-xs-7", @disabled = "" })
                                            }
                                        </div>
                                    </div>
                                    <div class="col-12 col-xl-3 row mb-3 mb-xl-0">
                                        <div class="col-sm-5">
                                            <label class="m-2">Year <span class="red">* </span></label>
                                        </div>
                                        <div class=" col-sm-7">
                                            @Html.TextBoxFor(m => m.Criteria.Year, new { @class = "form-control col-xs-7 datepicker", @autocomplete = "off", @placeholder = "-- Select --", @data_provide = "datepicker" })

                                            @*  @Html.DropDownListFor(m => m.Criteria.Year, Model.Criteria.ddYear, "-- Select --", new { @class = "form-control col-xs-7" })*@
                                        </div>
                                    </div>


                                </div>
                                <div class="row">
                                    @if (ViewContext.HttpContext.User.IsInRole("search"))
                                    {
                                        <button type="submit" class="btn btn-min-width btn-primary m-1" name="action:Search" id="btn-expoet-data" onclick="setdatabeforepost()">
                                            <i class="ficon ft-search"></i> Search
                                        </button>
                                    }
                                    @if (ViewContext.HttpContext.User.IsInRole("search"))
                                    {
                                        <button type="button" class="btn btn-min-width btn-primary m-1" id="btn--data" data-toggle="modal" data-target="#exampleModal" onclick="showpopupConfig() ">
                                            <i class="ft-settings"> </i> Config
                                        </button>
                                    }
                                    @if (ViewContext.HttpContext.User.IsInRole("export"))
                                    {
                                        <button type="button" class="btn btn-min-width btn-primary m-1" id="btn-expoet-data" onclick="onExportTemplate()">
                                            <i class="ft-share"> </i>   Export Data
                                        </button>
                                    }
                                    <button type="button" class="btn btn-min-width btn-light btn-min-width m-1" id="btn-clear-all" onclick="clearfilter()">
                                        <i class="fa fa-refresh"></i> Clear All
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="row all-contacts">
            <div class="col-12">
                <div class="card">
                    <div class="card-head">
                        <div class="card-header">
                            <h3 class="form-section">
                                <i class="ft-file-text"></i>
                                @if (!string.IsNullOrEmpty(Model.Criteria.PeriodType))
                                {
                                    var result = "";
                                    if (Model == null || Model.Result == null)
                                    {
                                        result = "Search Result";
                                    }
                                    else
                                    {
                                        if (Model.Criteria.PeriodType == "Year")
                                        {
                                            result = "Yearly report of " + Model.Criteria.Year;
                                        }
                                        else if (Model.Criteria.PeriodType == "Monthly")
                                        {
                                            result = "Monthly report of " + Model.Criteria.Year + " - " + Model.Criteria.TargetPeriod;
                                        }
                                        else if (Model.Criteria.PeriodType == "Quater")
                                        {
                                            result = "Quarterly report of " + Model.Criteria.Year + " - " + Model.Criteria.TargetPeriod;
                                        }
                                    }

                                    @result

                                }
                            </h3>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <table class="table-hover table-bordered">

                                <thead>
                                    <tr>
                                        <th style="background-color:transparent;"></th>
                                        @foreach (var header in Model.DepartmentHeader)
                {
                        <th class="kpi-report-header" style="color: white;">@header</th>
}
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="background-color: #D3E2F9;">Actual Score</td>
                                        @foreach (var header in Model.DepartmentHeader)
                {
                    var data = Model.DepartmentData.FirstOrDefault(x => x.TKID_DEPARTMENT == header);
                        <td>
                            @(data?.ACTUAL_SCORE)
                        </td>
}
                                    </tr>
                                    <tr>
                                        <td style="background-color: #D3E2F9;">Scale Display</td>
                                        @foreach (var header in Model.DepartmentHeader)
                {
                    var data = Model.DepartmentData.FirstOrDefault(x => x.TKID_DEPARTMENT == header);
                        <td>
                            @(data?.KPI_SCALE)
                        </td>

}
                                    </tr>
                                </tbody>

                            </table>
                            <!-- Task List table -->
                            <div class="kpi-report left">
                                <div class="panel panel-default">
                                    <div class="panel-heading"><h3 class="text-center"> @Model.Result.KPIIndicator</h3></div>
                                    <div class="">
                                        <img src="~/Content/Image/PlantMapKIP.png" class="pin" easypin-id="example_image1" width="100%" />
                                    </div>
                                    <div class="panel-footer"><h3 class="text-center">@Model.Result.TimePeriod</h3> </div>
                                </div>
                                <div style="display:none;" easypin-tpl>
                                    <popover>
                                        <div style=" width: @(Model.viewType =="SHIFT"? "1.7vw" :"2.3vw"); height: @(Model.viewType =="SHIFT"? "1.7vw" :"2.3vw");">
                                            @if (ViewContext.HttpContext.User.IsInRole("action"))
                    {
                        @*<img src="~/Content/Image/Button_Icon_Gray.png" width="100%" plent="{[plant]}" shift="{[shift]}"
    onclick="showpopup('{[plant]}','{[shift]}')"
    data-toggle="modal" data-target="#exampleModal2">*@
                        <div class="pin-button" style="background-color:{[pinbutton]}"
                             onclick="showpopup('{[plant]}','{[shift]}')"
                             data-toggle="modal" data-target="#exampleModal2"></div>
}
else
{
                        @*<img src="~/Content/Image/Button_Icon_Gray.png" width="100%" plent="{[plant]}" shift="{[shift]}">*@
                        <div class="pin-button" style="background-color:{[pinbutton]}">  </div>
}

                                        </div>

                                    </popover>


                                    <marker>

                                        <div style=" width: @(Model.viewType =="SHIFT"? "1.7vw" :"2.3vw"); height: @(Model.viewType =="SHIFT"? "1.7vw" :"2.3vw");">

                                            <img src="~/Content/Image/Button_Icon_Gray.png" width="0%">

                                        </div>

                                    </marker>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </section>

    </div>

    <!-- Modal -->
    <div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" id="configpopup">

            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModal2Label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" id="">
                <div class="modal-body" id="plantkippopup">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-min-width btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}


<script>
    $(".datepicker").datepicker({
        format: "yyyy",
        autoclose: true,
        viewMode: "years",
        minViewMode: "years"
    });
    function onExportTemplate() {
            //loading();
        $.ajax({
            url: '@Url.Action("ExportExcel", "ReportMap")',
            data: {
                "pPeriod_Type": $("#Criteria_PeriodType").val(),
                "pTarget_Period": $("#Criteria_TargetPeriod").val(),
                "pYear": $("#Criteria_Year").val(),
                "pKpi": $("#Criteria_KPIIndicator").val(),
            },
            cache: false,
            type: "POST",
            success: function (data) {
                var urls = '@Url.Action("LoadExcel", "ReportMap")' + "?file_path=" + data.FileName;

                
                window.open(urls, '_blank');
                //hideLoading();

            },
            error: function (reponse) {
                //hideLoading();
                alert("error : " + reponse.error());

            }
        });
    }
</script>

<script src="~/Content/jquery.easypin/dist/jquery-1.8.0.js"></script>
<script src="~/Content/jquery.easypin/dist/jquery.easing.min.js"></script>
<script src="~/Content/jquery.easypin/dist/jquery.easypin.js"></script>
<script type="text/javascript">
    var byArea = {
            "example_image1": {
                "0": {
                    "plant": "Offsite",
                    "shift": "",
                    "pinbutton": "Button_Icon_Green.png",
                    "coords": {
                        "lat": "220",
                        "long": "85"
                    }
                },
                "1": {
                    "plant": "TOC4",
                    "shift": "",
                    "pinbutton": "Button_Icon_Red.png",
                    "coords": {
                        "lat": "447.5",
                        "long": "142"
                    }
                },
                "2": {
                    "plant": "TOC2",
                    "shift": "",
                    "pinbutton": "Button_Icon_Yellow.png",
                    "coords": {
                        "lat": "516.5",
                        "long": "142"
                    }
                },
                "3": {
                    "plant": "TOC1",
                    "shift": "",
                    "pinbutton": "Button_Icon_Gray.png",
                    "coords": {
                        "lat": "591.5",
                        "long": "142"
                    }
                },
                "4": {
                    "plant": "TOC3",
                    "shift": "",
                    "pinbutton": "Button_Icon_Green.png",
                    "coords": {
                        "lat": "452",
                        "long": "200"
                    }
                },
                "5": {
                    "plant": "Utility",
                    "pinbutton": "Button_Icon_Green.png",
                    "coords": {
                        "lat": "555",
                        "long": "185"
                    },
                    "shift": "",
                },
                "6": {
                    "plant": "TOC5",
                    "pinbutton": "Button_Icon_Green.png",
                    "coords": {
                        "lat": "568.5",
                        "long": "245"
                    },
                    "shift": "",
                },
                "7": {
                    "plant": "SPP",
                    "pinbutton": "Button_Icon_Green.png",
                    "coords": {
                        "lat": "813.5",
                        "long": "185"
                    },
                    "shift": "",
                },
                "8": {
                    "plant": "SPP",
                    "pinbutton": "Button_Icon_Green.png",
                    "coords": {
                        "lat": "917.5",
                        "long": "245"
                    },
                    "shift": "",
                },
                "9": {
                    "plant": "New SPP",
                    "pinbutton": "Button_Icon_Green.png",
                    "coords": {
                        "lat": "220",
                        "long": "255"
                    },
                    "shift": "",
                },
                "10": {
                    "plant": "LABIX",
                    "pinbutton": "Button_Icon_Green.png",
                    "coords": {
                        "lat": "192.5",
                        "long": "320"
                    },
                    "shift": "",
                },
                "11": {
                    "plant": "TPX",
                    "pinbutton": "Button_Icon_Green.png",
                    "coords": {
                        "lat": "317.5",
                        "long": "320"
                    },
                    "shift": "",
                },
                "canvas": {
                    "src": "~/Content/Image/PlantMapKIP.png",
                    "width": "1000",
                    "height": "359"
                }
            }
        }
        var byShift = {
            "example_image1": {
                "MARINE_A": {
                    "plant": "MARINE_A",
                    "pinbutton": "Button_Icon_Gray.png",
                    "coords": {
                        "lat": "600",
                        "long": "310"
                    },
                },
                "MARINE_B": {
                    "plant": "MARINE_B",
                    "pinbutton": "Button_Icon_Red.png",
                    "coords": {
                        "lat": "630",
                        "long": "310"
                    }
                },
                "MARINE_C": {
                    "plant": "MARINE_C",
                    "pinbutton": "Button_Icon_Yellow.png",
                    "coords": {
                        "lat": "600",
                        "long": "325"
                    }
                },
                "MARINE_D": {
                    "plant": "MARINE_D",
                    "pinbutton": "Button_Icon_Green.png",
                    "coords": {
                        "lat": "630",
                        "long": "325"
                    }
                },
                "canvas": {
                    "src": "~/Content/Image/PlantMapKIP.png",
                    "width": "1000",
                    "height": "359"
                }
            }
        }
    $(document).ready(function () {

         var PinJson = {
             "example_image1": {
                @Html.Raw(string.IsNullOrEmpty(Model.Json) ?"" :Model.Json + ",")
                "canvas": {
                    "src": "~/Content/Image/PlantMapKIP.png",
                    "width": "1000",
                    "height": "359"
                }
            }
        }
        $('.pin').easypinShow({
            data:  PinJson,
            responsive: true,
            variables: {
                firstname: function (canvas_id, pin_id, data) {
                    //console.log(canvas_id, pin_id, data);
                    return data;
                },
                surname: function (canvas_id, pin_id, data) {
                    //console.log(canvas_id, pin_id, data);
                    return data;
                }
            },
            popover: {
                show: true,
                animate: true
            },
            each: function (index, data) {
                return data;
            },
            error: function (e) {
                console.log(e);
            },
            success: function () {
                console.log('başarılı');
            }
        });
        setPeriodType('Criteria_PeriodType', 'Criteria_TargetPeriod');
    });

    function saveconfig() {
        var model = $('#mapconfigform').serialize();
        console.log(model);
        $.ajax({
            url: '@Html.Raw(@Url.Action("SaveMapConfig", "ReportMap"))',
            type: 'POST',
            data: model,
            success: function (data) {
                console.log(data);
            }
        });
    }
    function clearfilter() {
        $(".filter-section select").val("")
        $(".filter-section input").val("")
        $("#Criteria_TargetPeriod").prop('disabled', true);
    }
    function showpopup(pPlant, pShift) {
        $('#plantkippopup').html("");
        $.ajax({
            url: '@Url.Action("PlantKPIDetail", "ReportMap")',
            type: "POST",
            dataType: "html",
            data: {
                Plant: pPlant,
                Shift: pShift,
                kpiNo: $("#Criteria_KPIIndicator").val(),
                targetperiod: $("#Criteria_TargetPeriod").val(),
                year: $("#Criteria_Year").val(),
                periodtype: $("#Criteria_PeriodType").val(),
            },
            //contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $('#plantkippopup').html(data);
            }
        });
    }
    function showpopupConfig() {
        $('#configpopup').html("");
        $.ajax({
            url: '@Url.Action("MapConfig", "ReportMap")',
            type: "POST",
            dataType: "html",
            //contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $('#configpopup').html(data);
            }
        });
    }
</script>
