﻿@model KPI_ONLINE.ViewModel.VpAndPomKPIResultReportViewModel
@{
    /**/

    ViewBag.Title = "Index";
    var result = "";
}
<style>
    .p-custom {
        padding: 7px 15px;
    }


    h1,
    h2,
    h3 {
        font-weight: bold !important;
    }

    /*aondddddd*/
    th, td {
        vertical-align: middle !important;
        padding: 0.75rem !important;
    }

    th {
        text-align: center;
        background-color: #D3E2F9;
        /*background-color: gainsboro;*/
    }
</style>

<div class="card" style="margin-bottom:0rem; padding:0.8rem">
    <h2 class="text-center">KPI Summary - VP and POM KPI Result</h2>
</div>
@using (Html.BeginForm("", "VpAndPomKPIResultReport", FormMethod.Post, new { @class = "content-wrapper p-0", style = "position:relative" }))
{
    <div class="content-wrapper" style="padding:0rem; padding-top:0px">
        <section class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="bug-list-search">
                            <div class="bug-list-search-content">
                                <div class="sidebar-toggle d-block d-lg-none"><i class="ft-menu font-large-1"></i></div>
                                <div class="form-body">
                                    <h3 class="form-section"><i class="ft-filter"></i> Filter Search</h3>
                                </div>
                                <div class="row form-group filter-section">
                                    <div class="col-12 col-xl-3 row mb-3 mb-xl-0">
                                        <div class="col-sm-5">
                                            <label class="m-2"> Report Mode <span class="red">* </span></label>
                                        </div>
                                        <div class="col-sm-7">
                                            @Html.DropDownListFor(m => m.Criteria.ReportMode, Model.Criteria.ddReportMode, new { @class = "form-control col-xs-7" })
                                        </div>
                                    </div>
                                    <div class="col-12 col-xl-3 row mb-3 mb-xl-0">
                                        <div class="col-sm-5">
                                            <label class="m-2"> Period Type <span class="red">* </span></label>
                                        </div>
                                        <div class="col-sm-7">
                                            @Html.DropDownListFor(m => m.Criteria.PeriodType, Model.Criteria.ddPeriodType, "-- Select --", new { @class = "form-control col-xs-7", @onchange = "getTargetPeriodByPeriodTypeDDL(this)" })
                                        </div>
                                    </div>
                                    <div class="col-12 col-xl-3 row mb-3 mb-xl-0">
                                        <div class="col-sm-5">
                                            <label class="m-2">Target Period <span class="red">* </span></label>
                                        </div>
                                        <div class=" col-sm-7">
                                            @if (Model.Criteria.ddTargetPeriod.Count > 0)
                                            {
                                                @Html.DropDownListFor(m => m.Criteria.TargetPeriod, Model.Criteria.ddTargetPeriod, "-- Select --", new { @class = "form-control col-xs-7" })
                                            }
                                            else
                                            {
                                                @Html.DropDownListFor(m => m.Criteria.TargetPeriod, Model.Criteria.ddTargetPeriod, "-- Select --", new { @class = "form-control col-xs-7", @disabled = "" })
                                            }
                                        </div>
                                    </div>
                                    <div class="col-12 col-xl-3 row mb-3 mb-xl-0">
                                        <div class="col-sm-5">
                                            <label class="m-2">Year <span class="red">* </span></label>
                                        </div>
                                        <div class=" col-sm-7">
                                            @Html.TextBoxFor(m => m.Criteria.Year, new { @class = "form-control col-xs-7 datepicker", @autocomplete = "off", @placeholder = "-- Select --", @data_provide = "datepicker" })
                                            @*@Html.DropDownListFor(m => m.Criteria.Year, Model.Criteria.ddYear, "-- Select --", new { @class = "form-control col-xs-7" })*@
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    @if (ViewContext.HttpContext.User.IsInRole("search"))
                                    {<button type="submit" class="btn btn-min-width btn-primary m-1" name="action:Search" id="btn-expoet-data" onclick="setdatabeforepost()">
                                            <i class="ficon ft-search"></i> Search
                                        </button>
                                    }
                                    @if (ViewContext.HttpContext.User.IsInRole("export"))
                                    {
                                        <button type="button" class="btn btn-min-width btn-primary m-1" id="btn-expoet-data" onclick="onExportTemplate()">
                                            <i class="ft-share"> </i>   Export Data
                                        </button>
                                    }
                                    <button type="button" class="btn btn-min-width btn-light btn-min-width m-1" id="btn-clear-all" onclick="clearfilter()">
                                        <i class="fa fa-refresh"></i> Clear All
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="row all-contacts">
            <div class="col-12">
                <div class="card">
                    <div class="card-head">
                        <div class="card-header" style="padding-bottom: 0;">
                            <div class="form-body ">
                                <h3 class="form-section">
                                    <i class="ft-file-text"></i>
                                    @if (!string.IsNullOrEmpty(Model.Criteria.PeriodType))
                                    {
                                        if (Model == null || Model.Result == null)
                                        {
                                            result = "Search Result";
                                        }
                                        else
                                        {
                                            if (Model.Criteria.PeriodType == "Year")
                                            {
                                                result = "Yearly report of " + Model.Criteria.Year;
                                            }
                                            else if (Model.Criteria.PeriodType == "Monthly")
                                            {
                                                result = "Monthly report of " + Model.Criteria.Year + " - " + Model.Criteria.TargetPeriod;
                                            }
                                            else if (Model.Criteria.PeriodType == "Quater")
                                            {
                                                result = "Quarterly report of " + Model.Criteria.Year + " - " + Model.Criteria.TargetPeriod;
                                            }
                                        }


                                    }
                                    @result
                                </h3>
                            </div>
                            <div class="row" style="display:none">
                                <div class="col-sm-4">
                                    @if (!string.IsNullOrEmpty(Model.Criteria.Year))
                                    {
                                        <h4 class="">Year : @Model.Criteria.Year</h4>
                                    }
                                </div>
                                <div class="col-sm-4">
                                    @if (!string.IsNullOrEmpty(Model.Criteria.PeriodType))
                                    {
                                        <h4 class="text-center">Period Type : @Model.Criteria.PeriodType</h4>
                                    }
                                </div>
                                <div class="col-sm-4">
                                    @if (!string.IsNullOrEmpty(Model.Criteria.TargetPeriod))
                                    {
                                        <h4 class="text-right">Target Period : @Model.Criteria.TargetPeriod</h4>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="card-body" style="padding-top:0px">
                            <!-- Task List table -->
                            @if (Model?.Result?.data.Any() ?? false)
                            {
                                <div class="collapse-icon kip-report left" style="overflow:auto">
                                    <table id="searchResultTable_Department" class="table table-hover table-bordered display" style="border: 2px solid #98a4b8;" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th rowspan="2" style="border-bottom: 2px solid #98a4b8;">KPI No.</th>
                                                <th rowspan="2" style="border-bottom: 2px solid #98a4b8;">Process/Movements/Offsites</th>
                                                @foreach (var Department in Model?.Result?.HeaderList ?? new List<string>())
                                                {
                                                    <th colspan="2" style="border-left: 2px solid #98a4b8;">@Department</th>

                                                }
                                            </tr>
                                            <tr>

                                                @foreach (var Department in Model?.Result?.HeaderList ?? new List<string>())
                                                {
                                                    <th style="border-bottom: 2px solid #98a4b8;border-left: 2px solid #98a4b8;">Aver. Score</th>
                                                    <th style="border-bottom: 2px solid #98a4b8;">KPI</th>
                                                }
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var data in Model?.Result?.data ?? new List<KPI_ONLINE.ViewModel.VpAndPomKPIResultReportViewModel.sp_vp_and_pom>())
                                            {
                                                <tr>
                                                    <td>@data.TKI_INDI_NO</td>
                                                    <td class="text-left">
                                                        @data.TKI_INDI_CAL_MODE
                                                       @if (Model.IndicatorNameList.Where(p => p.No == data.TKI_INDI_NO).Count() > 0 && Model.IndicatorNameList.Where(p => p.No == data.TKI_INDI_NO).FirstOrDefault().File != null)
                                                    {

                                                        <a href="data:application/octet-stream;base64,@Model.IndicatorNameList.Where(p => p.No == data.TKI_INDI_NO).FirstOrDefault().File" download="@Model.IndicatorNameList.Where(p => p.No == data.TKI_INDI_NO).FirstOrDefault().FileName" style="padding: unset;"><i class='fa fa-book'></i> </a>
                                                        @*<button type="button" class="btn btn-primary btn-modal-edit" data-action="SAVE" id="btn-modal-save">
            <i class="fa ft-save"></i> Save
        </button>*@
}
                                                                                                    </td>
                                                    @foreach (var Department in Model?.Result?.HeaderList ?? new List<string>())
                                                    {
                                                        decimal? score = null;
                                                        decimal? index = null;
                                                        if (Department == "EVPC")
                                                        {
                                                            score = data.EVPC_SCORE;
                                                            index = data.EVPC_INDEX_COLOR;
                                                        }
                                                        else if (Department == "MRVP")
                                                        {
                                                            score = data.MRVP_SCORE;
                                                            index = data.MRVP_INDEX_COLOR;
                                                        }
                                                        else if (Department == "MMVP")
                                                        {
                                                            score = data.MMVP_SCORE;
                                                            index = data.MMVP_INDEX_COLOR;
                                                        }
                                                        else if (Department == "MPVP")
                                                        {
                                                            score = data.MPVP_SCORE;
                                                            index = data.MPVP_INDEX_COLOR;
                                                        }
                                                        else if (Department == "APU-A")
                                                        {
                                                            score = data.APU_A_SCORE;
                                                            index = data.APU_A_INDEX_COLOR;
                                                        }
                                                        else if (Department == "APU-B")
                                                        {
                                                            score = data.APU_B_SCORE;
                                                            index = data.APU_B_INDEX_COLOR;
                                                        }
                                                        else if (Department == "APU-C")
                                                        {
                                                            score = data.APU_C_SCORE;
                                                            index = data.APU_C_INDEX_COLOR;
                                                        }
                                                        else if (Department == "APU-D(M)")
                                                        {
                                                            score = data.APU_DM_SCORE;
                                                            index = data.APU_DM_INDEX_COLOR;
                                                        }
                                                        else if (Department == "APU-D(O)")
                                                        {
                                                            score = data.APU_DO_SCORE;
                                                            index = data.APU_DO_INDEX_COLOR;
                                                        }
                                                        else if (Department == "APU-E")
                                                        {
                                                            score = data.APU_E_SCORE;
                                                            index = data.APU_E_INDEX_COLOR;
                                                        }
                                                        else if (Department == "APU-F")
                                                        {
                                                            score = data.APU_F_SCORE;
                                                            index = data.APU_F_INDEX_COLOR;
                                                        }
                                                        var font_color = "#ffffff";
                                                        var cssClass = "";
                                                        switch (index)
                                                        {
                                                            case 1:
                                                                cssClass = Model.ColorScaleCode.ColorCode1;
                                                                break;
                                                            case 2:
                                                                cssClass = Model.ColorScaleCode.ColorCode2;
                                                                font_color = "#000000";
                                                                break;
                                                            case 3:
                                                                cssClass = Model.ColorScaleCode.ColorCode3;
                                                                font_color = "#000000";
                                                                break;
                                                            case 4:
                                                                cssClass = Model.ColorScaleCode.ColorCode4;
                                                                break;
                                                            case 5:
                                                                cssClass = Model.ColorScaleCode.ColorCode5;
                                                                break;
                                                            default:
                                                                cssClass = "";// Model.ColorScaleCode.ColorCode1;
                                                                break;

                                                        }
                                                        <td style="border-left: 2px solid #98a4b8;">@score</td>
                                                        <td>
                                                            @if (index == null)
                                                            {

                                                            }
                                                            else
                                                            {
                                                                <div class="badge badge-primary badge-pill p-custom font-weight-bold" style="background-color:@cssClass;color:@font_color"> @index</div>
                                                            }

                                                        </td>
                                                    }
                                                </tr>

                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                            else
                            {
                                if (Model == null || Model.Result == null)
                                {

                                }
                                else
                                {
                                    <strong>
                                        No data available
                                    </strong>
                                }

                            }
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    @Html.Hidden("URL_GetTargetPeriod_DDL", Url.Action("GetTargetPeriodByPeriodTypeDDL", "VpAndPomKPIResultReport"))
}

<script>
    $(document).ready(function () {
        $(".datepicker").datepicker({
                                                        format: "yyyy",
            autoclose: true,
            viewMode: "years",
            minViewMode: "years"
        });

                                                    });


    var datatext
    var json
    var selectallChange = false
    function initialTreeview(id, selected) {
        datatext = $("#" + id + "Tree").val();
        json = JSON.parse(datatext);

        if (selected) {
            let split = selected.split('&').filter(function (c) { return c && c !== '|'; });
            if (split && split.length > 0) {

                $.each(json, function (index, element) {
                    if (split.indexOf(element.href.split('node-')[1]) >= 0) {
                        element.state.checked = true;
                    }
                });
            }

        }

        //id = kpi
        var tempdata = $("#" + id + "TreeId").val();
        var firsttime_check = true;
        var head_check = false;
        var checknode = "";
        var $checkableTree = $('#' + id + 'Treeview-checkable').treeview({
            data: json,
            showIcon: true,
            showCheckbox: true,
            color: "#428bca",
            expandIcon: 'ft-chevron-right',
            collapseIcon: 'ft-chevron-down',
            onNodeChecked: function (event, node) {
                
                if (node.href == "#node-select-all") {
                    var allnode = getAllNodes();
                    for (var i in allnode) {
                        selectallChange = true;
                        $(this).treeview(true).checkNode(allnode[i].nodeId);
                    }
                    selectallChange = false;
                    var allnode = getAllNodes();
                }
                else {
                    if (!selectallChange) {
                        var allnode = getAllNodes();
                    }

                }
            },
            onNodeUnchecked: function (event, node) {
                
                if (node.href == "#node-select-all") {
                    var allnode = getAllNodes();
                    for (var i in allnode) {
                        selectallChange = true;
                        $(this).treeview(true).uncheckNode(allnode[i].nodeId);
                    }
                    selectallChange = false;
                    var allnode = getAllNodes();
                }
                else {
                    if (!selectallChange) {
                        var allnode = getAllNodes();
                    }

                }

            }
        });
        $checkableTree.treeview('collapseAll', { silent: true });
    }

    function assignDropdown(id, data) {

        let html = ""
            , $obj = $("#" + id)
            , htmlDefault = "";
        $obj.children().remove();

        html = "<option value=''>"
        html += "-- Select --";
        html += "</option>";

        data.forEach(function (element) {
            html += "<option value='" + element.Value + "'>";
            html += element.Text;
            html += "</option>";
        });
        $obj.append(html);

    }
    function getAllNodes() {
        var treeViewObject = $('#departmentTreeview-checkable').data('treeview'),
            allCollapsedNodes = treeViewObject.getCollapsed(),
            allExpandedNodes = treeViewObject.getExpanded(),
            allNodes = allCollapsedNodes.concat(allExpandedNodes);

        for (var i = 0; i < allNodes.length; i++) {
            var node = allNodes[i];
            var id = node.href.replace("#node-", "");
            if (node.state.checked) {
                $('[three-target="' + id + '"]').show();
            } else {
                $('[three-target="' + id + '"]').hide();
            }
        }
        return allNodes;
    }

    function getTargetPeriodByPeriodTypeDDL($this) {
        try {
            let periodType = $($this).val() ? $($this).val() : "";

            loading();
            //
            let URL = $('#URL_GetTargetPeriod_DDL').val();
            $.getJSON(URL, { periodType: periodType },
                function (data) {
                    hideLoading();
                    if (data.isSuccess) {
                        $("#Criteria_TargetPeriod").prop('disabled', false);
                        assignDropdown("Criteria_TargetPeriod", data.result);
                        if (data.result.length == 0) {
                            $("#Criteria_TargetPeriod").prop('disabled', true);
                        }
                    }
                })
                .fail(function (err) {
                    hideLoading();
                    alert('fail.');
                });

        }
        catch (err) {
            alert('Error : ' + err.message);
        }
    }
    function setdatabeforepost() {
        loading();
        var treeViewObject = $('#departmentTreeview-checkable').data('treeview'),
            allCollapsedNodes = treeViewObject.getCollapsed(),
            allExpandedNodes = treeViewObject.getExpanded(),
            allNodes = allCollapsedNodes.concat(allExpandedNodes);

        for (var j = 0; j < json.length; j++) {
            for (var i = 0; i < allNodes.length; i++) {
                var node = allNodes[i];
                var js = json[j];
                if (node.href == js.href) {
                     json[j] = node;
                }
            }
        }
        $("#departmentTree").val(JSON.stringify(json));
        return JSON.stringify(allNodes);
    }
    function onExportTemplate() {
        loading();
        @*//var urls = '@Url.Action("ExportExcel", "ReportExcrusiveKPI",new { pPeriod_Type = "ddd", pTarget_Period = "ddd", pYear = "ddd" })';*@
        $.ajax({
            url: '@Url.Action("ExportExcel", "ReportExcrusiveKPI")',

            data: {
                "pPeriod_Type": $("#Criteria_PeriodType").val(),
                "pTarget_Period": $("#Criteria_TargetPeriod").val(),
                "pYear": $("#Criteria_Year").val(),
                "pTree": setdatabeforepost()
            },
            cache: false,
            type: "POST",
            success: function (data) {
                var urls = '@Url.Action("LoadExcel", "ReportExcrusiveKPI")' + "?file_path=" + data.FileName;
                //var urls = '@Url.Action("LoadExcel", "ReportExcrusiveKPI")'
                
                window.open(urls, '_blank');
                hideLoading();

            },
            error: function (reponse) {
                hideLoading();
                alert("error : " + reponse.error());

            }
        });
    }
    function clearfilter() {
        $(".filter-section select").val("")
        $(".filter-section input").val("")
        $("#Criteria_TargetPeriod").prop('disabled', true);
    }
    function onExportTemplate() {
            loading();
            $.ajax({
                url: '@Url.Action("ExportExcel", "VpAndPomKPIResultReport")',
                data: {
                    "pReportMode": $("#Criteria_ReportMode").val(),
                    "pPeriod_Type": $("#Criteria_PeriodType").val(),
                    "pTarget_Period": $("#Criteria_TargetPeriod").val(),
                    "pYear": $("#Criteria_Year").val()
                },
                cache: false,
                type: "POST",
                success: function (data) {
                    var urls = '@Url.Action("LoadExcel", "VpAndPomKPIResultReport")' + "?file_path=" + data.FileName;
                    
                    window.open(urls, '_blank');
                    hideLoading();

                },
                error: function (reponse) {
                    hideLoading();
                    alert("error : " + reponse.error());

                }
            });
        }
</script>
