﻿
@{
    ViewBag.Title = "401 Unauthorize";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/Content/error")
}



<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h3>Oops! Unauthorized</h3>
            <h1><span>4</span><span>0</span><span>1</span></h1>
        </div>
        <h2>we are sorry, but the page you access denied</h2>
    </div>
</div>


