﻿
@{
    ViewBag.Title = "500 Internal Server Error";
    Layout = "~/Views/Shared/_Layout.cshtml";

    @Styles.Render("~/Content/error")
}


<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h3>Oops! Internal server error</h3>
            <h1><span>5</span><span>0</span><span>0</span></h1>
        </div>
        <h2>we are sorry, please try again</h2>
    </div>
</div>
