﻿@model KPI_ONLINE.ViewModel.ReportExcrusiveKPIViewModel
@{
    /**/

    ViewBag.Title = "View";
    var result = "";
}

<style>
    .swap {
        display: inline-block;
        margin-top: 7px;
    }

        .swap i.up:before {
            content: '\25b2';
        }

        .swap i.down:before {
            content: '\25bc';
        }

    .p-custom {
        padding: 7px 15px;
    }

    h1,
    h2,
    h3 {
        font-weight: bold !important;
    }

    th, td {
        vertical-align: middle !important;
        padding: 0.75rem !important;
    }

    th {
        text-align: center;
        background-color: #D3E2F9; /*gainsboro;*/
    }

    .table-left {
        border-left: 2px solid #98a4b8;
    }

    .table-right {
        border-right: 2px solid #98a4b8;
    }

    .table-top {
        border-top: 2px solid #98a4b8;
    }

    .table-bottom {
        border-bottom: 2px solid #98a4b8;
    }
</style>
<div class="card" style="margin-bottom:0rem; padding:0.8rem">
    <h2 class="text-center">REPORT EXECUTIVE KPI</h2>
</div>
@using (Html.BeginForm("", "ReportExcrusiveKPI", FormMethod.Post, new { @class = "content-wrapper p-0 form-information", style = "position:relative" }))
{
    <!-- DEPARTMENT TREE -->
    <div class="sidebar-detached sidebar-left" style="position:fixed">
        <div class="sidebar">
            <div class="bug-list-sidebar-content">
                <!-- Predefined Views -->
                <div class="card">
                    <div class="card-head">
                        <div class="media">
                            <div class="media-body media-middle">
                                <h3 class="m-4">
                                    Data Authorize
                                </h3>

                            </div>
                        </div>
                    </div>

                    <!-- contacts view -->
                    <div class="card-body border-top-blue-grey border-top-lighten-5"
                         style="height:calc(100vh - 230px); overflow-y:scroll">
                        <div class="row match-height">
                            <fieldset class="col-md-12 ">
                                <div class="panel panel-default">
                                    <div class="panel-body ex1">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12">
                                                @Html.HiddenFor(model => model.Role_Detail.DepartmentTree, new { @id = "departmentTree", value = Model.Role_Detail.DepartmentTree })
                                                @Html.HiddenFor(model => model.Role_Detail.DepartmentTreeId, new { @id = "departmentTreeId", value = Model.Role_Detail.DepartmentTreeId })
                                                <div id="departmentTreeview-checkable" class="treeview"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <!--/ Predefined Views -->

            </div>
        </div>
    </div>
    <div class="content-detached content-right">
        <div class="content-body p-0">
            <div class="content-overlay"></div>
            <section class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="bug-list-search">
                                <div class="bug-list-search-content">
                                    <div class="sidebar-toggle d-block d-lg-none"><i class="ft-menu font-large-1"></i></div>
                                    <div class="form-body">
                                        <h3 class="form-section"><i class="ft-filter"></i> Filter Search</h3>
                                    </div>
                                    <div class="row form-group filter-section">
                                        <div class="col-12 col-xl-4 row mb-3 mb-xl-0">
                                            <div class="col-sm-5">
                                                <label class="m-2"> Period Type <span class="red">* </span></label>
                                            </div>
                                            <div class=" col-sm-7">
                                                @Html.DropDownListFor(m => m.Criteria.PeriodType, Model.Criteria.ddPeriodType, "-- Select --", new { @class = "form-control col-xs-7", @onchange = "getTargetPeriodByPeriodTypeDDL(this)" })
                                            </div>
                                        </div>
                                        <div class="col-12 col-xl-4 row mb-3 mb-xl-0">
                                            <div class="col-sm-5">
                                                <label class="m-2">Target Period <span class="red">* </span></label>
                                            </div>
                                            <div class=" col-sm-7">
                                                @if (Model.Criteria.ddTargetPeriod.Count > 0)
                                                {
                                                    @Html.DropDownListFor(m => m.Criteria.TargetPeriod, Model.Criteria.ddTargetPeriod, "-- Select --", new { @class = "form-control col-xs-7" })
                                                }
                                                else
                                                {
                                                    @Html.DropDownListFor(m => m.Criteria.TargetPeriod, Model.Criteria.ddTargetPeriod, "-- Select --", new { @class = "form-control col-xs-7", @disabled = "" })
                                                }
                                            </div>
                                        </div>
                                        <div class="col-12 col-xl-4 row mb-3 mb-xl-0">
                                            <div class="col-sm-5">
                                                <label class="m-2">Year <span class="red">* </span></label>
                                            </div>
                                            <div class=" col-sm-7">
                                                @Html.TextBoxFor(m => m.Criteria.Year, new { @class = "form-control col-xs-7 datepicker", @autocomplete = "off", @placeholder = "-- Select --", @data_provide = "datepicker" })
                                                @*@Html.DropDownListFor(m => m.Criteria.Year, Model.Criteria.ddYear, "-- Select --", new { @class = "form-control col-xs-7" })*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        @if (ViewContext.HttpContext.User.IsInRole("search"))
                                        {
                                            <button type="submit" class="btn btn-min-width btn-primary m-1" name="action:Search" id="btn-expoet-data" onclick="setdatabeforepost()">
                                                <i class="ficon ft-search"></i> Search
                                            </button>
                                        }
                                        @if (ViewContext.HttpContext.User.IsInRole("export"))
                                        {
                                            <button type="button" class="btn btn-min-width btn-primary m-1" id="btn-expoet-data" onclick="onExportTemplate()">
                                                <i class="ft-share"> </i>   Export Data
                                            </button>
                                        }
                                        @if (ViewContext.HttpContext.User.IsInRole("setting"))
                                        {
                                            <button type="button" class="btn btn-min-width btn-primary m-1" id="btn-reportconfig-data" data-toggle="modal" data-target="#default">
                                                <i class="fa fa-cog"></i>       Report Config
                                            </button>
                                        }
                                        <!-- Modal -->
                                        <div class="modal fade text-left" id="default" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
                                            <div class="modal-dialog modal-xl" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h3 class="modal-title">Report configuration</h3>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="form-body ">
                                                            <h3 class="form-section"><i class="ft-file-text"></i> Weight Years</h3>
                                                        </div>
                                                        <table class="table table-hover table-bordered display" id="reportConfigTable" cellspacing="0">
                                                            <thead>
                                                                <tr>
                                                                    <th>KPI Year</th>
                                                                    <th>Save By</th>
                                                                    <th>Save Date</th>
                                                                    <th>Manage</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="reportConfigTableBody"></tbody>
                                                        </table>
                                                    </div>
                                                    <div class="modal-body" style="padding-bottom: 5px!important;">
                                                        <div class="form-body ">
                                                            <h3 class="form-section" style="margin-bottom: 0px!important;"><i class="ft-file-text"></i> Weight Display Column</h3>
                                                        </div>
                                                    </div>
                                                    <div class="modal-body" style="min-height: 600px;">
                                                        <div class="row" style="min-height:50px;">
                                                            <div class="col-sm-4">
                                                                <table class="table table-bordered table-hover display" id="tableColumnSystem" cellspacing="0" style="table-layout:fixed">
                                                                    <thead>
                                                                        <tr>
                                                                            <th><span style="width:64px;min-width: 64px;" class="head-title">No.</span></th>
                                                                            <th><span style="width:182px;" class="head-title">Column Name</span></th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody></tbody>
                                                                </table>
                                                            </div>
                                                            <div class="col-sm-1" style="margin-top: 50px;">
                                                                <div style="height: 50px;">
                                                                    <button type="button" class="btn btn-min-width btn-info button-icon" onclick="onAddColSelected()"><i class="fa fa-angle-right"></i></button>
                                                                </div>
                                                                <div style="height: 80px;">
                                                                    <button type="button" class="btn btn-min-width btn-info button-icon" onclick="onRemoveColSelected()"><i class="fa fa-angle-left"></i></button>
                                                                </div>
                                                                <div style="height: 50px;">
                                                                    <button type="button" class="btn btn-min-width btn-info button-icon" onclick="onAddColAll()"><i class="fa fa-angle-double-right"></i></button>
                                                                </div>
                                                                <div style="height: 50px;">
                                                                    <button type="button" class="btn btn-min-width btn-info button-icon" onclick="onRemoveColAll()"><i class="fa fa-angle-double-left"></i></button>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-7">
                                                                <table class="table table-bordered table-hover display" id="tableColumnUserCustom" cellspacing="0" style="table-layout:fixed">
                                                                    <thead>
                                                                        <tr>
                                                                            <th><span style="width:40px; min-width: 40px;" class="head-title">Order</span></th>
                                                                            <th><span style="width:150px;" class="head-title">Column Name</span></th>
                                                                            <th><span style="width:150px;" class="head-title">Display Name</span></th>
                                                                            <th><span style="width: 57px;min-width: 57px;" class="head-title">Up/Down</span></th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody></tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                        <div class="form-body " style="    margin-top: 30px;">
                                                            <h3 class="form-section"><i class="ft-file-text"></i> Weight Display Values</h3>
                                                        </div>
                                                        <div class="row" style="overflow-x:auto;">
                                                            <div class="col-md-12">
                                                                <table class="table table-hover table-bordered display" id="indicatorTable" cellspacing="0">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>KPI No.</th>
                                                                            <th>Process/Movement/Offsites</th>
                                                                            <th>ASM</th>
                                                                            <th>LTO</th>
                                                                            <th>LTR</th>
                                                                            <th>JG 7-9</th>
                                                                            <th>JG 9-12</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody id="indicatorTableBody"></tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-body">
                                                        <h3 class="modal-title">Soft Kpi</h3>
                                                        <button type="button" class="btn btn-min-width btn-info" id="bnt-add-soft-kpi" data-year="" hidden>Add</button>

                                                    </div>
                                                    <div class="modal-body">
                                                        <table id="modal-table-indicator-name" class="table table-bordered table-hover" style="width:100%">
                                                            <thead>
                                                                <tr>
                                                                    <th rowspan="2" style="border-bottom: 2px solid #98a4b8; width: 70px; vertical-align: middle;">KPI No</th>
                                                                    <th rowspan="2" style="border-bottom: 2px solid #98a4b8; vertical-align: middle;">KPI Name</th>
                                                                    <th colspan="5" style="border-right: 2px solid #98a4b8;">Scale</th>
                                                                    <th colspan="5" style="border-right: 2px solid #98a4b8;">Weight</th>
                                                                    <th rowspan="2" style="border-bottom: 2px solid #98a4b8;vertical-align: middle;">Action</th>
                                                                </tr>
                                                                <tr>
                                                                    <th style="width: 70px;border-bottom: 2px solid #98a4b8;color:white; background-color:#F44336">1</th>
                                                                    <th style="width: 70px;border-bottom: 2px solid #98a4b8;color:white; background-color:#FFB300">2</th>
                                                                    <th style="width: 70px;border-bottom: 2px solid #98a4b8;color:white; background-color:#6FE173">3</th>
                                                                    <th style="width: 70px;border-bottom: 2px solid #98a4b8;color:white; background-color:#26A69A">4</th>
                                                                    <th style="width: 70px;border-bottom: 2px solid #98a4b8;border-right: 2px solid #98a4b8;color:white; background-color:#064FF2">5</th>
                                                                    <th style="width: 70px;">ASM</th>
                                                                    <th style="width: 70px;">LTO</th>
                                                                    <th style="width: 70px;">LTR</th>
                                                                    <th style="width: 70px;">JG7-8</th>
                                                                    <th style="width: 70px;">JG9-12</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="softkpidata">
                                                                @*<tr>
                                                                      <td>
                                                                          <input class="form-control" id="modal-indicator-no-1" onkeypress="return isNumber(event)" type="text" value="1" autocomplete="off">
                                                                      </td>
                                                                      <td style="text-align: left !important;">
                                                                          <input class="form-control" id="modal-indicator-txt-1" style="max-width:100% !important;text-align: left;" type="text" value="" autocomplete="off">
                                                                      </td>
                                                                      <td>
                                                                          <input class="form-control" id="modal-indicator-txt-1" style="max-width:100% !important;text-align: left;" type="text" value="" autocomplete="off">
                                                                      </td>
                                                                      <td>
                                                                          <input class="form-control" id="modal-indicator-txt-1" style="max-width:100% !important;text-align: left;" type="text" value="" autocomplete="off">
                                                                      </td>
                                                                      <td>
                                                                          <input class="form-control" id="modal-indicator-txt-1" style="max-width:100% !important;text-align: left;" type="text" value="" autocomplete="off">
                                                                      </td>
                                                                      <td>
                                                                          <input class="form-control" id="modal-indicator-txt-1" style="max-width:100% !important;text-align: left;" type="text" value="" autocomplete="off">
                                                                      </td>
                                                                      <td>
                                                                          <input class="form-control" id="modal-indicator-txt-1" style="max-width:100% !important;text-align: left;" type="text" value="" autocomplete="off">
                                                                      </td>
                                                                      <td>
                                                                          <input class="form-control" id="modal-indicator-txt-1" style="max-width:100% !important;text-align: left;" type="text" value="" autocomplete="off">
                                                                      </td>
                                                                      <td>
                                                                          <input class="form-control" id="modal-indicator-txt-1" style="max-width:100% !important;text-align: left;" type="text" value="" autocomplete="off">
                                                                      </td>
                                                                      <td>
                                                                          <input class="form-control" id="modal-indicator-txt-1" style="max-width:100% !important;text-align: left;" type="text" value="" autocomplete="off">
                                                                      </td>
                                                                      <td>
                                                                          <input class="form-control" id="modal-indicator-txt-1" style="max-width:100% !important;text-align: left;" type="text" value="" autocomplete="off">
                                                                      </td>
                                                                      <td>
                                                                          <input class="form-control" id="modal-indicator-txt-1" style="max-width:100% !important;text-align: left;" type="text" value="" autocomplete="off">
                                                                      </td>
                                                                      <td>

                                                                          <button type="button" class="btn btn-primary btn-modal-edit" data-action="SAVE" id="btn-modal-save">
                                                                              <i class="fa ft-save"></i> Save
                                                                          </button>
                                                                      </td>
                                                                    </tr>*@

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <!-- Footer -->
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-min-width btn-info" onclick="onSaveExcelConfig();">Save</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <button type="button" class="btn btn-min-width btn-light btn-min-width m-1" id="btn-clear-all" onclick="clearfilter()">
                                            <i class="fa fa-refresh"></i> Clear All
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="row all-contacts">
                <div class="col-12">
                    <div class="card">
                        <div class="card-head">
                            <div class="card-header" style="padding-bottom: 0;">
                                <div class="form-body ">
                                    <h3 class="form-section">
                                        <i class="ft-file-text"></i>
                                        @if (!string.IsNullOrEmpty(Model.Criteria.PeriodType))
                                        {
                                            if (Model == null || Model.Result == null)
                                            {
                                                result = "Search Result";
                                            }
                                            else
                                            {
                                                if (Model.Criteria.PeriodType == "Year")
                                                {
                                                    result = "Yearly report of " + Model.Criteria.Year;
                                                }
                                                else if (Model.Criteria.PeriodType == "Monthly")
                                                {
                                                    result = "Monthly report of " + Model.Criteria.Year + " - " + Model.Criteria.TargetPeriod;
                                                }
                                                else if (Model.Criteria.PeriodType == "Quater")
                                                {
                                                    result = "Quarterly report of " + Model.Criteria.Year + " - " + Model.Criteria.TargetPeriod;
                                                }
                                            }


                                        }
                                        @result
                                    </h3>
                                </div>
                                <div class="row" style="display:none">
                                    <div class="col-sm-4">
                                        @if (!string.IsNullOrEmpty(Model.Criteria.Year))
                                        {
                                            <h4 class="">Year : @Model.Criteria.Year</h4>
                                        }
                                    </div>
                                    <div class="col-sm-4">
                                        @if (!string.IsNullOrEmpty(Model.Criteria.PeriodType))
                                        {
                                            <h4 class="text-center">Period Type : @Model.Criteria.PeriodType</h4>
                                        }
                                    </div>
                                    <div class="col-sm-4">
                                        @if (!string.IsNullOrEmpty(Model.Criteria.TargetPeriod))
                                        {
                                            <h4 class="text-right">Target Period : @Model.Criteria.TargetPeriod</h4>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="card-body" style="padding-top:0px">
                                <!-- Task List table -->
                                <div class="collapse-icon kpi-report left">

                                    @if (Model == null || Model.Result == null)
                                    {

                                    }
                                    else if (!Model?.Result?.Any() ?? true)
                                    {
                                        <strong>
                                            No data available
                                        </strong>
                                    }
                                    @foreach (var department in Model?.Result?.OrderBy(x => x.DepartMentID == null ? 0 : int.Parse(x.DepartMentID)).ToList() ??
                                        new List<KPI_ONLINE.ViewModel.ReportExcrusiveKPIViewModel.SearchResult>())
                                    {
                                        foreach (var area in department.AreaList?.OrderBy(x => x.AreaID == null ? 0 : int.Parse(x.AreaID)).ToList() ??
                                        new List<KPI_ONLINE.ViewModel.ReportExcrusiveKPIViewModel.Area>())
                                        {
                                            foreach (var plant in area?.PlantList?.OrderBy(x => x.PlantID == null ? 0 : int.Parse(x.PlantID)).ToList() ??
                                        new List<KPI_ONLINE.ViewModel.ReportExcrusiveKPIViewModel.Plant>())
                                            {
                                                foreach (var shift in plant?.ShiftList?.OrderBy(x => x.ShiftID == null ? 0 : int.Parse(x.ShiftID)).ToList() ??
                                        new List<KPI_ONLINE.ViewModel.ReportExcrusiveKPIViewModel.Shift>())
                                                {
                                                    var table_id = "";
                                                    var text = "";
                                                    var subclass = "";
                                                    var three_id = "";
                                                    var isshow = "false";
                                                    if (string.IsNullOrEmpty(department.DepartMent))
                                                    {
                                                        text = ("<strong style='font-size:1.25rem;'> All > (EVPM)</strong>");
                                                        table_id = "area_all_" + shift.ShiftID;
                                                        subclass = "show";
                                                        three_id = "department_1";
                                                        isshow = "true";
                                                    }
                                                    else if (area.AreaName == null)
                                                    {
                                                        text = "<strong style='font-size:1.25rem;'>" + department.DepartMent + " (All)</strong>";
                                                        table_id = "area_all_" + shift.ShiftID;
                                                        //subclass = "kpi-header-sub-1";
                                                        three_id = "department_" + shift.ShiftID;
                                                    }
                                                    else if (plant.PlantName == null)
                                                    {
                                                        text = "<strong style='color:#cccccc'>" + department.DepartMent + " >" + "</strong>" + " <strong style='font-size:1.25rem;'>" + area.AreaName + " (All)</strong>";

                                                        table_id = "planr_all_" + shift.ShiftID;
                                                        //subclass = "kpi-header-sub-2";
                                                        three_id = "area_" + shift.ShiftID;
                                                    }
                                                    else if (shift.ShiftName == null)
                                                    {
                                                        text = "<strong style='color:#cccccc'>" + department.DepartMent + " > " + area.AreaName + " >" + "</strong>" + " <strong style='font-size:1.25rem;'>" + plant.PlantName + " (All)</strong>";
                                                        table_id = "shift_all_" + shift.ShiftID;
                                                        //subclass = "kpi-header-sub-3";
                                                        three_id = "plant_" + shift.ShiftID;
                                                    }
                                                    else
                                                    {
                                                        text = "<strong style='color:#cccccc'>" + department.DepartMent + " > " + area.AreaName + " > " + plant.PlantName + " ></strong> <strong style='font-size:1.25rem;'>" + shift.ShiftName + "</strong>";
                                                        table_id = "shift_" + shift.ShiftID;
                                                        //subclass = "kpi-header-sub-3";
                                                        three_id = table_id;
                                                    }

                                                    <div three-target="@three_id">
                                                        <div class="card-header kpi-report-header  border-header @subclass">
                                                            <a data-toggle="collapse" href="#@table_id" style="font-weight:unset !important; font-size:1rem;"
                                                               aria-expanded="@isshow" aria-controls="@table_id" class="h3 lead collapsed ">
                                                                @Html.Raw(text)
                                                            </a>
                                                        </div>
                                                        <div id="@table_id" class="table-responsive collapse @subclass">
                                                            <table class="table table-hover table-bordered display" style="border: 2px solid #98a4b8;" cellspacing="0">
                                                                <tbody>
                                                                    <tr>
                                                                        <th rowspan="2" style="border-bottom: 2px solid #98a4b8;">KPI No</th>
                                                                        <th rowspan="2" style="border-bottom: 2px solid #98a4b8;">Process/Movement offsites</th>
                                                                        <th rowspan="2" style="border-bottom: 2px solid #98a4b8;border-left: 2px solid #98a4b8;border-right: 2px solid #98a4b8;">Actual</th>
                                                                        <th colspan="5" style="border-right: 2px solid #98a4b8;">Scale</th>
                                                                        @if (Model.ColumnWeight?.Any() ?? false)
                                                                        {
                                                                            <th colspan="@Model.CountWeightCol">Weight</th>
                                                                        }
                                                                    </tr>
                                                                    <tr>
                                                                        <th style="border-bottom: 2px solid #98a4b8;min-width:65px;color:white; background-color:@Model.ColorScaleCode.ColorCode1">1</th>
                                                                        <th style="border-bottom: 2px solid #98a4b8;min-width:65px;color:black; background-color:@Model.ColorScaleCode.ColorCode2">2</th>
                                                                        <th style="border-bottom: 2px solid #98a4b8;min-width:65px;color:black; background-color:@Model.ColorScaleCode.ColorCode3">3</th>
                                                                        <th style="border-bottom: 2px solid #98a4b8;min-width:65px;color:white; background-color:@Model.ColorScaleCode.ColorCode4">4</th>
                                                                        <th style="border-bottom: 2px solid #98a4b8;min-width:65px;border-right: 2px solid #98a4b8;color:white; background-color:@Model.ColorScaleCode.ColorCode5">5</th>
                                                                        @if (Model.ColumnWeight?.Any() ?? false)
                                                                        {
                                                                            foreach (var colW in Model.ColumnWeight)
                                                                            {
                                                                                <th style="border-bottom: 2px solid #98a4b8;">@colW.Value</th>
                                                                            }
                                                                        }
                                                                    </tr>
                                                                    @foreach (var detail in shift.Detail)
                                                                    {
                                                                        <tr>
                                                                            <td>@detail.NO</td>
                                                                            <td class="text-left">
                                                                                <div>
                                                                                    @detail.Area

                                                                                    @if (Model.IndicatorNameList.Where(p => p.No == detail.NO).Count() > 0 && Model.IndicatorNameList.Where(p => p.No == detail.NO).FirstOrDefault().File != null)
                                                                                    {

                                                                                        <a href="data:application/octet-stream;base64,@Model.IndicatorNameList.Where(p => p.No == detail.NO).FirstOrDefault().File" download="@Model.IndicatorNameList.Where(p => p.No == detail.NO).FirstOrDefault().FileName" style="padding: unset;"><i class='fa fa-book'></i> </a>
                                                                                        @*<button type="button" class="btn btn-primary btn-modal-edit" data-action="SAVE" id="btn-modal-save">
                                                                                                <i class="fa ft-save"></i> Save
                                                                                            </button>*@
                                                                                    }

                                                                                </div>
                                                                            </td>
                                                                            <td style="border-left: 2px solid #98a4b8;border-right: 2px solid #98a4b8;background-color: #F2F2FC;font-weight:bold"> @detail.ActualScore</td>
                                                                            <td>
                                                                                <div class="@(detail.KpiScore == 1 ?("badge badge-primary badge-pill p-custom font-weight-bold") :"")"
                                                                                     style="background-color:@(detail.KpiScore == 1 ? detail.ColorCode :"-")">
                                                                                    @detail.Scale1
                                                                                </div>
                                                                            </td>
                                                                            <td>
                                                                                <div class=" @(detail.KpiScore == 2 ?("badge badge-primary badge-pill p-custom font-weight-bold") :"")"
                                                                                     style="color:black; background-color:@(detail.KpiScore == 2 ? detail.ColorCode :"-")">
                                                                                    @detail.Scale2
                                                                                </div>
                                                                            </td>
                                                                            <td>
                                                                                <div class=" @(detail.KpiScore == 3 ?("badge badge-primary badge-pill p-custom font-weight-bold") :"")"
                                                                                     style="color:black; background-color:@(detail.KpiScore == 3 ? detail.ColorCode :"-")">
                                                                                    @detail.Scale3
                                                                                </div>
                                                                            </td>
                                                                            <td>
                                                                                <div class=" @(detail.KpiScore == 4 ?("badge badge-primary badge-pill p-custom font-weight-bold") :"")"
                                                                                     style="background-color:@(detail.KpiScore == 4 ? detail.ColorCode :"-")">
                                                                                    @detail.Scale4
                                                                                </div>
                                                                            </td>
                                                                            <td style="border-right: 2px solid #98a4b8;">
                                                                                <div class=" @(detail.KpiScore == 5 ?("badge badge-primary badge-pill p-custom font-weight-bold") :"")"
                                                                                     style="background-color:@(detail.KpiScore == 5 ? detail.ColorCode :"-")">
                                                                                    @detail.Scale5
                                                                                </div>
                                                                            </td>
                                                                            @foreach (var colW in Model.ColumnWeight)
                                                                            {
                                                                                var colValue = "";
                                                                                switch (colW.Key)
                                                                                {
                                                                                    case "ASM":
                                                                                        colValue = detail.WeightASM;
                                                                                        break;
                                                                                    case "LTO":
                                                                                        colValue = detail.WeightLTO;
                                                                                        break;
                                                                                    case "LTR":
                                                                                        colValue = detail.WeightLTR;
                                                                                        break;
                                                                                    case "JG 7-8":
                                                                                        colValue = detail.WeightJG7_8;
                                                                                        break;
                                                                                    case "JG 9-12":
                                                                                        colValue = detail.Weight9_12;
                                                                                        break;

                                                                                }
                                                                                <td>@colValue</td>
                                                                            }


                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    @Html.Hidden("URL_GetTargetPeriod_DDL", Url.Action("GetTargetPeriodByPeriodTypeDDL", "ReportExcrusiveKPI"))
}

<script>
    $(document).ready(function () {
                                                                                setPeriodType('Criteria_PeriodType', 'Criteria_TargetPeriod');
                                                                                //DEPARTMENT
                                                                                initialTreeview("department");
                                                                                setfilter();
        $(".datepicker").datepicker({
                                                                                format: "yyyy",
            autoclose: true,
            viewMode: "years",
            minViewMode: "years"
        }).on('changeDate',function (ev) {
                $to.removeClass('input-validation-error').addClass('valid');
                $from.removeClass('input-validation-error').addClass('valid');
                                                                                });
                                                                            });
    var datatext
    var json
    var selectallChange = false
    function initialTreeview(id, selected) {
        datatext = $("#" + id + "Tree").val();
        json = JSON.parse(datatext);

        if (selected) {
            let split = selected.split('&').filter(function (c) { return c && c !== '|'; });
            if (split && split.length > 0) {

                $.each(json, function (index, element) {
                    if (split.indexOf(element.href.split('node-')[1]) >= 0) {
                        element.state.checked = true;
                    }
                });
            }

        }

        //id = kpi
        var tempdata = $("#" + id + "TreeId").val();
        var firsttime_check = true;
        var head_check = false;
        var checknode = "";
        var $checkableTree = $('#' + id + 'Treeview-checkable').treeview({
            data: json,
            showIcon: true,
            showCheckbox: true,
            color: "#428bca",
            expandIcon: 'ft-chevron-right',
            collapseIcon: 'ft-chevron-down',
            onNodeChecked: function (event, node) {

                if (node.href == "#node-select-all") {
                    var allnode = getAllNodes();
                    for (var i in allnode) {
                        selectallChange = true;
                        $(this).treeview(true).checkNode(allnode[i].nodeId);
                    }
                    selectallChange = false;
                }
                else {
                    var id = node.href.replace("#node-", "");
                    $('[three-target="' + id + '"]').show();
                }
            },
            onNodeUnchecked: function (event, node) {

                if (node.href == "#node-select-all") {
                    var allnode = getAllNodes();
                    for (var i in allnode) {
                        selectallChange = true;
                        $(this).treeview(true).uncheckNode(allnode[i].nodeId);
                    }
                    selectallChange = false;

                }
                else {
                    var id = node.href.replace("#node-", "");
                    $('[three-target="' + id + '"]').hide();
                }

            }
        });
        $checkableTree.treeview('collapseAll', { silent: true });
    }

    function assignDropdown(id, data) {

        let html = ""
            , $obj = $("#" + id)
            , htmlDefault = "";
        $obj.children().remove();

        html = "<option value=''>"
        html += "-- Select --";
        html += "</option>";

        data.forEach(function (element) {
            html += "<option value='" + element.Value + "'>";
            html += element.Text;
            html += "</option>";
        });
        $obj.append(html);

    }
    function getAllNodes() {
        var treeViewObject = $('#departmentTreeview-checkable').data('treeview'),
            allCollapsedNodes = treeViewObject.getCollapsed(),
            allExpandedNodes = treeViewObject.getExpanded(),
            allNodes = allCollapsedNodes.concat(allExpandedNodes);
    }
    function setfilter() {
        allNodes = getAllNodes();
        for (var i = 0; i < allNodes.length; i++) {
            var node = allNodes[i];
            var id = node.href.replace("#node-", "");
            if (node.state.checked) {
                var id = node.href.replace("#node-", "");
                $('[three-target="' + id + '"]').show();
            }
            else {
                var id = node.href.replace("#node-", "");
                $('[three-target="' + id + '"]').hide();
            }
        }
    }
    function getAllNodes() {

        var treeViewObject = $('#departmentTreeview-checkable').data('treeview')
        allCollapsedNodes = treeViewObject.getCollapsed()
        allExpandedNodes = treeViewObject.getExpanded()
        allNodes = allCollapsedNodes.concat(allExpandedNodes)
        return allNodes;
    }

    function getTargetPeriodByPeriodTypeDDL($this) {
        try {
            let periodType = $($this).val() ? $($this).val() : "";

            loading();
            //
            let URL = $('#URL_GetTargetPeriod_DDL').val();
            $.getJSON(URL, { periodType: periodType },
                function (data) {
                    hideLoading();
                    if (data.isSuccess) {
                        $("#Criteria_TargetPeriod").prop('disabled', false);
                        assignDropdown("Criteria_TargetPeriod", data.result);
                        if (data.result.length == 0) {
                            $("#Criteria_TargetPeriod").prop('disabled', true);
                        }
                    }
                })
                .fail(function (err) {
                    hideLoading();
                    alert('fail.');
                });

        }
        catch (err) {
            alert('Error : ' + err.message);
        }
    }
    function setdatabeforepost() {
        loading();
        var treeViewObject = $('#departmentTreeview-checkable').data('treeview'),
            allCollapsedNodes = treeViewObject.getCollapsed(),
            allExpandedNodes = treeViewObject.getExpanded(),
            allNodes = allCollapsedNodes.concat(allExpandedNodes);

        for (var j = 0; j < json.length; j++) {
            for (var i = 0; i < allNodes.length; i++) {
                var node = allNodes[i];
                var js = json[j];
                if (node.href == js.href) {
                    json[j] = node;
                }
            }
        }
        $("#departmentTree").val(JSON.stringify(json));
        return JSON.stringify(allNodes);
    }
    function onExportTemplate() {
        loading();
        @*//var urls = '@Url.Action("ExportExcel", "ReportExcrusiveKPI",new { pPeriod_Type = "ddd", pTarget_Period = "ddd", pYear = "ddd" })';*@
        $.ajax({
            url: '@Url.Action("ExportExcel", "ReportExcrusiveKPI")',
            data: {
                "pPeriod_Type": $("#Criteria_PeriodType").val(),
                "pTarget_Period": $("#Criteria_TargetPeriod").val(),
                "pYear": $("#Criteria_Year").val(),
                "pTree": setdatabeforepost()
            },
            cache: false,
            type: "POST",
            success: function (data) {
                var urls = '@Url.Action("LoadExcel", "ReportExcrusiveKPI")' + "?file_path=" + data.FileName;

                window.open(urls, '_blank');
                hideLoading();

            },
            error: function (reponse) {
                hideLoading();
                alert("error : " + reponse.error());

            }
        });
    }
    function clearfilter() {
        $(".filter-section select").val("");
        $(".filter-section input").val("");

        $("#Criteria_TargetPeriod").prop('disabled', true);
    }
</script>
@*EXCEL CONFIG*@
<script>
    var SelectYear = "@(DateTime.Now.Year)";
    @*var summaryCache = {
        Model: @Html.Raw(Json.Encode(Model))
    };*@
    // Change method by Aon 181214
    var summaryCache = {
        Model: {
            "Template": @Html.Raw(Json.Encode(Model.Template))
        }
    };

    var displayList = [];
    var display = {
        Order: 1,
        FieldName: "ASM",
        ColumnName: "ASM",
        DisplayName: "ASM",
        IsEnabled: true
    };
    displayList.push(display);
    display = {
        Order: 2,
        FieldName: "LTR",
        ColumnName: "LTR",
        DisplayName: "LTR",
        IsEnabled: true
    };
    displayList.push(display);
    display = {
        Order: 3,
        FieldName: "LTO",
        ColumnName: "LTO",
        DisplayName: "LTO",
        IsEnabled: true
    };
    displayList.push(display);
    display = {
        Order: 4,
        FieldName: "JG 7-8",
        ColumnName: "JG 7-8",
        DisplayName: "JG 7-8",
        IsEnabled: true
    };
    displayList.push(display);
    display = {
        Order: 5,
        FieldName: "JG 9-12",
        ColumnName: "JG 9-12",
        DisplayName: "JG 9-12",
        IsEnabled: true
    };
    displayList.push(display);

    var datatableOpt = { "retrieve": true, "autoWidth": true, "bInfo": false, "paging": false, "searching": false, "scrollCollapse": true, "orderable": false, "bSort": false };

    $(function () {

        $(document).on('click', '.up', function () {
            var row = $(this).parents("tr:first");
            row.insertBefore(row.prev());
            $("#tableColumnUserCustom tbody tr").each(function () {
                let _no = $(this).index() + 1;
                $(this).attr('data-order', _no);
                $(this).find("td").first().find("label").text(_no);
            });
        });
        $(document).on('click', '.down', function () {
            var index = 0;
            var row = $(this).parents("tr:first");
            row.insertAfter(row.next());
            $("#tableColumnUserCustom tbody tr").each(function () {
                let _no = $(this).index() + 1;
                $(this).attr('data-order', _no);
                $(this).find("td").first().find("label").text(_no);
            });
        });
        $(document).on('click', '#tableColumnSystem tbody tr', function () {
            $('.selected').removeClass('selected');
            $(this).addClass("selected");
        });
        $(document).on('click', '#tableColumnUserCustom tbody tr', function () {
            $('.selected').removeClass('selected');
            $(this).addClass("selected");
        });

        onGetDefaultConfigReportKPIExcusive();
    });

    //function onExcelConfig() {
    //    // Open modal dialog with redraw table
    //    $('#dgExcelConfig').modal({ backdrop: 'static', keyboard: false }).on('shown.bs.modal', function (e) {
    //        let configs = getUserSelectedTemplateConfig();
    //        //GetTable Report Config
    //        onGetDefaultConfigReportKPIExcusive();
    //        //
    //        renderTemplateConfig(configs);
    //    });
    //}
    function onGetDefaultConfigReportKPIExcusive(year) {
        debugger;
        SelectYear = year;
        $.ajax({
            url: '@Url.Action("GetDefaultConfigReportKPIExcusive", "ReportExcrusiveKPI")',
            data: {
                "year": year,
            },
            cache: false,
            type: "POST",
            success: function (data) {
                //
                //data.result.TableDisplayConfig;
                if (year != null) {
                    summaryCache.Model.Template = data.result.Template;
                }

                renderTableColumnUserCustom();
                renderTableColumnSystem();

                renderIndicatorTable(data.result.TableIndicatorConfig);
                renderReportConfigTable(data.result.TableReportConfig, data.result.Year);
                debugger;
                $("#bnt-add-soft-kpi").attr("data-year", data.result.Year);
                renderSoftKPIs(data.result.SoftKPIs);
                hideLoading();
            },
            error: function (reponse) {
                hideLoading();
                alert("error : " + reponse.error());
            }
        });
    }

    function renderTableColumnSystem(columns) {
        let columnSystem = columns == null ? summaryCache.Model.Template.SystemConfig : columns;
        let columnUser = summaryCache.Model.Template.UserConfig;

        let table = $('#tableColumnSystem').DataTable(datatableOpt);
        if (columnSystem != null) {
            let rowset = '';
            for (let i = 0; i < columnSystem.length; i++) {
                let item = columnSystem[i];
                let detail = columns == null ? $.grep(columnUser, function (e) { return e.FieldName == item.FieldName; })[0] : null;
                if (detail == null && item.IsEnabled) {
                    rowset += '<tr class="field-detail" data-order="' + item.Order + '" data-field="' + item.FieldName + '">';
                    rowset += '<td style="width: 50px;"><label>' + item.Order + '</label></td>';
                    rowset += '<td style="width:170px;"><label style="float:left;margin-left:10px;">' + item.ColumnName + '</label></td>';
                    rowset += '</tr>';
                }
            }
            table.clear().draw();
            table.rows.add($(rowset)).draw();
            runColNumber('tableColumnSystem');
        }
        else {
            table.clear().draw();
        }
    }
    function renderTableColumnUserCustom(columns) {
        console.log("right", columns);
        let columnSystem = summaryCache.Model.Template.SystemConfig;
        let columnUser = columns == null ? summaryCache.Model.Template.UserConfig : columns;

        let table = $('#tableColumnUserCustom').DataTable(datatableOpt);
        if (columnUser != null) {
            let rowset = '';
            for (let i = 0; i < columnUser.length; i++) {
                let item = columnUser[i];
                let detail = $.grep(columnSystem, function (e) { return e.FieldName == item.FieldName; })[0];
                //if (detail != null && detail.IsEnabled) {
                    let displayName = item.DisplayName == null ? '' : item.DisplayName;
                    rowset += '<tr class="field-detail" data-order="' + item.Order + '" data-field="' + item.FieldName + '">';
                    rowset += '<td style="width: 64px;"><label>' + item.Order + '</label></td>';
                    rowset += '<td style="width:150px;"><label style="float:left;margin-left:10px;">' + item.ColumnName + '</label></td>';
                    rowset += '<td style="width:150px;"><input type="text" class="form-control essential displayName" value="' + displayName + '" /></td>';
                    rowset += '<td style="width: 57px;"><span class="swap"><i class="up"></i><i class="down"></i></span></td>';
                    rowset += '</tr>';
                //}
            }
            table.clear().draw();
            table.rows.add($(rowset)).draw();
            runColNumber('tableColumnUserCustom');
        }
        else {
            table.clear().draw();
        }
    }
    function onAddColSelected() {
        let columnSystem = summaryCache.Model.Template.SystemConfig;

        let tableId = 'tableColumnSystem';
        // Find selected item
        let $selected = $('#' + tableId).find('.selected');
        let selectedField = $selected.attr('data-field');
        let detail = $.grep(columnSystem, function (e) { return e.FieldName == selectedField; })[0];
        if (detail != null) {
            // Remove selected item
            $('#' + tableId).DataTable().row($selected).remove().draw();
            runColNumber(tableId);

            // Get user's column except system column
            let columns = getUserSelectedTemplateConfig(detail);
            renderTableColumnUserCustom(columns);
        }
    }
    function onRemoveColSelected() {
        let columnSystem = summaryCache.Model.Template.SystemConfig;
        let tableId = 'tableColumnUserCustom';
        // Find selected item
        let $selected = $('#' + tableId).find('.selected');
        let selectedField = $selected.attr('data-field');
        let detail = $.grep(columnSystem, function (e) { return e.FieldName == selectedField; })[0];
        if (detail != null) {
            // Remove selected item
            $('#' + tableId).DataTable().row($selected).remove().draw();
            runColNumber(tableId);

            let userTemplate = getTemplateResult(tableId);
            // Get system column except user's column
            let columns = $.grep(columnSystem, function (e) {
                let match = $.grep(userTemplate, function (t) { return t.FieldName == e.FieldName; })[0];
                return match == null;
            });
            renderTableColumnSystem(columns);
        }
    }
    //function onLoadDefaultConfig() {
    //    renderTemplateConfig(summaryCache.Model.Template.DefaultConfig);
    //}
    //function onLoadUserConfig() {
    //    renderTemplateConfig(summaryCache.Model.Template.UserConfig);
    //}
    function renderTemplateConfig(userTemplate) {
        $('#tableColumnSystem').DataTable().clear().draw();

        let columnSystem = summaryCache.Model.Template.SystemConfig;
        // Get system column except user's column
        let columns = $.grep(columnSystem, function (e) {
            let match = $.grep(userTemplate, function (t) { return t.FieldName == e.FieldName; })[0];
            return match == null;
        });
        renderTableColumnSystem(columns);
        renderTableColumnUserCustom(userTemplate);
    }
    function onAddColAll() {
        $('#tableColumnSystem').DataTable().clear().draw();
        renderTableColumnUserCustom(summaryCache.Model.Template.SystemConfig);
    }
    function onRemoveColAll() {
        $('#tableColumnUserCustom').DataTable().clear().draw();
        renderTableColumnSystem(summaryCache.Model.Template.SystemConfig);
    }
    function runColNumber(tableId) {
        $('#' + tableId + ' tbody tr').each(function () {
            let _no = $(this).index() + 1;
            $(this).attr('data-order', _no);
            $(this).find("td").first().children("label").text(_no);
        });
    }
    function getTemplateResult(tableId) {
        let result = $('#' + tableId + ' tr.field-detail').map(function () {
            return {
                Order: parseInt($(this).attr('data-order')),
                FieldName: $(this).attr('data-field'),
                DisplayName: $(this).find('.displayName').val(),
            };
        }).get();
        return result;
    }
    function getUserSelectedTemplateConfig(selectedField) {
        let columnSystem = summaryCache.Model.Template.SystemConfig;
        let userTemplate = getTemplateResult('tableColumnUserCustom');

        // Add selected field
        if (selectedField != null) {
            let field = $.extend(true, {}, selectedField);
            field.Order = userTemplate.length + 1;
            userTemplate.push(field);
        }
        // Get user's column except system column
        let columns = $.map(userTemplate, function (e) {
            let match = $.grep(columnSystem, function (t) { return t.FieldName == e.FieldName; })[0];
            let result = null;
            if (match != null) {
                result = $.extend(true, {}, match);
                result.Order = e.Order;
                result.DisplayName = e.DisplayName == null || e.DisplayName == '' ? match.DisplayName : e.DisplayName;
                result.IsEnabled = true;
            }
            return result;
        });
        columns.sort(function (a, b) { return a.Order - b.Order });
        return columns;
    }

    function OpenBoxBungerPrompt(message, funcCallback) {
        bootbox.confirm({
            message: "Are you sure to " + message + "?",
            buttons: { confirm: { label: 'Yes', }, cancel: { label: 'No', } },
            callback: function (result) {
                $(this).hide();
                if (result) {
                    if (funcCallback != null && typeof (funcCallback) == 'function') {
                        funcCallback();
                    }
                }
            }
        });
    }

    function onSaveExcelConfig() {
        var ConfigKPIIndator = {
            TableDisplayConfig: [],
            TableIndicatorConfig: [],
            TableReportConfig: []
        };

        var index = 1;
        $('#tableColumnUserCustom tr').each(function () {
            if ($(this).attr("data-field") != null) {
                var DisplayConfig = {
                    Order: index,
                    FieldName: $(this).attr("data-field"),
                    ColumnName: $(this).attr("data-field"),
                    DisplayName: $(this).find("td input").val(),
                    IsEnabled: true
                };
                ConfigKPIIndator.TableDisplayConfig.push(DisplayConfig);
                index++;
            }
        });

        $('#indicatorTable tr').each(function () {
            if ($(this).attr("data-id") != null) {
                var IndicatorConfig = {
                    TKWCId: $(this).attr("data-wcid"),
                    TKINId: $(this).attr("data-id"),
                    TKINName: $(this).attr("data-name"),
                    ASM: $("#ASM_" + $(this).attr("data-id")).val(),
                    LTO: $("#LTO_" + $(this).attr("data-id")).val(),
                    LTR: $("#LTR_" + $(this).attr("data-id")).val(),
                    JG7_8: $("#JG7_8_" + $(this).attr("data-id")).val(),
                    JG9_12: $("#JG9_12_" + $(this).attr("data-id")).val(),
                }
                ConfigKPIIndator.TableIndicatorConfig.push(IndicatorConfig);
            }
        });

        $('#reportConfigTable tr').each(function () {
            if ($(this).attr("data-year") != null) {
                var ReportConfig = {
                    Year: $(this).attr("data-year"),
                    CreateBy: $(this).attr("data-createBy"),
                    CreateDate: $(this).attr("data-createDate"),
                    CreateDateEx: $(this).attr("data-createDateEx"),
                    TKRCId: $(this).attr("data-id"),
                    ReportName: $(this).attr("data-reportName")
                }
                ConfigKPIIndator.TableReportConfig.push(ReportConfig);
            }
        });

        //alert(JSON.stringify(ConfigKPIIndator));
        console.log(ConfigKPIIndator);
        $.ajax({
            url: '@Url.Action("SaveExcelConfig", "ReportExcrusiveKPI")',
            data: {
                year: SelectYear,
                model: JSON.stringify(ConfigKPIIndator),
            },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.isSuccess) {
                    alertSucess();
                } else {
                    alertError();
                }
            },
            error: function (reponse) {
                hideLoading();
                alert("error : " + reponse.error());
            }
        });
    }

    function onLoadingProcess() {
        LoadingProcess();
        $('.bootbox button').hide();
    }

    function onExportExcel() {
        let configs = getUserSelectedTemplateConfig();
        if (configs == null || configs.length == 0) {
            configs = summaryCache.Model.Template.DefaultConfig;
        }

        if (summaryCache.Model.HedgeDealSummaryResults.length == 0) {
            OpenBoxPopup("Summary result was not found.<br/>Please search before export data");
            return;
        }

        if (configs.length < 3) {
            OpenBoxPopup("Require minimum 3 fields !");
            return;
        }

        // Custom color here !!!
        // let color = {ArgbTitle: -7876885, ArgbPackage: -7278960, ArgbTableHeader: -5247250, ArgbTableColumnNo: -2031617};
        let color = summaryCache.Model.ExcelColor;

        let data = { HedgeDealSummaryResults: summaryCache.Model.HedgeDealSummaryResults, UserConfig: configs, Color: color};
        let success = function (data) {
            HideLoadingBox();
            if (data.success) {
                window.location = '@Url.Action("DownloadReport", "HedgeDeal")' + '?fileid=' + data.fileid;
            }
            else if (data.message != '') {
                OpenBoxPopup(data.message);
            }
        };
        let error = function (reponse) { HideLoadingBox(); };
        onLoadingProcess();
        $.ajax({ url: '@Url.Action("ExportExcel", "HedgeDeal")', data: data  , cache: false, type: "POST", success: success, error: error  });
    }

    function onTenorTypesChange() {
        if (document.getElementById("Criteria_TenorTypes_1__IsSelected").checked) {
            $("#Criteria_TenorTypes_2__IsSelected").prop('checked', true);
            $("#Criteria_TenorTypes_3__IsSelected").prop('checked', true);
        }
        else {
            $("#Criteria_TenorTypes_2__IsSelected").prop('checked', false);
            $("#Criteria_TenorTypes_3__IsSelected").prop('checked', false);
        }
    }
    function onTenorTypesConsecutiveChange() {
        if (document.getElementById("Criteria_TenorTypes_2__IsSelected").checked) {
            $("#Criteria_TenorTypes_1__IsSelected").prop('checked', true);
        }
        else {
            if (!document.getElementById("Criteria_TenorTypes_3__IsSelected").checked)
            $("#Criteria_TenorTypes_1__IsSelected").prop('checked', false);
        }
    }
    function onTenorTypesNonConsecutiveChange() {
        if (document.getElementById("Criteria_TenorTypes_3__IsSelected").checked) {
            $("#Criteria_TenorTypes_1__IsSelected").prop('checked', true);
        }
        else {
            if (!document.getElementById("Criteria_TenorTypes_2__IsSelected").checked)
            $("#Criteria_TenorTypes_1__IsSelected").prop('checked', false);
        }
    }
    function renderIndicatorTable(TableIndicatorConfig) {
        $("#indicatorTableBody").empty();
        var html = "";
        for (var i = 0; i < TableIndicatorConfig.length; i++) {
            html += "<tr data-id='" + TableIndicatorConfig[i].TKINId + "' data-name='" + TableIndicatorConfig[i].TKINName + "' data-wcid='" + TableIndicatorConfig[i].TKWCId + "'>";
            html += "<td>" + TableIndicatorConfig[i].TKINId + "</td>";
            html += "<td class='text-left'>" + TableIndicatorConfig[i].TKINName + "</td>";
            html += "<td>" + "<input id='ASM_" + TableIndicatorConfig[i].TKINId + "' class='form-control' value='" + nullToEmpty(TableIndicatorConfig[i].ASM) + "'></input>" + "</td>";
            html += "<td>" + "<input id='LTO_" + TableIndicatorConfig[i].TKINId + "' class='form-control' value='" + nullToEmpty(TableIndicatorConfig[i].LTO) + "'></input>" + "</td>";
            html += "<td>" + "<input id='LTR_" + TableIndicatorConfig[i].TKINId + "' class='form-control' value='" + nullToEmpty(TableIndicatorConfig[i].LTR) + "'></input>" + "</td>";
            html += "<td>" + "<input id='JG7_8_" + TableIndicatorConfig[i].TKINId + "' class='form-control' value='" + nullToEmpty(TableIndicatorConfig[i].JG7_8) + "'></input>" + "</td>";
            html += "<td>" + "<input id='JG9_12_" + TableIndicatorConfig[i].TKINId + "' class='form-control' value='" + nullToEmpty(TableIndicatorConfig[i].JG9_12) + "'></input>" + "</td>";
            html += "</tr>";
        }
        $("#indicatorTable tbody").append(html);
    }
    function renderSoftKPIs(SoftKPIs) {
        debugger;
        $("#softkpidata").html("");
        var html = "";
        for (var i = 0; i < SoftKPIs.length; i++) {

            html += "<tr id=\"" + SoftKPIs[i].TSK_ROW_ID + "\">";
            html += "<td><input class=\"form-control\"   data-taget=\"TSK_NO\" style=\"max-width:100% !important;\" type=\"text\" value=\"" + nullToEmpty(SoftKPIs[i].TSK_NO) + "\" autocomplete=\"off\"></td>";
            html += "<td style=\"text-align: left !important;\"><input class=\"form-control\"  data-taget=\"TSK_NAME\" style=\"max-width:100% !important;text-align: left;\" type=\"text\" value=\"" + nullToEmpty(SoftKPIs[i].TSK_NAME) + "\" autocomplete=\"off\"></td>";
            html += "<td><input class=\"form-control\"  data-taget=\"TSK_KPI1\" style=\"max-width:100% !important;text-align: left;\" type=\"text\" value=\"" + nullToEmpty(SoftKPIs[i].TSK_KPI1) + "\" autocomplete=\"off\"></td>";
            html += "<td><input class=\"form-control\"  data-taget=\"TSK_KPI2\" style=\"max-width:100% !important;text-align: left;\" type=\"text\" value=\"" + nullToEmpty(SoftKPIs[i].TSK_KPI2) + "\" autocomplete=\"off\"></td>";
            html += "<td><input class=\"form-control\"  data-taget=\"TSK_KPI3\" style=\"max-width:100% !important;text-align: left;\" type=\"text\" value=\"" + nullToEmpty(SoftKPIs[i].TSK_KPI3) + "\" autocomplete=\"off\"></td>";
            html += "<td><input class=\"form-control\"  data-taget=\"TSK_KPI4\" style=\"max-width:100% !important;text-align: left;\" type=\"text\" value=\"" + nullToEmpty(SoftKPIs[i].TSK_KPI4) + "\" autocomplete=\"off\"></td>";
            html += "<td><input class=\"form-control\"  data-taget=\"TSK_KPI5\" style=\"max-width:100% !important;text-align: left;\" type=\"text\" value=\"" + nullToEmpty(SoftKPIs[i].TSK_KPI5) + "\" autocomplete=\"off\"></td>";
            html += "<td><input class=\"form-control\"  data-taget=\"TSK_ASM\" style=\"max-width:100% !important;text-align: left;\" type=\"text\" value=\"" + nullToEmpty(SoftKPIs[i].TSK_ASM) + "\" autocomplete=\"off\"></td>";
            html += "<td><input class=\"form-control\"  data-taget=\"TSK_LTO\" style=\"max-width:100% !important;text-align: left;\" type=\"text\" value=\"" + nullToEmpty(SoftKPIs[i].TSK_LTO) + "\" autocomplete=\"off\"></td>";
            html += "<td><input class=\"form-control\"  data-taget=\"TSK_LTR\" style=\"max-width:100% !important;text-align: left;\" type=\"text\" value=\"" + nullToEmpty(SoftKPIs[i].TSK_LTR) + "\" autocomplete=\"off\"></td>";
            html += "<td><input class=\"form-control\"  data-taget=\"TSK_JG7_8\" style=\"max-width:100% !important;text-align: left;\" type=\"text\" value=\"" +nullToEmpty(SoftKPIs[i].TSK_JG7_8) + "\" autocomplete=\"off\"></td>";
            html += "<td><input class=\"form-control\"  data-taget=\"TSK_JG9_12\" style=\"max-width:100% !important;text-align: left;\" type=\"text\" value=\"" + nullToEmpty(SoftKPIs[i].TSK_JG9_12) + "\" autocomplete=\"off\"></td>";
            html += "<td><button type=\"button\" onclick=\"editsoftkpi('" + SoftKPIs[i].TSK_ROW_ID + "')\" class=\"btn btn-primary btn-modal-edit  mr-2\" data-action=\"EDIT\" id=\"btn-modal-save\"><i class=\"fa ft-save\"></i> Edit</button><button type=\"button\" onclick=\"deletesoftkpi('" + SoftKPIs[i].TSK_ROW_ID + "')\" class=\"btn btn-primary btn-modal-edit\" data-action=\"DELETE\" id=\"btn-modal-save\"><i class=\"fa ft-bin\"></i> Delete</button></td>";
            html += "<td></td>";
            html += "</tr>";
        }
        $("#softkpidata").append(html);
        addSoftKPIs();

    }
    function addSoftKPIs() {
        debugger;
        var date = new Date();
        var newid = "id_" + date.getDate() + date.getMonth() + date.getFullYear() + date.getHours() + date.getMinutes() + date.getMilliseconds();
        var html = "";
            html += "<tr id=\""+newid+"\">";
            html += "<td><input class=\"form-control\"   data-taget=\"TSK_NO\" style=\"max-width:100% !important;\" type=\"text\" value=\"\" autocomplete=\"off\"></td>";
            html += "<td style=\"text-align: left !important;\"><input class=\"form-control\"  data-taget=\"TSK_NAME\" style=\"max-width:100% !important;text-align: left;\" type=\"text\" value=\"\" autocomplete=\"off\"></td>";
            html += "<td><input class=\"form-control\"  data-taget=\"TSK_KPI1\"     style=\"max-width:100% !important;text-align: left;\" type=\"text\" value=\"\" autocomplete=\"off\"></td>";
            html += "<td><input class=\"form-control\"  data-taget=\"TSK_KPI2\"     style=\"max-width:100% !important;text-align: left;\" type=\"text\" value=\"\" autocomplete=\"off\"></td>";
            html += "<td><input class=\"form-control\"  data-taget=\"TSK_KPI3\"     style=\"max-width:100% !important;text-align: left;\" type=\"text\" value=\"\" autocomplete=\"off\"></td>";
            html += "<td><input class=\"form-control\"  data-taget=\"TSK_KPI4\"     style=\"max-width:100% !important;text-align: left;\" type=\"text\" value=\"\" autocomplete=\"off\"></td>";
            html += "<td><input class=\"form-control\"  data-taget=\"TSK_KPI5\"     style=\"max-width:100% !important;text-align: left;\" type=\"text\" value=\"\" autocomplete=\"off\"></td>";
            html += "<td><input class=\"form-control\"  data-taget=\"TSK_ASM\"      style=\"max-width:100% !important;text-align: left;\" type=\"text\" value=\"\" autocomplete=\"off\"></td>";
            html += "<td><input class=\"form-control\"  data-taget=\"TSK_LTO\"      style=\"max-width:100% !important;text-align: left;\" type=\"text\" value=\"\" autocomplete=\"off\"></td>";
            html += "<td><input class=\"form-control\"  data-taget=\"TSK_LTR\"      style=\"max-width:100% !important;text-align: left;\" type=\"text\" value=\"\" autocomplete=\"off\"></td>";
            html += "<td><input class=\"form-control\"  data-taget=\"TSK_JG7_8\"    style=\"max-width:100% !important;text-align: left;\" type=\"text\" value=\"\" autocomplete=\"off\"></td>";
            html += "<td><input class=\"form-control\"  data-taget=\"TSK_JG9_12\"   style=\"max-width:100% !important;text-align: left;\" type=\"text\" value=\"\" autocomplete=\"off\"></td>";
            html += "<td data-taget='action'><button type=\"button\" onclick=\"savesoftkpi('"+newid+"')\" class=\"btn btn-primary btn-modal-edit\" data-action=\"SAVE\" id=\"btn-modal-save\"><i class=\"fa ft-save\"></i> Save</button></td>";
            html += "</tr>";
        $("#softkpidata").append(html);

    }
    function deletesoftkpi(softkpiid) {
        debugger;
        $.ajax({
            url: '@Url.Action("DeleteSoftKPI", "ReportExcrusiveKPI")',
            data: {
                model: softkpiid,
            },
            cache: false,
            type: "POST",
            success: function (data) {

                if (data.isSuccess) {
                    $("#" + softkpiid).remove();
                    alertSucess();
                } else {
                    alertError();
                }
            },
            error: function (reponse) {
                hideLoading();
                alert("error : " + reponse.error());
            }
        });
    }
    

    function savesoftkpi(softkpiid) {
        debugger;
        var returndata = {
            TSK_ROW_ID: softkpiid,
            TSK_NO: $("#" + softkpiid + " [data-taget='TSK_NO']").val(),
            TSK_NAME: $("#" + softkpiid + " [data-taget='TSK_NAME']").val(),
            TSK_KPI1: $("#" + softkpiid + " [data-taget='TSK_KPI1']").val(),
            TSK_KPI2: $("#" + softkpiid + " [data-taget='TSK_KPI2']").val(),
            TSK_KPI3: $("#" + softkpiid + " [data-taget='TSK_KPI3']").val(),
            TSK_KPI4: $("#" + softkpiid + " [data-taget='TSK_KPI4']").val(),
            TSK_KPI5: $("#" + softkpiid + " [data-taget='TSK_KPI5']").val(),
            TSK_ASM: $("#" + softkpiid + " [data-taget='TSK_ASM']").val(),
            TSK_LTO: $("#" + softkpiid + " [data-taget='TSK_LTO']").val(),
            TSK_LTR: $("#" + softkpiid + " [data-taget='TSK_LTR']").val(),
            TSK_JG7_8: $("#" + softkpiid + " [data-taget='TSK_JG7_8']").val(),
            TSK_JG9_12: $("#" + softkpiid + " [data-taget='TSK_JG9_12']").val(),
            TSK_YEAR:  $("#bnt-add-soft-kpi").attr("data-year"),
        }
        if ($("#" + softkpiid + " [data-taget='TSK_NO']").val() == null || $("#" + softkpiid + " [data-taget='TSK_NO']").val() == "" || $("#" + softkpiid + " [data-taget='TSK_NO']").val() == undefined ||
            $("#" + softkpiid + " [data-taget='TSK_NAME']").val() == null || $("#" + softkpiid + " [data-taget='TSK_NAME']").val() == "" || $("#" + softkpiid + " [data-taget='TSK_NAME']").val() == undefined
        ) {
            alertFieldRequire();
        }
        else {
            $.ajax({
                url: '@Url.Action("SaveSoftKPI", "ReportExcrusiveKPI")',
                data: {
                    model: JSON.stringify(returndata),
                },
                cache: false,
                type: "POST",
                success: function (data) {
                    if (data.isSuccess) {
                        addSoftKPIs();
                        alertSucess();
                        $("#" + softkpiid + " [data-taget='action']").html("");
                       var  html = "<button type=\"button\" onclick=\"editsoftkpi('" + softkpiid + "')\" class=\"btn btn-primary btn-modal-edit  mr-2\" data-action=\"EDIT\" id=\"btn-modal-save\"><i class=\"fa ft-save\"></i> Edit</button><button type=\"button\" onclick=\"deletesoftkpi('" + softkpiid + "')\" class=\"btn btn-primary btn-modal-edit\" data-action=\"DELETE\" id=\"btn-modal-save\"><i class=\"fa ft-bin\"></i> Delete</button>";
                        $("#" + softkpiid + " [data-taget='action']").html(html);
            

                    } else {
                        alertError();
                    }
                },
                error: function (reponse) {
                    hideLoading();
                    alert("error : " + reponse.error());
                }
            });
        }
    }
    function editsoftkpi(softkpiid) {
        debugger;
        var returndata = {
            TSK_ROW_ID: softkpiid,
            TSK_NO: $("#" + softkpiid + " [data-taget='TSK_NO']").val(),
            TSK_NAME: $("#" + softkpiid + " [data-taget='TSK_NAME']").val(),
            TSK_KPI1: $("#" + softkpiid + " [data-taget='TSK_KPI1']").val(),
            TSK_KPI2: $("#" + softkpiid + " [data-taget='TSK_KPI2']").val(),
            TSK_KPI3: $("#" + softkpiid + " [data-taget='TSK_KPI3']").val(),
            TSK_KPI4: $("#" + softkpiid + " [data-taget='TSK_KPI4']").val(),
            TSK_KPI5: $("#" + softkpiid + " [data-taget='TSK_KPI5']").val(),
            TSK_ASM: $("#" + softkpiid + " [data-taget='TSK_ASM']").val(),
            TSK_LTO: $("#" + softkpiid + " [data-taget='TSK_LTO']").val(),
            TSK_LTR: $("#" + softkpiid + " [data-taget='TSK_LTR']").val(),
            TSK_JG7_8: $("#" + softkpiid + " [data-taget='TSK_JG7_8']").val(),
            TSK_JG9_12: $("#" + softkpiid + " [data-taget='TSK_JG9_12']").val(),
            TSK_YEAR:  $("#bnt-add-soft-kpi").attr("data-year"),
        }
        if ($("#" + softkpiid + " [data-taget='TSK_NO']").val() == null || $("#" + softkpiid + " [data-taget='TSK_NO']").val() == "" || $("#" + softkpiid + " [data-taget='TSK_NO']").val() == undefined ||
            $("#" + softkpiid + " [data-taget='TSK_NAME']").val() == null || $("#" + softkpiid + " [data-taget='TSK_NAME']").val() == "" || $("#" + softkpiid + " [data-taget='TSK_NAME']").val() == undefined
        ) {
            alertFieldRequire();
        }
        else {
            $.ajax({
                url: '@Url.Action("SaveSoftKPI", "ReportExcrusiveKPI")',
                data: {
                    model: JSON.stringify(returndata),
                },
                cache: false,
                type: "POST",
                success: function (data) {
                    if (data.isSuccess) {
                        alertSucess();

                    } else {
                        alertError();
                    }
                },
                error: function (reponse) {
                    hideLoading();
                    alert("error : " + reponse.error());
                }
            });
        }
    }

    function nullToEmpty(value) {
        if (value == null) {
            return "";
        }
        else {
            return value;
        }

    }
    function renderReportConfigTable(TableReportConfig, Year) {

        $("#reportConfigTableBody").empty();
        var html = "";
        for (var i = 0; i < TableReportConfig.length; i++) {
            //alert(TableReportConfig[i].Year + "=" + Year);
            if (TableReportConfig[i].Year == Year) {
                html += "<tr style='background-color: gray;' data-year='" + TableReportConfig[i].Year + "' data-createBy='" + TableReportConfig[i].CreateBy + "' data-createDate='" + TableReportConfig[i].CreateDate
                    + "' data-createDateEx='" + TableReportConfig[i].CreateDateEx + "' data-id='" + TableReportConfig[i].TKRCId + "' data-reportName='" + TableReportConfig[i].ReportName + "'>";

            } else {
                html += "<tr data-year='" + TableReportConfig[i].Year + "' data-createBy='" + TableReportConfig[i].CreateBy + "' data-createDate='" + TableReportConfig[i].CreateDate
                    + "' data-createDateEx='" + TableReportConfig[i].CreateDateEx + "' data-id='" + TableReportConfig[i].TKRCId + "' data-reportName='" + TableReportConfig[i].ReportName + "'>";
            }
            html += "<td>" + TableReportConfig[i].Year + "</td>";
            html += "<td>" + TableReportConfig[i].CreateBy + "</td>";
            html += "<td>" + TableReportConfig[i].CreateDateEx + "</td>";
            html += "<td><a style='border-radius: 10px;' href='javascript: void(0)' onclick='onGetDefaultConfigReportKPIExcusive(" + TableReportConfig[i].Year + ")' ><i class='ft-edit font-size-large p-0 blue'></i></a> <a style='border-radius: 10px;' onclick='onDeleteExcusiveReport(" + TableReportConfig[i].Year + ")'><i class='ft-trash-2  font-size-large p-0 red'></i></a></td>";
            html += "</tr>";

            //alert(TableReportConfig[i].year);
        }
        $("#reportConfigTable tbody").append(html);
    }

    function onDeleteExcusiveReport(year) {
         $.ajax({
            url: '@Url.Action("DeleteReportExcusiveKPI", "ReportExcrusiveKPI")',
            data: {
                "year": year,
            },
            cache: false,
            type: "POST",
             success: function (data) {
                 console.log(data.result);
                 OpenBoxPopup(data.result + "");
                 var urls = '@Url.Action("Index", "ReportExcrusiveKPI")';

                window.open(urls, '_blank');
            },
            error: function (reponse) {
                hideLoading();
                alert("error : " + reponse.error());
            }
        });
    }
</script>
