﻿@model KPI_ONLINE.ViewModel.IndicatorsManageViewModel
@{
    if (Model.IsEditMode)
    {
        ViewBag.Title = "Edit Indicator".ToUpper();
    }
    else
    {
        ViewBag.Title = "Add Indicator".ToUpper();
    }

}

<style>
    td input.form-control {
        display: unset !important;
        text-align: center;
    }

    td select.form-control {
        display: unset !important;
        text-align: center;
    }

    .btn-block {
        display: block;
        width: 85%;
    }
</style>

@using (Html.BeginForm("CreateOrEditIndicator", "Master", FormMethod.Post, new { IndicatorsManageViewModel = Model, @class = "form-information", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="card" style="margin-bottom:0rem; padding:0.8rem">
        <h2 style="font-weight:800;" class="text-center">@ViewBag.Title</h2>
    </div>
    <div class="app-content">
        <div class="content-wrapper" style="padding:0rem; padding-top:0px">
            <!-- content detached right-->
            <div class="content-detached">
                <section id="description" class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="card-text">
                                <div class="form-body">
                                    <h4 class="form-section"><i class="ft-edit"></i> Information </h4>
                                </div>

                                <input type="hidden" id="Id" name="Id" value="@Model.Id" />

                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                        <div class="form-group">
                                            <span>
                                                @Html.LabelFor(model => model.IndicatorNameId, htmlAttributes: new { @class = "control-label" })
                                                : <span style="color:red">*</span>
                                            </span>

                                            @Html.DropDownListFor(m => m.IndicatorNameId, Model.IndicatorDDL, "--- กรุณาเลือก ---", new { @class = "form-control reset-data-text" })

                                        </div>

                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                                        <div class="form-group">
                                            @{
                                                if (ViewContext.HttpContext.User.IsInRole("create"))
                                                {
                                                    <button id="search-user-modal" type="button" class="btn btn-primary btn-min-width m-1 mt-4" data-toggle="modal" data-target="#modal-indicator-name">
                                                        <i class="fa ft-plus-square "></i> Manage Indicator Name
                                                    </button>
                                                }
                                            }

                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <span>
                                                @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label" })
                                                : <span style="color:red">*</span>
                                            </span>
                                            @Html.DropDownListFor(m => m.Type, Model.TypeDDL, "--- กรุณาเลือก ---", new { @class = "form-control reset-data-text" })
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <span>
                                                @Html.LabelFor(model => model.CalculateMode, htmlAttributes: new { @class = "control-label" })
                                                : <span style="color:red">*</span>
                                            </span>

                                            @Html.DropDownListFor(m => m.CalculateMode, Model.CalculateModeDDL, "--- กรุณาเลือก ---", new { @class = "form-control reset-data-text" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <span>
                                                @Html.LabelFor(model => model.From, htmlAttributes: new { @class = "control-label" })
                                                : <span style="color:red">*</span>
                                            </span>

                                            <div class="input-group">
                                                <input class="form-control datepicker reset-data-text" name="From" id="From" autocomplete="off" value="@Model.From" placeholder="MMM-YYYY" data-provide="datepicker">

                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="basic-addon4"><i class="ft-clock"></i></span>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

                                        <div class="form-group">
                                            <span>
                                                @Html.LabelFor(model => model.To, htmlAttributes: new { @class = "control-label" })
                                                : <span style="color:red">*</span>
                                            </span>

                                            <div class="input-group">
                                                <input class="form-control datepicker reset-data-text" name="To" id="To" autocomplete="off" value="@Model.To" placeholder="MMM-YYYY" data-provide="datepicker">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="basic-addon4"><i class="ft-clock"></i></span>
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                </div>


                                <div class="form-body mt-5">
                                    <h4 class="form-section"><i class="ft-edit"></i> Score Period </h4>
                                </div>
                                <div class="table-responsive">

                                    <table id="table-indicator" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="text-center">
                                                    @Html.DisplayNameFor(model => model.KPIScaleList.First().Scale)
                                                </th>
                                                <th class="text-center">
                                                    @Html.DisplayNameFor(model => model.KPIScaleList.First().FromValue)
                                                </th>
                                                <th class="text-center">
                                                    @Html.DisplayNameFor(model => model.KPIScaleList.First().ToValue)
                                                </th>
                                                <th class="text-center">

                                                    @Html.DisplayNameFor(model => model.KPIScaleList.First().DisplayName)
                                                </th>
                                                @*<th class="text-center" style="display:none;">
                                                    @Html.DisplayNameFor(model => model.KPIScaleList.First().DisplayColor)
                                                </th>
                                                <th style="display:none;"> </th>*@
                                            </tr>
                                        </thead>
                                        <tbody style="font-size : 16px">

                                            @for (int i = 0; i < Model.KPIScaleList.Count; i++)
                                            {
                                                <tr>
                                                    <td class="text-center">
                                                        @Html.DisplayFor(modelItem => modelItem.KPIScaleList[i].Scale)
                                                        @Html.HiddenFor(modelItem => modelItem.KPIScaleList[i].Scale, new { @class = "form-control", Name = string.Format("KPIScaleList[{0}].Scale", i) })

                                                    </td>
                                                    <td>
                                                        @Html.TextBoxFor(modelItem => modelItem.KPIScaleList[i].FromValue, new { @class = "form-control reset-data-number", Name = string.Format("KPIScaleList[{0}].FromValue", i), @autocomplete = "off" })

                                                    </td>
                                                    <td>
                                                        @Html.TextBoxFor(modelItem => modelItem.KPIScaleList[i].ToValue, new { @class = "form-control reset-data-number", Name = string.Format("KPIScaleList[{0}].ToValue", i), @autocomplete = "off" })

                                                    </td>
                                                    <td>
                                                        @Html.TextBoxFor(modelItem => modelItem.KPIScaleList[i].DisplayName, new { @class = "form-control reset-data-text", Name = string.Format("KPIScaleList[{0}].DisplayName", i), @autocomplete = "off" })

                                                    </td>
                                                    @*<td style="display:none;">
                                                        @Html.DropDownListFor(modelItem => modelItem.KPIScaleList[i].DisplayColor, Model.KPIScaleList[i].DisplayColorDDL, new { @class = "form-control col-xs-12 col-md-8 ddl-color reset-data-color", Name = string.Format("KPIScaleList[{0}].DisplayColor", i), data_id = i })

                                                        <script>
                                                            $('#@string.Format("KPIScaleList_{0}__DisplayColor", i)').val('@Model.KPIScaleList[i].DisplayColor')
                                                        </script>
                                                    </td>

                                                    <td style="display:none;">
                                                        <span id="span_@i" class="tracking @Model.KPIScaleList[i].DisplayColor.ToLower()" data-color="@Model.KPIScaleList[i].DisplayColor"></span>
                                                    </td>*@
                                                </tr>
                                            }
                                        </tbody>
                                    </table>

                                </div>

                                <div class="form-group ">
                                    <div class="col-sm-12 col-md-12 text-right">
                                        @{
                                            <button type="button" class="btn btn-light btn-min-width m-1" id="btn_back" onclick="window.history.back()">
                                                <i class="fa ft-arrow-left"></i> Back
                                            </button>

                                            if ((Model.IsEditMode == false && ViewContext.HttpContext.User.IsInRole("create")) || (Model.IsEditMode && ViewContext.HttpContext.User.IsInRole("edit")))
                                            {
                                                <button type="button" class="btn btn-light btn-min-width m-1" id="btn-clear-all">
                                                    <i class="fa fa-refresh"></i> Clear
                                                </button>
                                                <button type="button" class="btn btn-primary btn-min-width m-1" id="btn-save">
                                                    <i class="fa ft-save"></i> Save
                                                </button>
                                            }
                                        }

                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
}



<div class="modal fade" id="modal-indicator-name" tabindex="-1" role="dialog" style="overflow:scroll" ; aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title"><i class="ft-book"></i>Indicator Name</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>

            </div>
            <div class="modal-body">
                <div class="row p-2">
                    <div class="col-xs-12 table-responsive">
                        <table id="modal-table-indicator-name" class="table table-bordered table-hover" style="width:100%">
                            <thead>
                                <tr>
                                    <th style="width:15%">No.</th>
                                    <th style="width:50%">Name</th>
                                    <th>Attach File</th>
                                    <th style="width:10%">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var item in Model.IndicatorNameList)
                                    {
                                        <tr>
                                            <td>
                                                <input class="form-control" id="modal-indicator-no-@item.Id" onkeypress="return isNumber(event)" type="text" value="@item.No" autocomplete="off" />
                                            </td>
                                            <td style="text-align: left !important;">
                                                <input class="form-control" id="modal-indicator-txt-@item.Id" style="max-width:100% !important;text-align: left;" type="text" value="@item.Name" autocomplete="off">
                                            </td>
                                            <td>
                                                <div class="input-group" style="text-align:left;">
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input" id="modal-indicator-file-@item.Id" name="fileToUpload" aria-describedby="inputGroupFileAddon04">
                                                        <label class="custom-file-label" for="inputGroupFile04">Browse</label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <a href="data:application/octet-stream;base64,@item.File" download="@item.FileName" class='btn btn-primary m-1 @(item.File == null ? "disabled" : "")'><i class='fa ft-download'></i> Download </a>
                                                @{
                                                    if (ViewContext.HttpContext.User.IsInRole("edit"))
                                                    {
                                                        <button type="button" class="btn btn-primary  btn-modal-edit m-1" id="btn-modal-edit-@item.Id" data-id="@item.Id">
                                                            <i class="fa ft-edit"></i> Edit
                                                        </button>
                                                    }
                                                }

                                            </td>
                                        </tr>
                                    }
                                    <tr class="tr-new-item">
                                        <td>
                                            <input class="form-control" id="modal-indicator-no" onkeypress="return isNumber(event)" type="text" value="" autocomplete="off" />
                                        </td>
                                        <td style="text-align: left !important;">
                                            <input class="form-control" id="modal-indicator-txt" style="max-width:100% !important;text-align: left;" type="text" value="" autocomplete="off" />
                                        </td>
                                        <td>
                                            <div class="input-group" style="text-align:left;">
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input" id="modal-indicator-file" name="fileToUpload" aria-describedby="inputGroupFileAddon04">
                                                    <label class="custom-file-label" for="inputGroupFile04">Browse</label>
                                                </div>
                                            </div>
                                        </td>
                                        <td>

                                            @{
                                                if (ViewContext.HttpContext.User.IsInRole("create"))
                                                {
                                                    <button type="button" class="btn btn-primary btn-modal-edit" data-action="SAVE" id="btn-modal-save">
                                                        <i class="fa ft-save"></i> Save
                                                    </button>
                                                }
                                            }

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" id="btnCloseModalHistory" data-dismiss="modal">
                    <i class="ft-x"></i> Close
                </button>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="action_create" value="@ViewContext.HttpContext.User.IsInRole("create").ToString().ToLower()" />
<input type="hidden" id="action_edit" value="@ViewContext.HttpContext.User.IsInRole("create").ToString().ToLower()" />

<input type="hidden" id="url_get_list_kpi" value="@Url.Action("GetKPINameList","Master")" />
<input type="hidden" id="url_get_last_kpi" value="@Url.Action("GetKPINameLast","Master")" />
<input type="hidden" id="url_create_or_edit_kpi" value="@Url.Action("CreatOrEditKPIName","Master")" />

@section Scripts{
    @Scripts.Render("~/bundles/createoredit-indicator")
}


