﻿@model KPI_ONLINE.ViewModel.UsersViewModel
@{

    if (!Model.users_Detail.IsEditMode)
    {
        ViewBag.Title = "Add User".ToUpper();
    }
    else
    {
        ViewBag.Title = "Edit User".ToUpper();
    }
}
<style>

    .treeview span.indent {
        margin-left: 100px !important;
    }


    .ui-autocomplete {
        max-height: 150px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
    }

    * html .ui-autocomplete {
        height: 150px;
    }

    .error-requite {
        border-color: #dd4b39;
    }

    div.ex1 {
        height: 400px;
        overflow-y: scroll;
    }

    div.ex2 {
        height: 1000px;
        overflow-y: scroll;
    }
</style>

<div class="card" style="margin-bottom:0rem; padding:0.8rem">
    <h2 style="font-weight:800;" class="text-center">@ViewBag.Title</h2>
</div>
<div class="app-content">
    <div class="content-wrapper" style="padding:0rem; padding-top:0px">
        <!-- content detached right-->
        <div class="content-detached">
            <section id="description" class="card">
                @*<div class="card-header">
                        <h2 class="card-title" id="basic-layout-form">@ViewBag.Title</h2>
                    </div>*@
                <div class="card-content">
                    <div class="card-body">
                        <div class="card-text">

                            @using (Html.BeginForm("CreateOrEditUser", "Master", FormMethod.Post, new { @class = "form-horizontal", @id = "form-information" }))
                            {
                                @Html.HiddenFor(model => model.users_Detail.UsersID, htmlAttributes: new { @required = "required" })
                                <div class="form-body">
                                    <h4 class="form-section"><i class="ft-user"></i> Personal Info</h4>
                                </div>

                                <div class="row text-left">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <div class="col-md-2">
                                                @Html.LabelFor(model => model.users_Detail.EmployeeID, htmlAttributes: new { @class = "control-label" }) : <span style="color:red">*</span>
                                            </div>

                                            <div class="col-md-4">
                                                @if (Model.users_Detail.IsEditMode)
                                                {
                                                    @Html.TextBoxFor(model => model.users_Detail.EmployeeID, htmlAttributes: new { @class = "form-control", @maxlength = "8", @autocomplete = "off", @onkeypress = "return isNumber(event)", @readonly = "readonly" })
                                                }
                                                else
                                                {
                                                    @Html.TextBoxFor(model => model.users_Detail.EmployeeID, htmlAttributes: new { @class = "form-control reset-data", @maxlength = "8", @autocomplete = "off", @onkeypress = "return isNumber(event)" })
                                                }

                                            </div>

                                        </div>

                                        <div class="form-group row">
                                            <div class="col-md-2">
                                                @Html.LabelFor(model => model.users_Detail.FirstNameTH, htmlAttributes: new { @class = "control-label" }) : <span style="color:red">*</span>
                                            </div>

                                            <div class="col-md-4">
                                                @Html.TextBoxFor(model => model.users_Detail.FirstNameTH, htmlAttributes: new { @maxlength = 100, @class = "form-control first-name-th-val reset-data" })
                                            </div>

                                            <div class="col-md-2">
                                                @Html.LabelFor(model => model.users_Detail.LastNameTH, htmlAttributes: new { @class = "control-label" }) :
                                            </div>

                                            <div class="col-md-4">
                                                @Html.TextBoxFor(model => model.users_Detail.LastNameTH, htmlAttributes: new { @maxlength = 100, @class = "form-control last-name-th-val reset-data" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-2">
                                                @Html.LabelFor(model => model.users_Detail.DepartmentId, htmlAttributes: new { @class = "control-label" }) : <span style="color:red">*</span>
                                            </div>
                                            <div class="col-md-4">
                                                @Html.DropDownListFor(m => m.users_Detail.DepartmentId, Model.ddlDepartment, "--- กรุณาเลือก ---", new { @class = "form-control Department-val reset-data", @onchange = "getAreaByDepartmentIdDDL(this)" })
                                            </div>
                                            <div class="col-md-2">
                                                @Html.LabelFor(model => model.users_Detail.AreaId, htmlAttributes: new { @class = "control-label" }) : <span style="color:red">*</span>
                                            </div>

                                            <div class="col-md-4">
                                                @Html.DropDownListFor(m => m.users_Detail.AreaId, Model.ddlArea, "--- กรุณาเลือก ---", new { @class = "form-control Area-val reset-data", @onchange = "getPlantByAreaIdDDL(this)" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-2">
                                                @Html.LabelFor(model => model.users_Detail.PlantId, htmlAttributes: new { @class = "control-label" }) : <span style="color:red">*</span>
                                            </div>
                                            <div class="col-md-4">
                                                @Html.DropDownListFor(m => m.users_Detail.PlantId, Model.ddlPlant, "--- กรุณาเลือก ---", new { @class = "form-control Plant-val reset-data", @onchange = "getShiftByPlantIdDDL(this)" })
                                            </div>
                                            <div class="col-md-2">
                                                @Html.LabelFor(model => model.users_Detail.ShiftId, htmlAttributes: new { @class = "control-label" }) :
                                            </div>
                                            <div class="col-md-4">
                                                @Html.DropDownListFor(m => m.users_Detail.ShiftId, Model.ddlShift, "--- กรุณาเลือก ---", new { @class = "form-control Shift-val reset-data" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-2">
                                                @Html.LabelFor(model => model.users_Detail.CompanyId, htmlAttributes: new { @class = "control-label" }) : <span style="color:red">*</span>
                                            </div>
                                            <div class="col-md-4">
                                                @Html.DropDownListFor(m => m.users_Detail.CompanyId, Model.ddlCompany, "--- กรุณาเลือก ---", new { @class = "form-control company-val reset-data" })
                                            </div>
                                            <div class="col-md-2">
                                                @Html.LabelFor(model => model.users_Detail.Tel, htmlAttributes: new { @class = "control-label" }) :
                                            </div>
                                            <div class="col-md-4">
                                                @Html.TextBoxFor(model => model.users_Detail.Tel, htmlAttributes: new { @class = "form-control tel-val reset-data" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-2">
                                                @Html.LabelFor(model => model.users_Detail.RoleId, htmlAttributes: new { @class = "control-label" }): <span style="color:red">*</span>
                                            </div>
                                            <div class="col-md-4">
                                                @Html.DropDownListFor(m => m.users_Detail.RoleId, Model.ddlRole, "--- กรุณาเลือก ---", new { @id = "user_role_select", @class = "form-control user-role-select reset-data" })
                                                @Html.HiddenFor(model => model.users_UserRoleJSON, htmlAttributes: new { @id = "UserRoleJSON" })
                                            </div>
                                            <div class="col-md-2">
                                                @Html.LabelFor(model => model.users_Detail.Status, htmlAttributes: new { @class = "control-label" }) : <span style="color:red">*</span>
                                            </div>

                                            <div class="col-md-4">
                                                @Html.DropDownListFor(m => m.users_Detail.Status, Model.ddlStatus, "--- กรุณาเลือก ---", new { @class = "form-control status-val reset-data" })
                                            </div>
                                        </div>
                                        <div class="form-group mt-5">
                                            <div class="col-sm-12 col-md-12 text-right">

                                                <button type="button" class="btn btn-light btn-min-width m-1" id="btn_back" onclick="window.history.back()">
                                                    <i class="fa ft-arrow-left"></i> Back
                                                </button>

                                                @if ((Model.users_Detail.IsEditMode == false && ViewContext.HttpContext.User.IsInRole("create")) || (Model.users_Detail.IsEditMode && ViewContext.HttpContext.User.IsInRole("edit")))
                                                {
                                                    <button type="reset" class="btn btn-light btn-min-width m-1" id="btn-clear-all">
                                                        <i class="fa fa-refresh"></i> Clear
                                                    </button>
                                                    <button type="button" class="btn btn-primary actionButton btn-min-width m-1" id="btn_save">
                                                        <i class="fa ft-save"></i> Save
                                                    </button>
                                                }

                                            </div>
                                        </div>

                                        <div class="form-body">
                                            <h4 class="form-section"><i class="ft-unlock"></i> AUTHORIZE</h4>
                                        </div>


                                        <div class="row mt-4">
                                            <fieldset class="col-md-4">
                                                <legend>MENU</legend>
                                                <div class="panel panel-default">
                                                    <div class="panel-body ex1">
                                                        <div class="col-sm-12 col-md-12">
                                                            <div id="menuTreeview-checkable" class="treeview"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <fieldset class="col-md-8">
                                                <legend>REPORT KPI</legend>

                                                <div class="panel panel-default">
                                                    <div class="panel-body ex1">
                                                        <div class="col-sm-12 col-md-12">
                                                            <div id="kpiTreeview-checkable" class="treeview"></div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </fieldset>
                                        </div>

                                        <div class="row">
                                            <fieldset class="col-md-12 mt-5">
                                                <legend>DATA</legend>

                                                <div class="panel panel-default">
                                                    <div class="panel-body ex2">
                                                        <div class="row">
                                                            <div class="col-sm-12 col-md-12">
                                                                <div id="departmentTreeview-checkable" class="treeview"></div>
                                                            </div>
                                                            @*<div class="col-sm-12 col-md-3">
                                                                    <h4 class="text-center">Area</h4>
                                                                    <div id="areaTreeview-checkable" class="treeview"></div>
                                                                </div>
                                                                <div class="col-sm-12 col-md-3">
                                                                    <h4 class="text-center">Plant</h4>
                                                                    <div id="plantTreeview-checkable" class="treeview"></div>
                                                                </div>
                                                                <div class="col-sm-12 col-md-3">
                                                                    <h4 class="text-center">Shift</h4>
                                                                    <div id="shiftTreeview-checkable" class="treeview"></div>
                                                                </div>*@
                                                        </div>

                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>

                                    </div>
                                </div>

                            }
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- content detached right-->

    </div>
</div>

<input type="hidden" id="action-name" value="@Model.users_Detail.IsEditMode.ToString().ToLower()" />

<script>

    function assignDropdown(id, data , selected , firstPage) {

        let html = ""
            , $obj = $("#" + id)
            , htmlDefault = "";

        htmlDefault = "<option value=''>"
        htmlDefault += "--- กรุณาเลือก ---";
        htmlDefault += "</option>";

        html = htmlDefault;

        $obj.children().remove();

        data.forEach(function (element) {
            html += "<option value='" + element.Value + "'  " + (selected == element.Value ? "selected" : "") +">";
            html += element.Text;
            html += "</option>";
        });

        $obj.append(html);

        if (!firstPage) {
            if (id == "users_Detail_AreaId") {
                $objOld = $('#users_Detail_PlantId'), $objShift = $('#users_Detail_ShiftId');
                $objOld.children().remove();
                $objShift.children().remove();

                $objOld.append(htmlDefault);
                $objShift.append(htmlDefault);
            }

            if (id == "users_Detail_PlantId") {
                $objShift = $('#users_Detail_ShiftId');
                $objShift.children().remove();

                $objShift.append(htmlDefault);
            }
        }
    }

    function getShiftByPlantIdDDL($this) {
        try
        {
            let id = $($this).val() ? $($this).val() : "";
            ajaxGetShift(id)
        }
        catch (err) {
            alert('Error : ' + err.message);
        }
    }

    function ajaxGetShift(id , selected , firstPage) {
        loading();
        let URL = $('#URL_GetShift_DDL').val();
        $.getJSON(URL, { plantId: id }
            ,function (data) {
                hideLoading();
                if (data.isSuccess) {
                    assignDropdown("users_Detail_ShiftId", data.result , selected , firstPage);
                }
            })
            .fail(function (err) {
                hideLoading();
                alert('fail.');
            });
    }

    function getPlantByAreaIdDDL($this) {
        try {
            let id = $($this).val() ? $($this).val() : "";
            ajaxGetPlant(id);
        }
        catch (err) {
            alert('Error : ' + err.message);
        }
    }

    function ajaxGetPlant(id , selected , firstPage) {
        loading();
        let URL = $('#URL_GetPlant_DDL').val();
        $.getJSON(URL, { areaId: id },
            function (data) {
                hideLoading();
                if (data.isSuccess) {
                    assignDropdown("users_Detail_PlantId", data.result , selected , firstPage);
                }
            })
            .fail(function (err) {
                hideLoading();
                alert('fail.');
            });
    }

    function getAreaByDepartmentIdDDL($this) {

        try
        {
            let id = $($this).val() ? $($this).val() : "";
            ajaxGetArea(id);
        }
        catch (err) {
            alert('Error : ' + err.message);
        }
    }

    function ajaxGetArea(id , selected , firstPage) {

        loading();
        let URL_GetAreaByDepartment = $('#URL_GetArea_DDL').val();
            $.getJSON(URL_GetAreaByDepartment
            , { departmentId: id },
            function (data) {
                hideLoading();
                if (data.isSuccess) {
                    assignDropdown("users_Detail_AreaId", data.result , selected , firstPage);
                }
            })
            .fail(function (err) {
                hideLoading();
                alert('fail.');
            });
    }

    function initialTree(id,obj) {
        $('#'+ id +'Treeview-checkable').treeview({
            data: obj,
            data: obj,
            showIcon: true,
            showCheckbox: false,

            color: "#428bca"

        });
    }

    function validateForm() {
        $("#form-information").validate({
            rules: {
                "users_Detail.EmployeeID": {
                    required: true
                }
            }
        });

        $("#form-information").valid();
    }

    function resetData() {
        $('.reset-data').val('');
        getRole('');
    }

    function getRole(roleValue) {
        loading();
        $.ajax({
            url: '@Url.Action("GetRoleMenu", "Master")',
            type: "GET",
            data: { frm: roleValue },
            success: function (response) {

                var menuTree = JSON.parse(response.result.menuTree);
                var kpiTree = JSON.parse(response.result.kpiTree);
                //var areaTree = JSON.parse(response.result.areaTree);
                var departmentTree = JSON.parse(response.result.departmentTree);
                //var plantTree = JSON.parse(response.result.plantTree);
                //var shiftTree = JSON.parse(response.result.shiftTree);

                initialTree("menu", menuTree);
                initialTree("kpi", kpiTree);
                //initialTree("area", areaTree);
                initialTree("department", departmentTree);
                //initialTree("plant", plantTree);
                //initialTree("shift", shiftTree);

                hideLoading();

            },
            error: function (response) {
                hideLoading();
            }
        });
    }

    jQuery(document).ready(function () {

        $('#btn-clear-all').click(function () {

            Swal.fire({
                title: 'Message',
                text: "Do you want to reset ?",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#00B5B8',
                cancelButtonColor: '#FFA87D',
                confirmButtonText: 'Yes'
            }).then(function (result) {
                if (result.value) {
                    resetData();
                }
            });
        });

        if ($('#action-name').val()) {
            let firstPage = true;
            getRole(@Model.users_Detail.RoleId);

            ajaxGetArea('@Model.users_Detail.DepartmentId' , '@Model.users_Detail.AreaId' , firstPage);
            ajaxGetPlant('@Model.users_Detail.AreaId' , '@Model.users_Detail.PlantId' , firstPage);
            ajaxGetShift('@Model.users_Detail.PlantId' , '@(Model.users_Detail.ShiftId)' , firstPage);
        }

        var role_data = JSON.parse($("#UserRoleJSON").val() == "" ? "[]" : $("#UserRoleJSON").val());
        initialTree("menu", role_data);


        $('#btn_save').click(function () {

            let valid = $("#form-information").valid();
            let $plant = $('#users_Detail_PlantId');
            let $area = $('#users_Detail_AreaId');
            let $department = $('#users_Detail_DepartmentId');
            let error = false;

            if ($department.find('option:selected').text().trim() != "EVPM" && ($plant.val().trim() == "" || $area.val().trim() == "")) {

                if ($plant.val().trim() == "") {
                    $plant.addClass('input-validation-error');
                    error = true;
                }

                if ($area.val().trim() == "") {
                    $area.addClass('input-validation-error');
                    error = true;
                }
            }

            if (valid && !error) {

                Swal.fire({
                    title: 'Message',
                    text: "Are you confirm ?",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#00B5B8',
                    cancelButtonColor: '#FFA87D',
                    confirmButtonText: 'Yes'
                }).then(function (result) {
                    if (result.value) {
                        loading();
                        $('#form-information').submit();
                    }
                });

            } else {

                alertFieldRequire();

            }
        });

        $(".user-role-select").change(function () {
            var roleValue = document.getElementById("user_role_select").options[document.getElementById('user_role_select').selectedIndex].value;
            getRole(roleValue);

        });
    });

</script>
