﻿@model KPI_ONLINE.ViewModel.RoleViewModel

@{
    if (!Model.IsEditMode)
    {
        ViewBag.Title = "Add Role".ToUpper();
    }
    else
    {
        ViewBag.Title = "Edit Role".ToUpper();
    }
}

<style>
    .treeview span.indent {
        margin-left: 100px !important;
    }

    #kpiTreeview-checkable span.indent {
        margin-left: 3px !important;
    }

    .treeview .list-group-item {
        cursor: pointer;
    }

    .treeview span.indent {
        margin-left: 10px;
        margin-right: 10px;
    }

    .treeview span.icon {
        width: 12px;
        margin-right: 5px;
    }

    .treeview .node-disabled {
        color: silver;
        cursor: not-allowed;
    }

    .node-treeview-checkable {
    }

        .node-treeview-checkable:not(.node-disabled):hover {
            background-color: #F5F5F5;
        }

    div.ex1 {
        height: 400px;
        overflow-y: scroll;
    }
</style>



@using (Html.BeginForm("CreateOrEditRole", "Master", FormMethod.Post, new Dictionary<string, object>
{ { "class","form-information"} }))
{
    <div class="card" style="margin-bottom:0rem; padding:0.8rem">
        <h2 style="font-weight:800;" class="text-center">@ViewBag.Title</h2>
    </div>
    <!-- BEGIN Content-->
    <div class="app-content">
        <div class="content-wrapper" style="padding:0rem; padding-top:0px">
            <!-- content detached right-->
            <div class="content-detached">
                <section id="description" class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="card-text">
                                <div class="form-body">
                                    <h4 class="form-section"><i class="ft-edit"></i> Information </h4>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 form-group">
                                        <label class="control-label col-xs-12 col-sm-4 col-md-4" for="email">ROLE NAME : <span style="color:red">*</span></label>
                                        @Html.TextBoxFor(model => model.role_Detail.RolName, htmlAttributes: new { @class = "form-control col-xs-12 col-sm-8 col-md-8 reset-data" })
                                        @Html.HiddenFor(model => model.role_Detail.RolID, htmlAttributes: new { @required = "required" })
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 form-group">
                                        <label class="control-label col-xs-12 col-sm-4 col-md-4" for="email">DESCRIPTION : <span style="color:red">*</span></label>
                                        @Html.TextBoxFor(model => model.role_Detail.RolDesc, htmlAttributes: new { @class = "form-control col-xs-12 col-sm-8 col-md-8 reset-data", @required = "required", @autocomplete = "off" })

                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 form-group">
                                        <label class="control-label col-xs-12 col-sm-4 col-md-4" for="email">STATUS : <span style="color:red">*</span></label>
                                        @Html.DropDownListFor(model => model.role_Detail.RolStatus, Model.ddl_Status, "--- กรุณาเลือก ---", htmlAttributes: new { @class = "form-control col-xs-12 col-sm-8 col-md-8 reset-data" })

                                    </div>
                                </div>

                                <div class="form-body mt-5">
                                    <h4 class="form-section"><i class="ft-unlock"></i> AUTHORIZE</h4>
                                </div>


                                <div class="row">
                                    <fieldset class="col-xs-12 col-md-4 mt-5">
                                        <legend>MENU</legend>

                                        <div class="panel panel-default">
                                            <div class="panel-body ex1">
                                                <div class="col-sm-12 col-md-12">
                                                    @Html.HiddenFor(model => model.role_Detail.MenuTree, new { @id = "menuTree" })
                                                    @Html.HiddenFor(model => model.role_Detail.MenuTreeId, new { @id = "menuTreeId" })
                                                    <div id="menuTreeview-checkable" class="treeview"></div>
                                                </div>
                                            </div>
                                        </div>

                                    </fieldset>


                                    <fieldset class="col-xs-12 col-md-8 mt-5">
                                        <legend>REPORT KPI</legend>

                                        <div class="panel panel-default">
                                            <div class="panel-body ex1">
                                                <div class="col-sm-12 col-md-12">
                                                    @Html.HiddenFor(model => model.role_Detail.KPITree, new { @id = "kpiTree" })
                                                    @Html.HiddenFor(model => model.role_Detail.KPITreeId, new { @id = "kpiTreeId" })
                                                    <div id="kpiTreeview-checkable" class="treeview"></div>
                                                </div>
                                            </div>
                                        </div>

                                    </fieldset>
                                </div>

                                <div class="row">
                                    <fieldset class="col-md-12 mt-5">
                                        <legend>Data Authorize</legend>

                                        <div class="panel panel-default">
                                            <div class="panel-body ex1">
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-12">
                                                        @Html.HiddenFor(model => model.role_Detail.DepartmentTree, new { @id = "departmentTree" })
                                                        @Html.HiddenFor(model => model.role_Detail.DepartmentTreeId, new { @id = "departmentTreeId" })
                                                        <div id="departmentTreeview-checkable" class="treeview"></div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </fieldset>

                                </div>

                                <div class="form-body mt-5">
                                    <h4 class="form-section"><i class="ft-users"></i> Users</h4>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12 col-12 text-right">
                                        @{
                                            if (ViewContext.HttpContext.User.IsInRole("search"))
                                            {
                                                <button id="search-user-modal" type="button" class="btn btn-primary btn-min-width m-1" data-toggle="modal" data-target="#modal-user">
                                                    <i class="ficon ft-search"></i> Search
                                                </button>

                                            }
                                        }
                                    </div>


                                </div>
                                <div class="row mt-5">
                                    <div class="col-xs-12 col-12">
                                        <div class="table-responsive">
                                            <table id="table-user" class="table table-striped table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th style="display:none;">Id</th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.role_Detail.UserInRoleList.First().EmpCode)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.role_Detail.UserInRoleList.First().FullName)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.role_Detail.UserInRoleList.First().Department)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.role_Detail.UserInRoleList.First().Area)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.role_Detail.UserInRoleList.First().Plant)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.role_Detail.UserInRoleList.First().Company)
                                                        </th>
                                                        <th>
                                                            Action
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody style="font-size : 16px">

                                                    @for (int i = 0; i < Model.role_Detail.UserInRoleList.Count; i++)
                                                    {
                                                        <tr id="tr-id-@Model.role_Detail.UserInRoleList[i].EmpId">
                                                            <td style="display:none;">
                                                                @Html.DisplayFor(modelItem => modelItem.role_Detail.UserInRoleList[i].EmpId)
                                                                @Html.TextBoxFor(modelItem => modelItem.role_Detail.UserInRoleList[i].EmpId, new { @id = "emp_id_" + i, @class = "re-input-number" })
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => modelItem.role_Detail.UserInRoleList[i].EmpCode)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => modelItem.role_Detail.UserInRoleList[i].FullName)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => modelItem.role_Detail.UserInRoleList[i].Department)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => modelItem.role_Detail.UserInRoleList[i].Area)
                                                            </td>

                                                            <td>
                                                                @Html.DisplayFor(modelItem => modelItem.role_Detail.UserInRoleList[i].Plant)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => modelItem.role_Detail.UserInRoleList[i].Company)
                                                            </td>

                                                            <td>
                                                                <a href="javascript:void(0)" data-id="2" onclick="deleteTableUser('@Model.role_Detail.UserInRoleList[i].EmpId')"><i class="fa fa-trash-o"></i></a>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-5">
                                    <div class="col-12 text-right">

                                        <button type="button" class="btn btn-light btn-min-width m-1" id="btn_back" onclick="window.history.back()">
                                            <i class="fa ft-arrow-left"></i> Back
                                        </button>

                                        @if ((Model.IsEditMode == false && ViewContext.HttpContext.User.IsInRole("create")) || (Model.IsEditMode && ViewContext.HttpContext.User.IsInRole("edit")))
                                        {
                                            <button type="reset" class="btn btn-light btn-min-width btn-min-width m-1" id="btn-clear-all">
                                                <i class="fa fa-refresh"></i> Clear
                                            </button>
                                            <button type="button" class="btn btn-primary btn-min-width m-1" id="btn-save">
                                                <i class="fa ft-save"></i> Save
                                            </button>


                                        }

                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!-- content detached right-->

        </div>
    </div>
    <!-- END Content-->

    @Html.HiddenFor(model => model.RoleId, new { @id = "RoleId" })


}


<div class="modal fade" id="modal-user" tabindex="-1" role="dialog" style="overflow:scroll" ; aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content p-lg-5">
            <div class="modal-header">
                <h3 class="modal-title"><i class="ft-user"></i> Search User</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>

            </div>
            <div class="modal-body " id="modal-userDetail">
                <div class="row text-left">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 form-group">
                        @Html.LabelFor(model => model.users_Search.sFirstName, htmlAttributes: new { @class = "control-label col-xs-12 col-md-4" })
                        @Html.TextBoxFor(model => model.users_Search.sFirstName, htmlAttributes: new { @class = "form-control col-xs-12 col-md-8", autocomplete = "off" })
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 form-group">
                        @Html.LabelFor(model => model.users_Search.sLastName, htmlAttributes: new { @class = "control-label col-xs-12 col-md-4" })
                        @Html.TextBoxFor(model => model.users_Search.sLastName, htmlAttributes: new { @class = "form-control col-xs-12 col-md-8", autocomplete = "off" })
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 form-group">
                        @Html.LabelFor(model => model.users_Search.sDepartmentId, htmlAttributes: new { @class = "control-label col-xs-12 col-md-4" })
                        @Html.DropDownListFor(m => m.users_Search.sDepartmentId, Model.ddlDepartment, "--- เลือกทั้งหมด ---", new { @class = "form-control col-xs-12 col-md-8", autocomplete = "off", @onchange = "getAreaByDepartmentIdDDL(this)" })
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 form-group">
                        @Html.LabelFor(model => model.users_Search.sAreaId, htmlAttributes: new { @class = "control-label col-xs-12 col-md-4" })
                        @Html.DropDownListFor(m => m.users_Search.sAreaId, Model.ddlArea, "--- เลือกทั้งหมด ---", new { @class = "form-control col-xs-12 col-md-8", autocomplete = "off", @onchange = "getPlantByAreaIdDDL(this)" })
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 form-group">
                        @Html.LabelFor(model => model.users_Search.sPlantId, htmlAttributes: new { @class = "control-label col-xs-12 col-md-4" })
                        @Html.DropDownListFor(m => m.users_Search.sPlantId, Model.ddlPlant, "--- เลือกทั้งหมด ---", new
                   {
                       @class = "form-control col-xs-12 col-md-8",
                       autocomplete = "off"})
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 form-group">
                        @Html.LabelFor(model => model.users_Search.sCompanyId, htmlAttributes: new { @class = "control-label col-xs-12 col-md-4" })
                        @Html.DropDownListFor(m => m.users_Search.sCompanyId, Model.ddlCompany, "--- เลือกทั้งหมด ---", new { @class = "form-control col-xs-12 col-md-8", autocomplete = "off" })
                    </div>

                    <div class="col-12 text-center mt-5">

                        @if (ViewContext.HttpContext.User.IsInRole("search"))
                        {
                            <button type="button" class="btn btn-primary btn-min-width m-1" id="btn-search">
                                <i class="ficon ft-search"></i> Search
                            </button>
                        }

                        @if ((Model.IsEditMode == false && ViewContext.HttpContext.User.IsInRole("create")) || (Model.IsEditMode && ViewContext.HttpContext.User.IsInRole("edit")))
                        {
                            <button type="reset" class="btn btn-primary btn-min-width m-1" id="btn-modal-confirm" onclick="confirmDataModal()">
                                <i class="fa ft-plus-square "></i> Add
                            </button>
                        }


                    </div>
                </div>


                <div class="row mt-5">
                    <div class="col-xs-12 table-responsive">
                        <table id="user-table-modal" class="table table-bordered table-hover" style="width:100%">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" onchange="checkAll(this)" name="chk[]"></th>
                                    <th>Employee Code</th>
                                    <th>Name</th>
                                    <th>Department</th>
                                    <th>Area</th>
                                    <th>Plant</th>
                                    <th>Company</th>
                                    <th style="display:none;">Shift</th>
                                    <th style="display:none;">Status</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning btn-min-width m-1" style="border-radius: 10px;" id="btnCloseModalHistory" data-dismiss="modal">
                    <i class="ft-x"></i> Close
                </button>
            </div>
        </div>
    </div>
</div>



@Html.Hidden("URL_SEARCH_USER", Url.Action("GetUserList", "Master"))
@Html.Hidden("URL_GetArea", Url.Action("GetAreaByDepartment", "Master"))
@Html.Hidden("URL_GetPlant", Url.Action("GetPlantByArea", "Master"))
@Html.Hidden("URL_GetShift", Url.Action("GetShiftByPlant", "Master"))

@Html.Hidden("URL_GetArea_DDL", Url.Action("GetAreaByDepartmentDDL", "Master"))
@Html.Hidden("URL_GetPlant_DDL", Url.Action("GetPlantByAreaDDL", "Master"))
@Html.Hidden("URL_GetShift_DDL", Url.Action("GetShiftByPlantDDL", "Master"))

@section Scripts{
    @Scripts.Render("~/bundles/createoredit-role")
}
