﻿@model KPI_ONLINE.ViewModel.SearchIndicatorsCriteriaViewModel
@{
    ViewBag.Title = "Indicators Manage".ToUpper();
}
<div class="card" style="margin-bottom:0rem; padding:0.8rem">
    <h2 style="font-weight:800;" class="text-center">@ViewBag.Title</h2>
</div>
<div class="app-content">
    <div class="content-wrapper" style="padding:0rem; padding-top:0px">
        <!-- content detached right-->
        <div class="content-detached">
            <section id="description" class="card">

                @if (ViewBag.Result != null)
                {
                    <div class="card-header">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="alert bg-@ViewBag.Result alert-dismissible mb-2" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <strong>@ViewBag.Message</strong>.
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <div class="card-content">

                    <div class="card-body">
                        <div class="card-text">

                            @using (Html.BeginForm("IndicatorsManage", "Master", FormMethod.Post, new { @class = "form-horizontal form-information" }))
                            {
                                <div class="form-body">
                                    <h4 class="form-section"><i class="ft-filter"></i> Filter Search</h4>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 form-group">
                                        @Html.LabelFor(model => model.Indicator, htmlAttributes: new { @class = "control-label col-xs-12 col-sm-4 col-md-4" })
                                        @Html.DropDownListFor(m => m.Indicator, Model.IndicatorsDDL, "--- เลือกทั้งหมด ---", new { @class = "form-control col-xs-12 col-sm-8 col-md-8 reset-data" })
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 form-group">
                                        @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-xs-12 col-sm-4 col-md-4" })
                                        @Html.DropDownListFor(m => m.Type, Model.TypeDDL, "--- เลือกทั้งหมด ---", new { @class = "form-control col-xs-12 col-sm-8 col-md-8 reset-data" })
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 form-group">
                                        @Html.LabelFor(model => model.Year, htmlAttributes: new { @class = "control-label col-xs-12 col-sm-4 col-md-4" })
                                        @Html.DropDownListFor(m => m.Year, Model.YearDDL, "--- เลือกทั้งหมด ---", new { @class = "form-control col-xs-12 col-sm-8 col-md-8 reset-data" })
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 form-group">
                                        @Html.LabelFor(model => model.CalculateMode, htmlAttributes: new { @class = "control-label col-xs-12 col-sm-4 col-md-4" })
                                        @Html.DropDownListFor(m => m.CalculateMode, Model.CalculateModeDDL, "--- เลือกทั้งหมด ---", new { @class = "form-control col-xs-12 col-sm-8 col-md-8 reset-data" })
                                    </div>
                                </div>

                                <div class="row mt-5">
                                    <div class="col-xs-4 col-md-2">
                                        @if (ViewContext.HttpContext.User.IsInRole("create"))
                                        {
                                            <a class="btn btn-primary btn-min-width m-1" href="@Url.Action("CreateOrEditIndicator","Master")"><i class="fa ft-plus-square "></i> Add</a>
                                        }
                                    </div>
                                    <div class="col-xs-8 col-md-10 text-right">
                                        @*@if (ViewContext.HttpContext.User.IsInRole("create"))
                                        {
                                            <button id="color-modal" type="button" class="btn btn-primary btn-min-width m-1" data-toggle="modal" data-target="#modal-color">
                                                <i class="fa ft-plus-square "></i> Scale Color
                                            </button>
                                        }*@


                                        @if (ViewContext.HttpContext.User.IsInRole("search"))
                                        {
                                            <button type="button" class="btn btn-light  btn-min-width m-1" id="btn-clear-all">
                                                <i class="fa fa-refresh"></i> Clear
                                            </button>
                                            <button type="button" class="btn btn-primary btn-min-width m-1" id="btn-search" onclick="searchResult()">
                                                <i class="ficon ft-search"></i> Search
                                            </button>

                                        }

                                    </div>
                                </div>

                                <div class="form-body mt-5">
                                    <h4 class="form-section"><i class="ft-edit"></i> Search Result</h4>
                                </div>

                                <div class="table-responsive">

                                    <table id="table-indicator" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.SearchResult.First().No)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.SearchResult.First().Name)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.SearchResult.First().Type)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.SearchResult.First().Year)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.SearchResult.First().CalculateMode)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.SearchResult.First().PeriodFrom)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.SearchResult.First().PeriodTo)
                                                </th>
                                                <th> Action </th>
                                            </tr>
                                        </thead>
                                        <tbody style="font-size : 16px">

                                            @foreach (var item in Model.SearchResult)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.No)
                                                    </td>
                                                    <td style="text-align: left !important;">
                                                        @Html.DisplayFor(modelItem => item.Name)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Type)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Year)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.CalculateMode)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.PeriodFrom)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.PeriodTo)
                                                    </td>

                                                    <td>
                                                        @if (ViewContext.HttpContext.User.IsInRole("edit"))
                                                        {
                                                            <a href="@Url.Action("CreateOrEditIndicator", "Master", new { Id = item.Id  })" class="btn-edit" title="Edit">
                                                                <i class="ft-edit"></i>
                                                            </a>
                                                        }

                                                        @if (ViewContext.HttpContext.User.IsInRole("delete"))
                                                        {
                                                            <a href="javascript:void(0)" data-path="@Url.Action("DeleteIndicator", "Master", new { Id = item.Id  })" class="btn-delete @(item.HaveDelete ? string.Empty : "disabled")" data-id="@(item.HaveDelete ? string.Empty : item.Id)" title="Delete">
                                                                <i class="ft-trash"></i>
                                                            </a>
                                                        }

                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>

                                </div>

                            }


                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- content detached right-->

    </div>
</div>

<div class="modal fade" id="modal-color" tabindex="-1" role="dialog" style="overflow:scroll" ; aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title"><i class="ft-book"></i>Scale Color</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>

            </div>
            <div class="modal-body">
                <form id="modal-form">
                    <div class="row p-2 m-1">
                        <div class="col-xs-12 table-responsive">
                            <table id="modal-table-color" class="table table-bordered table-hover" style="width:100%">
                                <thead>
                                    <tr>
                                        @for (int i = 0; i < Model.KPIScaleList.Count; i++)
                                        {
                                            @Html.HiddenFor(modelItem => modelItem.KPIScaleList[i].Scale, new { @class = "form-control", Name = string.Format("No[{0}]", i) })
                                            <th>@Model.KPIScaleList[i].Scale</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>

                                        @for (int i = 0; i < Model.KPIScaleList.Count; i++)
                                        {
                                            @Html.HiddenFor(modelItem => modelItem.KPIScaleList[i].Scale, new { @class = "form-control", Name = string.Format("Id[{0}]", i) })
                                            <td>

                                                <span id="span_@i" style="color:@Model.KPIScaleList[i].CodeColor !important" class="tracking @Model.KPIScaleList[i].DisplayColor.ToLower()" data-color="@Model.KPIScaleList[i].DisplayColor"></span>
                                            </td>
                                        }

                                    </tr>

                                    <tr>

                                        @for (int i = 0; i < Model.KPIScaleList.Count; i++)
                                        {
                                            <td style="padding:0;">

                                                @Html.DropDownListFor(modelItem => modelItem.KPIScaleList[i].DisplayColor, Model.KPIScaleList[i].DisplayColorDDL, new { @style = "display:inline !important", @class = "form-control col-xs-12 col-md-8 ddl-color reset-data-color", Name = string.Format("DisplayColor[{0}]", i), data_id = i })

                                                <script>
                                                $('#@string.Format("KPIScaleList_{0}__DisplayColor", i)').val('@Model.KPIScaleList[i].DisplayColor')
                                                </script>
                                            </td>
                                        }

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-modal-save pull-right" data-action="SAVE" id="btn-modal-save">
                    <i class="fa ft-save"></i> Save
                </button>
                <button type="button" class="btn btn-warning" id="btnCloseModalHistory" data-dismiss="modal">
                    <i class="ft-x"></i> Close
                </button>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="url_edit_scale" value="@Url.Action("EditScaleColor","Master")" />

@section Scripts{
    @Scripts.Render("~/bundles/indicator-manage")
}
