﻿@model KPI_ONLINE.ViewModel.RoleViewModel
@{
    ViewBag.Title = "User Role".ToUpper();
}

<div class="card" style="margin-bottom:0rem; padding:0.8rem">
    <h2 style="font-weight:800;" class="text-center">@ViewBag.Title</h2>
</div>

<div class="app-content">
    <div class="content-wrapper" style="padding:0rem; padding-top:0px">
        <!-- content detached right-->
        <div class="content-detached">
            <section id="description" class="card">

                @if (ViewBag.Result != null)
                {
                    <div class="card-header">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="alert bg-@ViewBag.Result alert-dismissible mb-2" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <strong>@ViewBag.Message</strong>.
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <div class="card-content">
                    <div class="card-body">
                        <div class="card-text">
                            @using (Html.BeginForm("Role", "Master", FormMethod.Post, new { @class = "form-horizontal form-information" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-body">
                                    <h4 class="form-section"><i class="ft-filter"></i> Filter Search</h4>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 form-group">
                                        @Html.LabelFor(model => model.role_Search.sRoleName, htmlAttributes: new { @class = "control-label col-xs-12 col-sm-4 col-md-4" })
                                        @Html.DropDownListFor(model => model.role_Search.sRoleName, Model.ddl_RoleName, "--- เลือกทั้งหมด ---", htmlAttributes: new { @class = "form-control col-xs-12 col-sm-8 col-md-8" })
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 form-group">
                                        @Html.LabelFor(model => model.role_Search.sRoleStatus, htmlAttributes: new { @class = "control-label col-xs-12 col-sm-4 col-md-4" })
                                        @Html.DropDownListFor(model => model.role_Search.sRoleStatus, Model.ddl_Status, "--- เลือกทั้งหมด ---", htmlAttributes: new { @class = "form-control col-xs-12 col-sm-8 col-md-8" })
                                    </div>
                                </div>

                                <div class="row mt-5">
                                    <div class="col-xs-4 col-md-2">
                                        @if (ViewContext.HttpContext.User.IsInRole("create"))
                                        {
                                            <button type="reset" class="btn btn-primary btn-min-width m-1" onclick="addRole('@Url.Action("CreateRole","Master")')">
                                                <i class="fa ft-plus-square "></i> Add
                                            </button>

                                            @*<button type="button" id="btn-add" class="btn btn-success" onclick="addRole('@Url.Action("CreateRole","Master")')">ADD</button>*@
                                            @*@Html.ActionLink("Add", "CreateRole", new { controller = "Master" }, new { @class = "btn btn-success" })*@
                                        }
                                    </div>
                                    <div class="col-xs-8 col-md-10 text-right">

                                        @if (ViewContext.HttpContext.User.IsInRole("search"))
                                        {
                                            <button type="button" class="btn btn-light  btn-min-width m-1" id="btn-clear-all">
                                                <i class="fa fa-refresh"></i> Clear
                                            </button>

                                            <button type="button" id="btn-search" class="btn btn-primary btn-min-width m-1" onclick="searchRole()">
                                                <i class="ficon ft-search"></i> Search
                                            </button>
                                        }
                                    </div>
                                </div>

                                <div class="form-body mt-5">
                                    <h4 class="form-section"><i class="ft-edit"></i> Search Result</h4>
                                </div>

                                <div class="table-responsive">
                                    <table id="searchResultTable" class="table table-striped table-bordered base-style">
                                        <thead>
                                            <tr>
                                                <th>ROLE NAME</th>
                                                <th>DESCRIPTION</th>
                                                <th>ACTION</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.role_Search.sSearchData.Count > 0)
                                            {
                                                foreach (var v in Model.role_Search.sSearchData)
                                                {
                                                    <tr>
                                                        <td>@v.dRolName</td>
                                                        <td>@v.dRolDesc</td>
                                                        <td width="100px">

                                                            @if (ViewContext.HttpContext.User.IsInRole("edit"))
                                                            {
                                                                <a class="btn-edit" href="@Url.Action("EditRole", "Master", new { RoleID = @v.dRolID  })" title="Edit">
                                                                    <i class="ft-edit"></i>
                                                                </a>
                                                            }


                                                            @if (ViewContext.HttpContext.User.IsInRole("delete"))
                                                            {

                                                                <a href="javascript:void(0)" data-path="@Url.Action("DeleteRole", "Master", new { RoleID = @v.dRolID  })" class="btn-delete @(v.HaveDelete ? string.Empty : "disabled")" data-id="@(v.HaveDelete ? string.Empty : v.dRolID)" title="Delete">
                                                                    <i class="ft-trash"></i>
                                                                </a>
                                                            }

                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }


                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- content detached right-->

    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/role")
}
