﻿@model KPI_ONLINE.ViewModel.UsersViewModel
@{
    ViewBag.Title = "User Management".ToUpper();
}

@*<a href="#" title="your wish" onclick="openURL()">test</a>*@
<div class="card" style="margin-bottom:0rem; padding:0.8rem">
    <h2 style="font-weight:800;" class="text-center">@ViewBag.Title</h2>
</div>

<div class="app-content">
    <div class="content-wrapper" style="padding:0rem; padding-top:0px">
        <!-- content detached right-->
        <div class="content-detached">
            <section id="description" class="card">

                @if (ViewBag.Result != null)
                {
                    <div class="card-header">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="alert bg-@ViewBag.Result alert-dismissible mb-2" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <strong>@ViewBag.Message</strong>.
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <div class="card-content">

                    <div class="card-body">
                        <div class="card-text">

                            @using (Html.BeginForm("User", "Master", FormMethod.Post, new { @class = "form-horizontal form-information", @id = "form-information" }))
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-body">
                                    <h4 class="form-section"><i class="ft-filter"></i> Filter Search</h4>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12 col-md-6 col-lg-6 form-group">
                                        @Html.LabelFor(model => model.users_Search.sFirstName, htmlAttributes: new { @class = "control-label col-xs-12 col-sm-4 col-md-4" })
                                        @Html.TextBoxFor(model => model.users_Search.sFirstName, htmlAttributes: new { @class = "form-control col-xs-12 col-sm-8 col-md-8", @autocomplete = "off" })
                                    </div>
                                    <div class="col-xs-12 col-md-6 col-lg-6 form-group">
                                        @Html.LabelFor(model => model.users_Search.sLastName, htmlAttributes: new { @class = "control-label col-xs-12 col-sm-4 col-md-4" })
                                        @Html.TextBoxFor(model => model.users_Search.sLastName, htmlAttributes: new { @class = "form-control col-xs-12 col-sm-8 col-md-8", @autocomplete = "off" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-md-6 col-lg-6 form-group">
                                        @Html.LabelFor(model => model.users_Search.sEmployeeCode, htmlAttributes: new { @class = "control-label col-xs-12 col-sm-4 col-md-4" })
                                        @Html.TextBoxFor(model => model.users_Search.sEmployeeCode, htmlAttributes: new { @class = "form-control col-xs-12 col-sm-8 col-md-8", @autocomplete = "off" })
                                    </div>
                                    <div class="col-xs-12 col-md-6 col-lg-6 form-group">
                                        @Html.LabelFor(model => model.users_Search.sDepartmentId, htmlAttributes: new { @class = "control-label col-xs-12 col-sm-4 col-md-4" })
                                        @Html.DropDownListFor(model => model.users_Search.sDepartmentId, Model.ddlDepartment, "--- เลือกทั้งหมด ---" , new { @class = "form-control col-xs-12 col-sm-8 col-md-8", @onchange = "getAreaByDepartmentIdDDL(this)" })



                                    </div>
                                    <div class="col-xs-12 col-md-6 col-lg-6 form-group">
                                        @Html.LabelFor(model => model.users_Search.sAreaId, htmlAttributes: new { @class = "control-label col-xs-12 col-sm-4 col-md-4" })
                                        @Html.DropDownListFor(m => m.users_Search.sAreaId, Model.ddlArea, "--- เลือกทั้งหมด ---", new { @class = "form-control col-xs-12 col-sm-8 col-md-8 ddl-reset", @onchange = "getPlantByAreaIdDDL(this)" })
                                    </div>

                                    <div class="col-xs-12 col-md-6 col-lg-6 form-group">
                                        @Html.LabelFor(model => model.users_Search.sPlantId, htmlAttributes: new { @class = "control-label col-xs-12 col-sm-4 col-md-4" })
                                        @Html.DropDownListFor(m => m.users_Search.sPlantId, Model.ddlPlant, "--- เลือกทั้งหมด ---", new { @class = "form-control col-xs-12 col-sm-8 col-md-8 ddl-reset", @onchange = "getShiftByPlantIdDDL(this)" })
                                    </div>

                                    <div class="col-xs-12 col-md-6 col-lg-6 form-group">
                                        @Html.LabelFor(model => model.users_Search.sShiftId, htmlAttributes: new { @class = "control-label col-xs-12 col-sm-4 col-md-4" })
                                        @Html.DropDownListFor(m => m.users_Search.sShiftId, Model.ddlShift, "--- เลือกทั้งหมด ---", new { @class = "form-control col-xs-12 col-sm-8 col-md-8 ddl-reset" })
                                    </div>
                                    <div class="col-xs-12 col-md-6 col-lg-6 form-group">
                                        @Html.LabelFor(model => model.users_Search.sCompanyId, htmlAttributes: new { @class = "control-label col-xs-12 col-sm-4 col-md-4" })
                                        @Html.DropDownListFor(m => m.users_Search.sCompanyId, Model.ddlCompany, "--- เลือกทั้งหมด ---", new { @class = "form-control col-xs-12 col-sm-8 col-md-8" })
                                    </div>
                                    <div class="col-xs-12 col-md-6 col-lg-6 form-group">
                                        @Html.LabelFor(model => model.users_Search.sRoleId, htmlAttributes: new { @class = "control-label col-xs-12 col-sm-4 col-md-4" })
                                        @Html.DropDownListFor(m => m.users_Search.sRoleId, Model.ddlRole, "--- เลือกทั้งหมด ---", new { @class = "form-control col-xs-12 col-sm-8 col-md-8" })
                                    </div>
                                    <div class="col-xs-12 col-md-6 col-lg-6 form-group">
                                        @Html.LabelFor(model => model.users_Search.sStatus, htmlAttributes: new { @class = "control-label col-xs-12 col-sm-4 col-md-4" })
                                        @Html.DropDownListFor(m => m.users_Search.sStatus, Model.ddlStatus, "--- เลือกทั้งหมด ---", new { @class = "form-control col-xs-12 col-sm-8 col-md-8" })
                                    </div>

                                </div>

                                <div class="row mt-5">
                                    <div class="col-xs-4 col-md-2">
                                        @if (ViewContext.HttpContext.User.IsInRole("create"))
                                        {
                                            <a class="btn btn-primary btn-min-width m-1" style="border-radius: 10px;" href="@Url.Action("CreateUser","Master")/">
                                                <i class="fa ft-plus-square "></i> Add
                                            </a>

                                        }
                                    </div>
                                    <div class="col-xs-8 col-md-10 text-right">
                                        @if (ViewContext.HttpContext.User.IsInRole("search"))
                                        {
                                            <button type="button" class="btn btn-light  btn-min-width m-1" id="btn-clear-all">
                                                <i class="fa fa-refresh"></i> Clear
                                            </button>
                                        }

                                        @if (ViewContext.HttpContext.User.IsInRole("export"))
                                        {
                                            <a class="btn btn-primary btn-min-width m-1" id="btn-export" href="javascript:void(0)" onclick="getGenerateExcel()"><i class="ft-share"></i> Export File</a>
                                        }

                                        @if (ViewContext.HttpContext.User.IsInRole("search"))
                                        {
                                            <button type="button" id="btn-search" class="btn btn-primary btn-min-width m-1" formnovalidate="formnovalidate" onclick="searchUser()" value="SEARCH">
                                                <i class="ficon ft-search"></i> Search
                                            </button>
                                        }
                                    </div>
                                </div>

                                <div class="form-body mt-5">
                                    <h4 class="form-section"><i class="ft-edit"></i> Search Result</h4>
                                </div>

                                <div class="table-responsive">
                                    <table id="searchResultTable" class="table table-bordered table-hover display" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th>EMPLOYEE CODE</th>
                                                <th>FIRST NAME</th>
                                                <th>LAST NAME</th>
                                                <th>DEPARTMENT</th>
                                                <th>AREA</th>
                                                <th>PLANT</th>
                                                <th>SHIFT</th>
                                                <th>COMPANY</th>
                                                <th>TEL</th>
                                                <th>USER ROLE</th>
                                                <th>STATUS</th>
                                                <th>ACTION</th>

                                            </tr>
                                        </thead>
                                        <tbody>

                                            @if (Model.users_Search.sSearchData.Count > 0)
                                            {
                                                foreach (var v in Model.users_Search.sSearchData)
                                                {
                                                    <tr>
                                                        <td>@v.dUserCode</td>
                                                        <td style="text-align:left!important">@v.dFirstName</td>
                                                        <td style="text-align:left!important">@v.dLastName</td>
                                                        <td>@v.DepartmentName</td>
                                                        <td>@v.AreaName</td>
                                                        <td>@v.PlantName</td>
                                                        <td>@v.ShiftName</td>
                                                        <td>@v.CompanyName</td>
                                                        <td>@v.Tel</td>
                                                        <td>@v.UserRoleName</td>
                                                        <td>@v.dStatus</td>
                                                        <td width="100px">

                                                            @if (ViewContext.HttpContext.User.IsInRole("edit"))
                                                            {
                                                                <a class="btn-edit" href="@Url.Action("EditUser", "Master", new { id = @v.Id  })" title="Edit">
                                                                    <i class="ft-edit"></i>
                                                                </a>
                                                            }

                                                        </td>
                                                    </tr>
                                                }
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            }


                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- content detached right-->

    </div>
</div>


@Html.Hidden("URL_GEN_EXCEL", Url.Action("UserExportExcel", "Master"))


@section Scripts{
    @Scripts.Render("~/bundles/user")
}

