﻿@model KPI_ONLINE.ViewModel.UserMonitorViewModel

@{
    ViewBag.Title = "PIS User Manage".ToUpper();
}

<style type="text/css">

    .user-monitor .form-control {
        text-align: center;
        text-align-last: center;
    }

    .table > tbody > tr > td {
        vertical-align: middle;
    }

    .ui-autocomplete {
        max-height: 200px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
    }

    * html .ui-autocomplete {
        height: 200px;
    }

    .user-monitor {
        /*color:red;*/
        display: block;
    }

    .user-system {
        color: black;
    }

    .user-monitor .form-control {
        color: red;
    }
</style>

<div class="card" style="margin-bottom:0rem; padding:0.8rem">
    <h2 style="font-weight:800;" class="text-center">@ViewBag.Title</h2>
</div>
<div class="app-content">
    <div class="content-wrapper" style="padding:0rem; padding-top:0px">
        <!-- content detached right-->
        <div class="content-detached">
            <section id="description" class="card">
                <div class="card-header">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert bg-danger alert-dismissible mb-2" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <strong>* ตัวอักษรสีแดง หมายถึง ข้อมูลที่มีการเปลี่ยนแปลงไปจากที่มีในระบบ</strong>.
                            </div>
                        </div>
                    </div>

                    @if (ViewBag.Result != null)
                    {


                        <div class="row">
                            <div class="col-md-12">
                                <div class="alert bg-@ViewBag.Result alert-dismissible mb-2" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <strong style="white-space: pre-line !important;">@ViewBag.Message</strong>.
                                </div>
                            </div>
                        </div>

                    }

                </div>

                <div class="card-content">
                    <div class="card-body">
                        <div class="card-text">
                            @using (Html.BeginForm("ImportUserMonitor", "Master", FormMethod.Post, new { @class = "form-horizontal form-information", enctype = "multipart/form-data" }))
                            {

                                <div class="form-body">
                                    <h4 class="form-section"><i class="ft-folder"></i> IMPORT </h4>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-3 col-md-3">
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="fileToUpload" name="fileToUpload" aria-describedby="inputGroupFileAddon04">
                                                <label class="custom-file-label" for="inputGroupFile04">Browse</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-9 col-sm-6 col-md-6">
                                        <input type="hidden" value="" name="buttonAction" id="buttonAction" />
                                        @{
                                            if (ViewContext.HttpContext.User.IsInRole("import"))
                                            {
                                                <button type="button" class="btn btn-primary import-btn btn-min-width m-1">
                                                    <i class="fa fa-download"></i> Import File
                                                </button>
                                            }

                                            if (ViewContext.HttpContext.User.IsInRole("create"))
                                            {
                                                <button type="button" class="btn btn-primary save-user-monitor btn-min-width m-1">
                                                    <i class="fa ft-save"></i> Save
                                                </button>
                                            }
                                        }

                                    </div>
                                    <div class="col-xs-3 col-sm-3 col-md-3 text-right">
                                        @{
                                            if (ViewContext.HttpContext.User.IsInRole("export"))
                                            {
                                                <a class="btn btn-primary  btn-min-width m-1" id="btn-export" href="javascript:void(0)" onclick="getGenerateExcel()">
                                                    <i class="ft-share"></i> Export File
                                                </a>
                                            }
                                        }

                                    </div>
                                </div>

                                <div class="form-body mt-5">
                                    <h4 class="form-section"><i class="ft-edit"></i> Result </h4>
                                </div>
                                <div class="row mt-5">
                                    <div class="table-responsive col-md-12">
                                        <table id="searchResultTable" class="table table-hover display table-bordered" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th>Employee Code</th>
                                                    <th>First Name</th>
                                                    <th>Last Name</th>
                                                    <th>Department</th>
                                                    <th>Area</th>
                                                    <th>Plant</th>
                                                    <th>Shift</th>
                                                    <th>Company</th>
                                                    <th>User AD</th>
                                                    <th>User Role</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    var i = 0;
                                                    foreach (var item in Model.UserMonitorDiffLs.ToList())
                                                    {

                                                        if (item.IsShowRow)
                                                        {
                                                            <tr>
                                                                <td>
                                                                    <span class="user-monitor">
                                                                        @item.MUserCode
                                                                    </span>
                                                                    @if (!item.IsDuplicateUsercode)
                                                                    {
                                                                        <span class="user-system">@item.TUserCode</span>
                                                                    }
                                                                    @Html.HiddenFor(modelItem => modelItem.UserMonitorDiffLs[i].MUserCode, new { @class = "form-control", Name = string.Format("UserMonitorDiffLs[{0}].MUsercode", i) })

                                                                </td>
                                                                <td>
                                                                    <span class="user-monitor">
                                                                        @Html.TextBoxFor(modelItem => modelItem.UserMonitorDiffLs[i].MFirstName, new { @autocomplete = "off", @class = "form-control", Name = string.Format("UserMonitorDiffLs[{0}].MFirstName", i) })
                                                                    </span>
                                                                    @if (!item.IsDuplicateFirstName)
                                                                    {
                                                                        <span class="user-system">@item.TFirstName</span>
                                                                    }

                                                                </td>
                                                                <td>
                                                                    <span class="user-monitor">
                                                                        @Html.TextBoxFor(modelItem => modelItem.UserMonitorDiffLs[i].MLastName, new { @autocomplete = "off", @class = "form-control", Name = string.Format("UserMonitorDiffLs[{0}].MLastName", i) })
                                                                    </span>

                                                                    @if (!item.IsDuplicateLastName)
                                                                    {
                                                                        <span class="user-system">@item.TLastName</span>
                                                                    }

                                                                </td>
                                                                <td>
                                                                    <span class="user-monitor">
                                                                        <select class="form-control dep-ddl" data-id="@i" id="UserMonitorDiffLs_@(i)__mDepartmentName" name="UserMonitorDiffLs[@i].mDepartmentName" required>
                                                                            @foreach (var ddl in Model.DepartmentDDL)
                                                                            {
                                                                                <option value="@ddl.Value" @(ddl.Value.Equals(item.MDepartmentName, StringComparison.OrdinalIgnoreCase) ? "selected" : "")>@ddl.Text</option>
                                                                            }
                                                                        </select>
                                                                    </span>
                                                                    @if (!item.IsDuplicateDepartmentName)
                                                                    {
                                                                        <span class="user-system">@item.TDepartmentName</span>
                                                                    }
                                                                </td>
                                                                <td>
                                                                    <span class="user-monitor">
                                                                        <select class="form-control area-ddl" id="UserMonitorDiffLs_@(i)__mAreaName" name="UserMonitorDiffLs[@i].mAreaName">
                                                                            @foreach (var ddl in Model.AreaDDL)
                                                                            {
                                                                                <option value="@ddl.Value" @(ddl.Value.Equals(item.MAreaName, StringComparison.OrdinalIgnoreCase) ? "selected" : "")>@ddl.Text</option>
                                                                            }
                                                                        </select>
                                                                    </span>
                                                                    @if (!item.IsDuplicateAreaName)
                                                                    {
                                                                        <span class="user-system">@item.TAreaName</span>
                                                                    }

                                                                </td>
                                                                <td>
                                                                    <span class="user-monitor">
                                                                        <select class="form-control plant-ddl" id="UserMonitorDiffLs_@(i)__mPlantName" name="UserMonitorDiffLs[@i].mPlantName">
                                                                            @foreach (var ddl in Model.PlantDDL)
                                                                            {
                                                                                <option value="@ddl.Value" @(ddl.Value.Equals(item.MPlantName, StringComparison.OrdinalIgnoreCase) ? "selected" : "")>@ddl.Text</option>
                                                                            }
                                                                        </select>
                                                                    </span>
                                                                    @if (!item.IsDuplicatePlantName)
                                                                    {
                                                                        <span class="user-system">@item.TPlantName</span>
                                                                    }

                                                                </td>
                                                                <td>
                                                                    <span class="user-monitor">
                                                                        <select class="form-control shift-ddl" id="UserMonitorDiffLs_@(i)__mShiftName" name="UserMonitorDiffLs[@i].mShiftName">
                                                                            @foreach (var ddl in Model.ShiftDDL)
                                                                            {
                                                                                <option value="@ddl.Value" @(ddl.Value.Equals(item.MShiftName, StringComparison.OrdinalIgnoreCase) ? "selected" : "")>@ddl.Text</option>
                                                                            }
                                                                        </select>
                                                                    </span>
                                                                    @if (!item.IsDuplicateShiftName)
                                                                    {
                                                                        <span class="user-system">@item.TShiftName</span>
                                                                    }

                                                                </td>
                                                                <td>
                                                                    <span class="user-monitor">
                                                                        <select class="form-control" id="UserMonitorDiffLs_@(i)__mCompanyName" name="UserMonitorDiffLs[@i].mCompanyName" required>
                                                                            @foreach (var ddl in Model.CompanyDDL)
                                                                            {
                                                                                <option value="@(ddl.Text == "-- กรุณาเลือก --" ? string.Empty : ddl.Text)" @(ddl.Text == item.MCompanyName ? "selected" : "")>@ddl.Text</option>
                                                                            }
                                                                        </select>
                                                                    </span>
                                                                    @if (!item.IsDuplicateCompanyName)
                                                                    {
                                                                        <span class="user-system">@item.TCompanyName</span>
                                                                    }
                                                                </td>
                                                                <td>
                                                                    <span class="user-monitor">
                                                                        @Html.TextBoxFor(modelItem => modelItem.UserMonitorDiffLs[i].MUserAD, new { @class = "form-control", Name = string.Format("UserMonitorDiffLs[{0}].MUserAd", i) })

                                                                    </span>
                                                                    @if (!item.IsDuplicateUserAD)
                                                                    {
                                                                        <span class="user-system">@item.TUserAD</span>
                                                                    }

                                                                </td>
                                                                <td>
                                                                    <select class="form-control role-ddl" id="UserMonitorDiffLs_@(i)__TUserRoleId" name="UserMonitorDiffLs[@i].TUserRoleId">
                                                                        @foreach (var ddl in Model.RoleDDL)
                                                                        {
                                                                            <option value="@ddl.Value" @(ddl.Value == item.TUserRoleId ? "selected" : "")>@ddl.Text</option>
                                                                        }
                                                                    </select>
                                                                </td>
                                                            </tr>

                                                            i++;
                                                        }

                                                    }

                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                @Html.Hidden("URL_GEN_EXCEL", Url.Action("UserMonitorGenerateExcel", "Master"))
                            }


                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- content detached right-->

    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/user-monitor")
}
