﻿@using Web.Utilitie

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i%7COpen+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
    <link rel="icon" type="image/png" href="~/favicon.ico" />
    <title>@ViewBag.Title - KPI Application</title>
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/jsvalidator")*@
</head>
<body class="vertical-layout vertical-menu-modern 2-columns   fixed-navbar" data-open="click" data-menu="vertical-menu-modern" data-col="2-columns">
    <!-- BEGIN: Header-->
    <nav class="header-navbar navbar-expand-lg navbar navbar-with-menu fixed-top navbar-semi-dark navbar-shadow">
        <div class="navbar-wrapper">
            <div class="navbar-header">
                <ul class="nav navbar-nav flex-row">
                    <li class="nav-item mobile-menu d-lg-none mr-auto"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="ft-menu font-large-1"></i></a></li>
                    <li class="nav-item mr-auto">
                        <a class="navbar-brand" href="@Url.Action("Index", "Dashboard")" style="padding-top: 5px;">
                            <img class="brand-logo" alt="stack admin logo" src="~/Content/app-assets/images/logo/Thaioil_Corporate_Logo_x.png" style="height: 40px;">
                            <h2 class="brand-text" style="float: right;margin: 10px -10px -10px 0px;font-weight: bold;padding-bottom: -10px;color: #da288b;line-height: 0.7;font-family: fantasy;"> 
                                KPI
                                <span style="color:#da288b; white-space: pre-line;" class="font-medium-3"> 
                                    Dashboard
                                </span> 
                            </h2>
                        </a>
                    </li>
                    <li class="nav-item d-none d-lg-block nav-toggle"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i class="toggle-icon ft-toggle-right font-medium-3 white" data-ticon="ft-toggle-right"></i></a></li>
                    @*<li class="nav-item d-lg-none"><a class="nav-link open-navbar-container" data-toggle="collapse" data-target="#navbar-mobile"><i class="fa fa-ellipsis-v"></i></a></li>*@
                </ul>
            </div>
            <div class="navbar-container content">
                <div class="collapse navbar-collapse" id="navbar-mobile">
                    <ul class="nav navbar-nav mr-auto float-left">

                        @*<li class="nav-item d-none d-md-block"><a class="nav-link nav-link-expand" href="#"><i class="ficon ft-maximize"></i></a></li>*@
                        @*<li class="nav-item nav-search">
                                <a class="nav-link nav-link-search" href="#"><i class="ficon ft-search"></i></a>
                                <div class="search-input">
                                    <input class="input" type="text" placeholder="Explore Stack...">
                                </div>
                            </li>*@
                    </ul>
                    <ul class="nav navbar-nav float-right">
                        <li class="dropdown dropdown-user nav-item">
                            <a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown"><span class="avatar avatar-online"><img src="@ViewData["empImage"]" alt="image"><i></i></span><span class="user-name">@ViewData["lbUserName"]</span></a>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- END: Header-->
    <!-- BEGIN: Main Menu-->
    <div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true" style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
        <div class="main-menu-content ps" style="height: 734px;">
            <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">

                @{
                    if (ViewContext.HttpContext.User.IsInRole(ConstantPrm.MenuAuthorize.DASHBOARD_MENU))
                    {
                        <li class="nav-item">
                            <a class="menu-item" href="@Url.Action("Index", "Dashboard")"><i class="ft-home"></i><span class="menu-title" data-i18n="">@ConstantPrm.MenuAuthorize.DASHBOARD_MENU</span></a>
                        </li>
                    }
                    if (ViewContext.HttpContext.User.IsInRole(ConstantPrm.MenuAuthorize.ADMIN_MENU))
                    {
                        <li class="nav-item has-sub">
                            <a href="#"><i class="ft-users"></i><span class="menu-title" data-i18n="">@ConstantPrm.MenuAuthorize.ADMIN_MENU</span></a>
                            <ul class="menu-content" style="">

                                @if (ViewContext.HttpContext.User.IsInRole(ConstantPrm.MenuAuthorize.USER_MENU))
                                {
                                    <li><a class="menu-item" href="@Url.Action("User", "Master")">@ConstantPrm.MenuAuthorize.USER_MENU</a></li>
                                }

                                @if (ViewContext.HttpContext.User.IsInRole(ConstantPrm.MenuAuthorize.PIS_MENU))
                                {
                                    <li> <a class="menu-item" href="@Url.Action("UserMonitor", "Master")">@ConstantPrm.MenuAuthorize.PIS_MENU</a></li>
                                }

                                @if (ViewContext.HttpContext.User.IsInRole(ConstantPrm.MenuAuthorize.ROLE_MENU))
                                {
                                    <li> <a class="menu-item" href="@Url.Action("Role", "Master")">@ConstantPrm.MenuAuthorize.ROLE_MENU</a></li>
                                }

                                @if (ViewContext.HttpContext.User.IsInRole(ConstantPrm.MenuAuthorize.KPI_MANAGE_MENU))
                                {
                                    <li><a class="menu-item" href="@Url.Action("IndicatorsManage", "Master")">@ConstantPrm.MenuAuthorize.KPI_MANAGE_MENU</a></li>
                                }

                            </ul>
                        </li>
                    }

                    if (ViewContext.HttpContext.User.IsInRole(ConstantPrm.MenuAuthorize.REPORT_MENU))
                    {
                        <li class="nav-item has-sub">
                            <a href="#"><i class="ft-file-text"></i><span class="menu-title" data-i18n="">@ConstantPrm.MenuAuthorize.REPORT_MENU</span></a>
                            <ul class="menu-content" style="">

                                @if (ViewContext.HttpContext.User.IsInRole(ConstantPrm.MenuAuthorize.EXECUTIVE_REPORT_MENU))
                                {
                                    <li><a class="menu-item" href="@Url.Action("Index","ReportExcrusiveKPI")">Report Executive KPI</a></li>
                                }

                                @if (ViewContext.HttpContext.User.IsInRole(ConstantPrm.MenuAuthorize.KPI_PERFORMANCE_REPORT_MENU))
                                {
                                    <li> <a class="menu-item" href="@Url.Action("Index","ReportKPISummaryPerformance")">Report Summary Performance</a></li>
                                }

                                @if (ViewContext.HttpContext.User.IsInRole(ConstantPrm.MenuAuthorize.KPI_SUMMARY_MENU))
                                {
                                    <li> <a class="menu-item" href="@Url.Action("Index","VpAndPomKPIResultReport")">Report VP and POM KPI</a></li>
                                }


                                @if (ViewContext.HttpContext.User.IsInRole(ConstantPrm.MenuAuthorize.KPI_DETAIL_REPORT_MENU))
                                {
                                    <li><a class="menu-item" href="@Url.Action("Index","KPIDetailAreaReport")">KPI Detail Area Report</a></li>
                                }

                                @if (ViewContext.HttpContext.User.IsInRole(ConstantPrm.MenuAuthorize.MAP_REPORT_MENU))
                                {
                                    <li><a class="menu-item" href="@Url.Action("Index","ReportMap")">Map View</a></li>
                                }
                            </ul>
                        </li>
                    }


                    if (ViewContext.HttpContext.User.IsInRole(ConstantPrm.MenuAuthorize.IMPORT_MENU))
                    {
                        <li class="nav-item">
                            <a class="menu-item" href="@Url.Action("Search","ImportKPIData")"><i class="ft-upload-cloud"></i><span class="menu-title" data-i18n="">Import Data</span></a>
                        </li>
                    }



                }




            </ul>
            <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div>
        </div>
    </div>

    <!-- BEGIN: Content-->
    @Scripts.Render("~/bundles/helper")
    @*@Scripts.Render("~/bundles/themejs")*@
    @Scripts.Render("~/bundles/modernizr")
    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/bootbox")


    @*@Scripts.Render("~/bundles/datatables")*@
    @Scripts.Render("~/bundles/bootstrap-toggle")
    @Scripts.Render("~/bundles/datepicker")
    @Scripts.Render("~/bundles/alertify")
    @Scripts.Render("~/bundles/loader")
    @Scripts.Render("~/bundles/bootstrap-treeview")

    @RenderSection("scripts", required: false)

    <input type="hidden" id="AppName" value="@System.Configuration.ConfigurationManager.AppSettings["AppName"]" />

    <div class="app-content content">
        <div class="content-body">

            @RenderBody()

        </div>
    </div>

    <!-- END: Content-->

    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    @Html.Hidden("URL_GetArea_DDL", Url.Action("GetAreaByDepartmentDDL", "Master"))
    @Html.Hidden("URL_GetPlant_DDL", Url.Action("GetPlantByAreaDDL", "Master"))
    @Html.Hidden("URL_GetShift_DDL", Url.Action("GetShiftByPlantDDL", "Master"))

    <div class="loader" style="display:none;">
        <div class="loader-inner ball-grid-pulse">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div><span class="tooltip">
            <p>ball-grid-pulse</p>
        </span>
    </div>


</body>
</html>
