﻿@model KPI_ONLINE.ViewModel.Template
<h2>Export Template</h2>
@if (Model.TemplatesList != null)
{
    var j = 0;
    foreach (var template in Model.TemplatesList)
    {
        <h3> @template.KPIIndicator</h3>
        if (template.ExportResultList != null)
        {

            <table class="table table-hover display searchResultTable" cellspacing="0">
                <thead>
                    <tr>
                        <th>NO </th>
                        <th>Department </th>
                        <th>Area </th>
                        <th>Plant </th>
                        <th>Shift </th>
                        @if (template.Type != "Shift")
                        {
                            <th>Emp ID</th>
                            <th>Fisrst Name </th>
                            <th>Last Name </th>
                        }
                        <th>KPI Date </th>
                        <th>Actual Score </th>
                        <th>YearTo Date </th>
                        <th>Note</th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < template.ExportResultList.Count(); i++)
                    {
                        <tr>
                            <td>@Html.TextBoxFor(m => m.TemplatesList[j].ExportResultList[i].NO, new { @class = "form-control" })</td>
                            <td>@Html.TextBoxFor(m => m.TemplatesList[j].ExportResultList[i].DepartMent, new { @class = "form-control" })</td>
                            <td>@Html.TextBoxFor(m => m.TemplatesList[j].ExportResultList[i].Area, new { @class = "form-control" })</td>
                            <td>@Html.TextBoxFor(m => m.TemplatesList[j].ExportResultList[i].Plant, new { @class = "form-control" })</td>
                            <td>@Html.TextBoxFor(m => m.TemplatesList[j].ExportResultList[i].Shift, new { @class = "form-control" })</td>
                            @if (template.Type?.ToLower() == "individual")
                            {
                                <td>@Html.TextBoxFor(m => m.TemplatesList[j].ExportResultList[i].EmpID, new { @class = "form-control" })</td>
                                <td>@Html.TextBoxFor(m => m.TemplatesList[j].ExportResultList[i].FirstName, new { @class = "form-control" })</td>
                                <td>@Html.TextBoxFor(m => m.TemplatesList[j].ExportResultList[i].LastName, new { @class = "form-control" })</td>
                            }
                            <td>@Html.TextBoxFor(m => m.TemplatesList[j].ExportResultList[i].KPIDatesTRING, new { @class = "form-control" })</td>
                            <td>@Html.TextBoxFor(m => m.TemplatesList[j].ExportResultList[i].ActualScore, new { @class = "form-control" })</td>
                            <td>@Html.TextBoxFor(m => m.TemplatesList[j].ExportResultList[i].YearToDate, new { @class = "form-control" })</td>
                            <td>@Html.TextBoxFor(m => m.TemplatesList[j].ExportResultList[i].Note, new { @class = "form-control" })</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        j++;

    }
}