﻿@model KPI_ONLINE.ViewModel.ManageKPIData
@{

    string isDisable = (string)ViewData["action"] == "Update" ? "disabled" : "false";
}

<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">@ViewData["action"]</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body" id="managepopup">
                <div class="row">
                    <div class="col-12 col-sm-6 form-group">
                        <label>Department</label>
                        @if ((string)ViewData["action"] == "Update")
                        {
                            @Html.TextBoxFor(m => m.Department, new { @class = "form-control", @disabled = isDisable })
                        }
                        else
                        {
                            @Html.DropDownListFor(m => m.Department, Model.ddDepartment,"-- กรุณาเลือก --", new { @class = "form-control ", @onchange = "getAreaByDepartmentIdDDL(this)" })
                        }
                    </div>
                    <div class="col-12 col-sm-6 form-group">
                        <label>Area</label>
                        @if ((string)ViewData["action"] == "Update")
                        {
                            @Html.TextBoxFor(m => m.Area, new { @class = "form-control", @disabled = isDisable })
                        }
                        else
                        {
                            @Html.DropDownListFor(m => m.Area, Model.ddArea, "-- กรุณาเลือก --", new { @class = "form-control ", @onchange = "getPlantByAreaIdDDL(this)" })
                        }
                    </div>
                    <div class="col-12 col-sm-6 form-group">
                        <label>Plant</label>
                        @if ((string)ViewData["action"] == "Update")
                        {
                            @Html.TextBoxFor(m => m.Plant, new { @class = "form-control", @disabled = isDisable })
                        }
                        else
                        {
                            @Html.DropDownListFor(m => m.Plant, Model.ddPlant, "-- กรุณาเลือก --", new { @class = "form-control ", @onchange = "getShiftByPlantIdDDL(this)" })
                        }
                    </div>
                    <div class="col-12 col-sm-6 form-group">
                        <label>Shift</label>
                        @if ((string)ViewData["action"] == "Update")
                        {
                            @Html.TextBoxFor(m => m.Plant, new { @class = "form-control", @disabled = isDisable })
                        }
                        else
                        {
                            @Html.DropDownListFor(m => m.Shift, Model.ddShift, "-- กรุณาเลือก --", new { @class = "form-control ", @onchange = "getUserByPlantIdDDL(this)" })
                        }
                    </div>
                    <div class="col-12 col-sm-6 form-group individual">
                        <label>User Name</label>
                        @if ((string)ViewData["action"] == "Update")
                        {
                            @Html.TextBox("UserId", Model.FirstName + " " + Model.LastName, new { @class = "form-control", @disabled = isDisable })
                        }
                        else
                        {
                            @Html.DropDownListFor(m => m.UserId, Model.ddKPIIndicator, "-- กรุณาเลือก --", new { @class = "form-control " })
                        }
                    </div>
                    <div class="col-12 form-group">
                        <label>KPI Indicator</label>
                        @if ((string)ViewData["action"] == "Update")
                        {
                            @Html.TextBoxFor(m => m.KPIIndicator, new { @class = "form-control", @disabled = isDisable, style = "min-width:unset" })
                        }
                        else
                        {
                            @Html.DropDownListFor(m => m.KPIIndicator, Model.ddKPIIndicator, "-- กรุณาเลือก --", new { @class = "form-control ", style = "min-width:unset", @onchange = "checkindicator()" })
                        }
                    </div>

                    <div class="col-12 form-group ">
                        <label>Type</label>
                        <div class="col-12" style="height: 34px;">
                            @Html.RadioButtonFor(model => model.Type, "Individual", new { id = "individual", @class = "radio-inline", disabled = "" })
                            @Html.Label("individual", "Individual")
                            @Html.RadioButtonFor(model => model.Type, "Shift", new { id = "shift", @class = "radio-inline", disabled = "" })
                            @Html.Label("shift", "Shift")
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 form-group">
                        <label>Actual Score</label>
                        @Html.TextBoxFor(m => m.ActualScore, Model.ActualScore, new { @class = "form-control " })
                    </div>
                    @*<div class="col-12 col-sm-6 form-group" >
                        <label>Year To Date</label>
                        @Html.TextBoxFor(m => m.YearToDate, Model.YearToDate, new { @class = "form-control " })
                    </div>*@
                    <div class="col-12 col-sm-6 form-group">
                        <label>KPI Date</label>
                        @Html.TextBoxFor(m => m.KPIDateString, Model.KPIDateString, new { @class = "form-control " })
                    </div>
                    <div class="col-12 form-group">
                        <label>Note</label>
                        @Html.TextAreaFor(m => m.Note, 5, 20, new { @class = "form-control", Style = "max-width: unset;" })

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
@Html.Hidden("URL_CheckIndicator", Url.Action("CheckIndicator", "ImportKPIData"))
@Html.Hidden("URL_GetArea_DDL", Url.Action("GetAreaByDepartmentDDL", "ImportKPIData"))
@Html.Hidden("URL_GetPlant_DDL", Url.Action("GetPlantByAreaDDL", "ImportKPIData"))
@Html.Hidden("URL_GetShift_DDL", Url.Action("GetShiftByPlantDDL", "ImportKPIData"))
@Html.Hidden("URL_GetUser_DDL", Url.Action("GetUserByShiftDDL", "ImportKPIData"))
<div class="modal-footer" id="modalfooter">
    <button type="button" class="btn btn-min-width btn-secondary" data-dismiss="modal">close</button>
    <button type="button" class="btn btn-min-width btn-secondary" onclick="save('@ViewData["action"]','@Model.ID')">
        @ViewData["action"]
    </button>
</div>
<script>
    var indicator = '';
    var user = '';

    // Restricts input for each element in the set of matched elements to the given inputFilter.
    (function ($) {
        $.fn.inputFilter = function (inputFilter) {
            return this.on("input keydown keyup mousedown mouseup select contextmenu drop", function () {
                if (inputFilter(this.value)) {
                    this.oldValue = this.value;
                    this.oldSelectionStart = this.selectionStart;
                    this.oldSelectionEnd = this.selectionEnd;
                } else if (this.hasOwnProperty("oldValue")) {
                    this.value = this.oldValue;
                    this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
                }
            });
        };
    }(jQuery));

    $(document).ready(function () {
        
        if ('@((string)ViewData["action"])' != "Update") {
            $('.individual').hide();
            $("#KPIDateString").datepicker({
                format: "dd/mm/yyyy",
                autoclose: true,
            }).on('changeDate',
                function (ev) {
                    checkindicator();
                });
        }
        else {
            @{
                var lastday = new DateTime(Model.KPIDate.Year, Model.KPIDate.Month, 01).AddMonths(1).AddHours(-1).Day;
                }
            $("#KPIDateString").datepicker({
                format: "dd/mm/yyyy",
                startDate: new Date(@Model.KPIDate.Year , @(Model.KPIDate.Month -1), 01),
                endDate: new Date(@Model.KPIDate.Year , @(Model.KPIDate.Month-1), @lastday),
                autoclose: true,
            }).on('changeDate',
                function (ev) {
                });
        }
        $("#ActualScore").inputFilter(function (value) {
            return /^-?\d*[.]?\d{0,5}$/.test(value);
        });
        $("#YearToDate").inputFilter(function (value) {
            return /^-?\d*[.]?\d{0,5}$/.test(value);
        });
    });
    function save(action, recId) {
        if (action == "Update") {
            if ($('#managepopup [name="ActualScore"]').val() === "") {
                $('#managepopup [name="ActualScore"]').addClass("error");
            } else {
                $('#managepopup [name="ActualScore"]').removeClass("error");
            }
            
            $.ajax({
                url: "@Url.Action("UpdateKpiData","ImportKPIData")",
                type: "POST",
                dataType: "html",
                data: {
                    pRecId: recId,
                    pAction: action,
                    pNote: $('#managepopup [name="Note"]').val(),
                    pKpiDate: $('#managepopup [name="KPIDateString"]').val(),
                    pScore: $('#managepopup [name="ActualScore"]').val(),
                    pYearToScore:  $('#managepopup [name="YearToDate"]').val(),
                },
                success: function (data) {

                    Swal.fire({
                        title: 'Success',
                        text: data.Message,
                        type: 'success',
                        showCancelButton: false,
                        confirmButtonColor: '#00B5B8',
                        cancelButtonColor: '#FFA87D',
                        confirmButtonText: 'Close'
                    }).then(function (result) {
                        if (result.value) {
                            $('#btn-Search-data').click();
                        }
                    });

                }
            });
        }
        else {

            var data = {
                TKID_DEPARTMENT: $('#managepopup [name="Department"]').val(),
                TKID_AREA: $('#managepopup [name="Area"]').val(),
                TKID_PLANT: $('#managepopup [name="Plant"]').val(),
                TKID_SHIFT: $('#managepopup [name="Shift"]').val(),
                TKI_ID: indicator,
                TKID_TYPE: $("#managepopup [name='Type']:checked").val(),
                TKID_ACTUAL_SCORE: $('#managepopup [name="ActualScore"]').val(),
                //TKID_YEAR_TO_DATE: $('#managepopup [name="YearToDate"]').val(),
                TKID_YEAR_TO_DATE: null,
                TKID_EMP_ID: $('#managepopup [name="UserId"]').val(),
                TKID_FIRST_NAME: $('#managepopup [name="FirstName"]').val(),
                TKID_LAST_NAME: $('#managepopup [name="LastName"]').val(),
                TKID_NOTE: $('#managepopup [name="Note"]').val()
            }
            if (data.TKID_DEPARTMENT === "") {
                $('#managepopup [name="Department"]').addClass("error");
            }else {
                $('#managepopup [name="Department"]').removeClass("error");
            }
            if (data.TKID_AREA === "") {
                $('#managepopup [name="Area"]').addClass("error");
            } else {
                $('#managepopup [name="Area"]').removeClass("error");
            }
            if (data.TKID_PLANT === "") {
                $('#managepopup [name="Plant"]').addClass("error");
            } else {
                $('#managepopup [name="Plant"]').removeClass("error");
            }
            if (data.TKID_SHIFT === "") {
                $('#managepopup [name="Shift"]').addClass("error");
            } else {
                $('#managepopup [name="Shift"]').removeClass("error");
            }
            if (data.TKID_ACTUAL_SCORE === "" ) {
                $('#managepopup [name="ActualScore"]').addClass("error");
            } else {
                $('#managepopup [name="ActualScore"]').removeClass("error");
            }
            checkindicator();
            
            if (data.TKID_TYPE.toLowerCase() == "individual") {
                if (data.TKID_EMP_ID === "") {
                    $('#managepopup [name="UserId"]').addClass("error");
                } else {
                    $('#managepopup [name="UserId"]').removeClass("error");
                }
            }
            if ($('#managepopup .error').length > 0) {
                return;
            }
            $.ajax({
                url: "@Url.Action("AddKpiData","ImportKPIData")",

                type: "POST",
                dataType: "html",
                data: { pData: JSON.stringify(data), pKpiDate: $('#managepopup [name="KPIDateString"]').val() },
                success: function (data) {

                    Swal.fire({
                        title: 'Success',
                        text: data.Message,
                        type: 'success',
                        showCancelButton: false,
                        confirmButtonColor: '#00B5B8',
                        cancelButtonColor: '#FFA87D',
                        confirmButtonText: 'Close'
                    }).then(function (result) {
                        if (result.value) {
                            $('#btn-Search-data').click();
                        }
                    });

                }
            });
        }
    }
    function assignDropdown(id, data) {

        let html = ""
            , $obj = $("#" + id)

        html = "<option value=''>"
        html += "-- กรุณาเลือก --";
        html += "</option>";

        $obj.children().remove();

        data.forEach(function (element) {
            html += "<option value='" + element.Value + "'>";
            html += element.Text;
            html += "</option>";
        });

        $obj.append(html);

        if (id == "users_Search_sAreaId") {
            $objOld = $('#users_Search_sPlantId'), $objShift = $('#users_Search_sShiftId');
            $objOld.children().remove();
            $objShift.children().remove();

            $objOld.append(htmlDefault);
            $objShift.append(htmlDefault);
        }

        if (id == "users_Search_sPlantId") {
            $objShift = $('#users_Search_sShiftId');
            $objShift.children().remove();

            $objShift.append(htmlDefault);
        }
    }
    function getUserByPlantIdDDL($this) {
        try {
            let id = $($this).val() ? $($this).val() : 0;

            loading();
            //
            let URL = $('#URL_GetUser_DDL').val();
            $.getJSON(URL, { shift: id },
                function (data) {
                    hideLoading();
                    if (data.isSuccess) {
                        assignDropdown("UserId", data.result);
                    }
                })
                .fail(function (err) {
                    hideLoading();
                    alert('fail.');
                });

        }
        catch (err) {
            alert('Error : ' + err.message);
        }
    }
    function getShiftByPlantIdDDL($this) {
        try {
            let id = $($this).val() ? $($this).val() : 0;

            loading();
            //
            let URL = $('#URL_GetShift_DDL').val();
            $.getJSON(URL, { plantId: id },
                function (data) {
                    hideLoading();
                    if (data.isSuccess) {
                        assignDropdown("Shift", data.result);
                        $('#UserId').find('option').remove().end().append('<option value="">-- กรุณาเลือก --</option>').val('');

                    }
                })
                .fail(function (err) {
                    hideLoading();
                    alert('fail.');
                });

        }
        catch (err) {
            alert('Error : ' + err.message);
        }
    }
    function getPlantByAreaIdDDL($this) {
        try {
            let id = $($this).val() ? $($this).val() : 0;

            loading();
            //
            let URL = $('#URL_GetPlant_DDL').val();
            $.getJSON(URL, { areaId: id },
                function (data) {
                    hideLoading();
                    if (data.isSuccess) {
                        assignDropdown("Plant", data.result);
                        $('#Shift').find('option').remove().end().append('<option value="">-- กรุณาเลือก --</option>').val('');
                        $('#UserId').find('option').remove().end().append('<option value="">-- กรุณาเลือก --</option>').val('');

                    }
                })
                .fail(function (err) {
                    hideLoading();
                    alert('fail.');
                });

        }
        catch (err) {
            alert('Error : ' + err.message);
        }
    }
    function getAreaByDepartmentIdDDL($this) {

        try {
            let id = $($this).val() ? $($this).val() : 0;
            //if ($(id).val()) {
            loading();
            let URL_GetAreaByDepartment = $('#URL_GetArea_DDL').val();
            $.getJSON(URL_GetAreaByDepartment
                , { departmentId: id },
                function (data) {
                    hideLoading();
                    if (data.isSuccess) {
                        assignDropdown("Area", data.result);
                        $('#Plant').find('option').remove().end().append('<option value="">-- กรุณาเลือก --</option>').val('');
                        $('#Shift').find('option').remove().end().append('<option value="">-- กรุณาเลือก --</option>').val('');
                        $('#UserId').find('option').remove().end().append('<option value="">-- กรุณาเลือก --</option>').val('');
                    }
                })
                .fail(function (err) {
                    hideLoading();
                    alert('fail.');
                });
            //}
        }
        catch (err) {
            alert('Error : ' + err.message);
        }
    }
    function checkindicator() {

        try {

            let id = $("#KPIIndicator").val() ? $("#KPIIndicator").val() : "0";
            let date = $("#KPIDateString").val() ? $("#KPIDateString").val() : "";
            //if ($(id).val()) {
            loading();
            let URL_GetAreaByDepartment = $('#URL_CheckIndicator').val();
            $.getJSON(URL_GetAreaByDepartment
                , { KpiID: id, KPIdate: date },
                function (data) {
                    indicator = data.id;
                    $('#managepopup [name="UserId"]').removeClass("error");
                    if (data.isSuccess) {

                        $("#KPIIndicator").removeClass("error");
                        $("#KPIDateString").removeClass("error");
                        //$('#individual').removeAttr('disabled');
                        //$('#shift').removeAttr('disabled');
                        $('#' + data.result.toLowerCase()).prop('checked', true);
                        //$('#individual').attr('disabled','disabled');
                        //$('#shift').attr('disabled','disabled');
                    }
                    else {
                        $("#KPIIndicator").addClass("error");
                        $("#KPIDateString").addClass("error");
                        //$('#individual').removeAttr('disabled');
                        //$('#shift').removeAttr('disabled');
                        $('#individual').prop('checked', false);
                        $('#shift').prop('checked', false);
                        //$('#individual').attr('disabled','disabled');
                        //$('#shift').attr('disabled','disabled');

                    }
                    if (data.result.toLowerCase() == "individual") {
                        $('.individual').show();
                    } else {
                        $('.individual').hide();
                    }
                    hideLoading();
                })
                .fail(function (err) {
                    hideLoading();
                    alert('fail.');
                });
            //}
        }
        catch (err) {
            alert('Error : ' + err.message);
        }
    }

</script>


