﻿@model KPI_ONLINE.ViewModel.ExportImportDataViewModel
@{
    ViewBag.Title = "ImportData";
}
<style>
    th, td {
        vertical-align: middle !important;
        padding: 0.75rem !important;
    }

    th {
        text-align: center;
        background-color: gainsboro;
    }

    .label {
        background: transparent;
        background-color: transparent !important;
        border: 0px solid transparent !important;
        box-shadow: none;
        cursor: auto !important;
        padding: 0px;
    }
</style>
<div class="card" style="margin-bottom:0rem; padding:0.8rem">
    <h2 class="text-center">ImportData</h2>
</div>
<div class="content-wrapper" style="padding:0rem; padding-top:0px">
    <section class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <div class="bug-list-search">
                        <div class="bug-list-search-content">
                            <div class="form-body">
                                <h3 class="form-section"><i class="ft-folder"></i>Import Template File</h3>
                            </div>
                            <div class="form-group filter-section">
                                @using (Html.BeginForm("ImportExcel", "ImportKPIData", FormMethod.Post, new { @class = "form-horizontal form-information", enctype = "multipart/form-data" }))
                                {
                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                            <div class=" input-group">
                                                <div class="custom-file" style="max-width: 280px">
                                                    <input type="file" class="custom-file-input" id="fileToUpload" name="fileToUpload" aria-describedby="inputGroupFileAddon04">
                                                    <label class="custom-file-label" for="inputGroupFile04">Browse</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6 form-group">
                                            <button type="button" class="btn btn-min-width btn-primary import-btn">
                                                <i class="fa fa-download"></i> Import File
                                            </button>
                                        </div>
                                        <label class="col-12">Note</label>
                                        <div class="col-12 form-group">
                                            @Html.TextAreaFor(m => m.ImportCriteria.Note, 5, 20, new { @class = "form-control col-md-5" })
                                        </div>
                                    </div>

                                    <script>
                                        $(document).ready(function () {
                                            //DEPARTMENT
                                            initialTreeview("department");
                                            getAllNodes();
                                        });
                                        var datatext
                                        var json
                                        var selectallChange = false
                                        function initialTreeview(id, selected) {
                                            datatext = $("#" + id + "Tree").val();
                                            json = JSON.parse(datatext);

                                            if (selected) {
                                                let split = selected.split('&').filter(function (c) { return c && c !== '|'; });
                                                if (split && split.length > 0) {

                                                    $.each(json, function (index, element) {
                                                        if (split.indexOf(element.href.split('node-')[1]) >= 0) {
                                                            element.state.checked = true;
                                                        }
                                                    });
                                                }

                                            }

                                            //id = kpi
                                            var tempdata = $("#" + id + "TreeId").val();
                                            var firsttime_check = true;
                                            var head_check = false;
                                            var checknode = "";
                                            var $checkableTree = $('#' + id + 'Treeview-checkable').treeview({
                                                data: json,
                                                showIcon: true,
                                                showCheckbox: true,
                                                color: "#428bca",
                                                expandIcon: 'ft-chevron-right',
                                                collapseIcon: 'ft-chevron-down',
                                                onNodeChecked: function (event, node) {

                                                    if (node.href == "#node-select-all") {
                                                        var allnode = getAllNodes();
                                                        for (var i in allnode) {
                                                            selectallChange = true;
                                                            $(this).treeview(true).checkNode(allnode[i].nodeId);
                                                        }
                                                        selectallChange = false;
                                                        var allnode = getAllNodes();
                                                    }
                                                    else {
                                                        if (!selectallChange) {
                                                            var allnode = getAllNodes();
                                                        }

                                                    }
                                                },
                                                onNodeUnchecked: function (event, node) {

                                                    if (node.href == "#node-select-all") {
                                                        var allnode = getAllNodes();
                                                        for (var i in allnode) {
                                                            selectallChange = true;
                                                            $(this).treeview(true).uncheckNode(allnode[i].nodeId);
                                                        }
                                                        selectallChange = false;
                                                        var allnode = getAllNodes();
                                                    }
                                                    else {
                                                        if (!selectallChange) {
                                                            var allnode = getAllNodes();
                                                        }

                                                    }

                                                }
                                            });
                                            $checkableTree.treeview('collapseAll', { silent: true });
                                        }

                                        function getAllNodes() {
                                            var treeViewObject = $('#departmentTreeview-checkable').data('treeview'),
                                                allCollapsedNodes = treeViewObject.getCollapsed(),
                                                allExpandedNodes = treeViewObject.getExpanded(),
                                                allNodes = allCollapsedNodes.concat(allExpandedNodes);

                                            for (var i = 0; i < allNodes.length; i++) {
                                                var node = allNodes[i];
                                                var id = node.href.replace("#node-", "");
                                                if (node.state.checked) {
                                                    $('[three-target="' + id + '"]').show();
                                                } else {
                                                    $('[three-target="' + id + '"]').hide();
                                                }
                                            }
                                            return allNodes;
                                        }

                                        function setdatabeforepost() {
                                            loading();
                                            var treeViewObject = $('#departmentTreeview-checkable').data('treeview'),
                                                allCollapsedNodes = treeViewObject.getCollapsed(),
                                                allExpandedNodes = treeViewObject.getExpanded(),
                                                allNodes = allCollapsedNodes.concat(allExpandedNodes);

                                            for (var j = 0; j < json.length; j++) {
                                                for (var i = 0; i < allNodes.length; i++) {
                                                    var node = allNodes[i];
                                                    var js = json[j];
                                                    if (node.href == js.href) {
                                                        json[j] = node;
                                                    }
                                                }
                                            }
                                            $("#departmentTree").val(JSON.stringify(json));
                                            return JSON.stringify(allNodes);
                                        }
                                        function clearfilter() {
                                            $(".filter-section select").val("")
                                            $("#Criteria_TargetPeriod").prop('disabled', true);
                                        }
                                    </script>
                                }
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <div class="bug-list-search">
                        <div class="bug-list-search-content">
                            <div class="form-body">
                                <h3 class="form-section"><i class="ft-filter"></i>Export Template From KPI Indicator</h3>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 form-group">
                                    <label class="col-md-5">KPIIndicator</label>
                                    @Html.DropDownListFor(m => m.ExportCriteria.KPIIndicator, Model.ExportCriteria.ddKPIIndicator, "-- Select --", new
                                    {
                                        @class = "select2-size-lg form-control col-sm-7",
                                        @multiple = "multiple"
                                    })
                                </div>
                                <div class="col-sm-12 form-group">
                                    <label class="col-md-5">Department</label>
                                    @Html.DropDownListFor(m => m.ExportCriteria.Department, Model.ExportCriteria.ddDepartment, "-- Select --", new
                                    {
                                        @class = "select2-size-lg form-control col-sm-7",
                                        @onchange = "changeDropdown(this,'GetddArea','" + Html.IdFor(x => x.ExportCriteria.Area) + "')",
                                        @multiple = "multiple"

                                    })
                                </div>
                                <div class="col-sm-12 form-group">
                                    <label class="col-md-5">Area</label>
                                    @Html.DropDownListFor(m => m.ExportCriteria.Area, Model.ExportCriteria.ddArea, "-- Select --", new
                                    {
                                        @class = "select2-size-lg form-control col-sm-7",
                                        @onchange = "changeDropdown(this,'GetddPlant','" + Html.IdFor(x => x.ExportCriteria.Plant) + "')",
                                        @multiple = "multiple"

                                    })
                                </div>
                                <div class="col-sm-12 form-group">
                                    <label class="col-md-5">Plant</label>
                                    @Html.DropDownListFor(m => m.ExportCriteria.Plant, Model.ExportCriteria.ddPlant, "-- Select --", new
                                    {
                                        @class = "select2-size-lg form-control col-sm-7",
                                        @onchange = "changeDropdown(this,'GetddShift','" + Html.IdFor(x => x.ExportCriteria.Shift) + "')",
                                        @multiple = "multiple"

                                    })

                                </div>
                                <div class="col-sm-12 form-group">
                                    <label class="col-md-5">Shift</label>
                                    @Html.DropDownListFor(m => m.ExportCriteria.Shift, Model.ExportCriteria.ddShift, "-- Select --", new
                                    {
                                        @class = "select2-size-lg form-control col-sm-7",
                                        @multiple = "multiple"

                                    })

                                </div>



                            </div>

                            <div class="text-center">
                                <button type="button" class="btn btn-min-width btn-primary" onclick="drawExportPopup('', 'Expoet')">Export</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="row all-contacts">
        <div class="col-12">
            <div class="card">
                <div class="card-head">
                    <div class="card-header">
                        <div class="form-body ">
                            <h3 class="form-section"><i class="ft-file-text"></i>Import History</h3>
                        </div>
                    </div>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <!-- Task List table -->
                        <div class="collapse-icon kpi-report left">
                            <table id="searchResultTable" class="table table-hover table-bordered display" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>NO</th>
                                        <th style="width:250px">KPI Indicator</th>
                                        <th>File Name</th>
                                        <th style="width:350px">Note</th>
                                        <th>Create By</th>
                                        <th>Create Date </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{var i = 0;}
                                    @foreach (var detail in Model.ImportFileDetail)
                                    {
                                        <tr>
                                            <td>@(++i)</td>
                                            <td>
                                                <textarea class="label form-control" readonly style="width:100%;resize:none"> @detail.KPIIndicator </textarea>
                                            </td>
                                            <td><a href="#" onclick="loadFile('@detail.FileName')">@detail.FileName</a></td>
                                            <td>
                                                <textarea class="label form-control" readonly style="width:100%;resize:none">@detail.Note </textarea>
                                            </td>
                                            <td>@detail.CreateBy</td>
                                            <td>@detail.CreateDatesTRING</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- Manage Data Pop Up -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-xl" role="document">
        <div class="modal-content">
            @*<div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>*@
            <div class="modal-body" id="modalbody">
            </div>
            <div class="modal-footer" id="modalfooter">
                <button type="button" class="btn btn-min-width btn-secondary" data-dismiss="modal" id="hideModalButton"></button>
            </div>
        </div>
    </div>
</div>


@if (ViewBag.Result != null && ViewBag.Excel != null && ViewBag.Excel != "")
{
    var Result = (Web.Utilitie.ReturnValue)ViewBag.Result;
    <script>
        $(document).ready(function () {
            Swal.fire({
                title: '@(Result.Status ? "success" :"fail" )',
                text: "@Html.Raw( Result.Message)",
                type: '@(Result.Status ? "success" :"error" )',
                confirmButtonColor: '#00B5B8',
                cancelButtonColor: '#FFA87D',
                showCancelButton: true,
                confirmButtonText: 'Export',

            }).then(function (result) {
                if (result.value) {
                    var urls = '@Url.Action("LoadExcel", "ImportKPIData")' + "?file_path=" + '@ViewBag.Excel';
                    window.open(urls, '_blank');
                }
            });
        });
    </script>
}
else if (ViewBag.Result != null)
{
    var Result = (Web.Utilitie.ReturnValue)ViewBag.Result;


    <script>
        $(document).ready(function () {
        Swal.fire({
            title: '@(Result.Status ? "success" :"fail" )',
            text:"@Html.Raw( Result.Message)",
            type: '@(Result.Status ? "success" :"error" )',
            confirmButtonColor: '#00B5B8',
            cancelButtonColor: '#FFA87D',
            confirmButtonText: 'Close',
        });
    });
    </script>
}

@Html.Hidden("URL_GetMultipleDDL", Url.Action("GetMultipleDDL", "ImportKPIData"))

<script src="~/Scripts/select2.min.js"></script>

<script>
    $(document).ready(function () {
        $('.import-btn').click(function () {
            let valid = true;

            if (valid) {

                Swal.fire({
                    title: 'Message',
                    text: "Are you confirm ?",
                    type: 'info',
                    showCancelButton: true,
                    confirmButtonColor: '#00B5B8',
                    cancelButtonColor: '#FFA87D',
                    confirmButtonText: 'Yes'
                }).then(function (result) {
                    if (result.value) {
                        loading();
                        $(".form-information").submit();
                    }
                });

            } else {
                alertFieldRequire();
            }
        });
        $(".select2-size-lg").select2({
            placeholder: "--Select All--",
            allowClear: true
        });
        $('#ExportCriteria_Department').on('select2:select', function (e) {
            getAreaByDepartmentIdDDL();
        });
        $('#ExportCriteria_Area').on('select2:select', function (e) {
            getPlantByAreaIdDDL();
        });
        $('#ExportCriteria_Plant').on('select2:select', function (e) {
            getShiftByPlantIdDDL();
        });

        $('#ExportCriteria_Department').on('select2:unselect', function (e) {
            getAreaByDepartmentIdDDL();
        });
        $('#ExportCriteria_Area').on('select2:unselect', function (e) {
            getPlantByAreaIdDDL();
        });
        $('#ExportCriteria_Plant').on('select2:unselect', function (e) {
            getShiftByPlantIdDDL();
        });

        $('#ExportCriteria_Department').on('select2:clear', function (e) {
            getAreaByDepartmentIdDDL();
        });
        $('#ExportCriteria_Area').on('select2:clear', function (e) {
            getPlantByAreaIdDDL();
        });
        $('#ExportCriteria_Plant').on('select2:clear', function (e) {
            getShiftByPlantIdDDL();
        });
        $('#ExportCriteria_Area').attr('disabled', 'disabled');
        $('#ExportCriteria_Plant').attr('disabled', 'disabled');
        $('#ExportCriteria_Shift').attr('disabled', 'disabled');
    });
    function drawExportPopup(recId, action) {
        loading();
        var rec = {
            Plant: $("#ExportCriteria_Plant").val(),
            Department: $("#ExportCriteria_Department").val(),
            Area: $("#ExportCriteria_Area").val(),
            Shift: $("#ExportCriteria_Shift").val(),
            KPIIndicator: $("#ExportCriteria_KPIIndicator").val(),
        }
        var footer = document.getElementById('modalfooter');
        document.getElementById('hideModalButton').innerText = "Cancel"
        $.ajax({
            url: '@Url.Action("DrawExportPopup","ImportKPIData")',
            async: false,
            type: "POST",
            data: { pRec: JSON.stringify(rec), pAction: action },
            success: function (data) {
                var urls = '@Url.Action("LoadExcel", "ImportKPIData")' + "?file_path=" + data.FileName;
                
                window.open(urls, '_blank');
                hideLoading();

            },
            error: function (reponse) {
                hideLoading();
                alert("error : " + reponse.error());

            }
        });
    }
    function onExportTemplate() {
        loading();
        $.ajax({
            @*url: '@Url.Action("ExportExcel", "ReportExcrusiveKPI")',*@
            url: '@Url.Action("DrawExportPopup","ImportKPIData")',
            data: {
                "pPeriod_Type": $("#Criteria_PeriodType").val(),
                "pTarget_Period": $("#Criteria_TargetPeriod").val(),
                "pYear": $("#Criteria_Year").val(),
                "pTree": setdatabeforepost()
            },
            cache: false,
            type: "POST",
            success: function (data) {
                var urls = '@Url.Action("LoadExcel", "ReportExcrusiveKPI")' + "?file_path=" + data.FileName;
                
                window.open(urls, '_blank');
                hideLoading();

            },
            error: function (reponse) {
                hideLoading();
                alert("error : " + reponse.error());

            }
        });
    }
    function loadFile(FileName) {
        var urls = '@Url.Action("LoadExcel", "ReportExcrusiveKPI")' + "?file_path=" + FileName;
        
        window.open(urls, '_blank');
    }
    function ImportData() {
        var footer = document.getElementById('modalfooter');
        document.getElementById('hideModalButton').innerText = "Cancel"
        $.ajax({
            url: "/ImportKPIData/ImportExcel",
            type: "POST",
            dataType: "html",
            success: function (data) {
                $('#modalbody').html(data);
            }
        });
    }
    function changeDropdown(evt, func, id) {

        $.ajax({
            url: "/ImportKPIData/" + func,
            type: "POST",
            data: { pPerentID: evt.value },
            dataType: "html",
            success: function (data) {

                $('#modalbody').html(data);
            }
        });
    }
    function assignDropdown(id, data) {

        let html = ""
            , $obj = $("#" + id)
            , htmlDefault = "";
        $obj.removeAttr('disabled');
        $obj.children().remove();

        html = "<option value=''>"
        html += "-- Select --";
        html += "</option>";

        data.forEach(function (element) {
            html += "<option value='" + element.Value + "'>";
            html += element.Text;
            html += "</option>";
        });
        $obj.append(html);

    }
    function getShiftByPlantIdDDL() {
        try {
            let id = $('#ExportCriteria_Plant').val();
            loading();
            //
            let URL = $('#URL_GetMultipleDDL').val();
            $.getJSON(URL,
                { listID: JSON.stringify(id), ddlName:"plant" },
                function (data) {
                    hideLoading();
                    if (data.isSuccess) {
                        assignDropdown("ExportCriteria_Shift", data.result);

                    }
                })
                .fail(function (err) {
                    hideLoading();
                    alert('fail.');
                });

        }
        catch (err) {
            alert('Error : ' + err.message);
        }
    }
    function getPlantByAreaIdDDL() {
        try {
            let id = $('#ExportCriteria_Area').val();
            loading();
            //
            let URL = $('#URL_GetMultipleDDL').val();
            $.getJSON(URL,
                { listID: JSON.stringify(id), ddlName: "area" },
                function (data) {
                    hideLoading();
                    if (data.isSuccess) {
                        assignDropdown("ExportCriteria_Plant", data.result);
                        $('#ExportCriteria_Shift').attr('disabled', 'disabled');
                        $('#ExportCriteria_Shift').val('');
                    }
                })
                .fail(function (err) {
                    hideLoading();
                    alert('fail.');
                });
        }
        catch (err) {
            alert('Error : ' + err.message);
        }
    }
    function getAreaByDepartmentIdDDL() {
        try {
            let id = $('#ExportCriteria_Department').val();
            //if ($(id).val()) {
            loading();
            let URL_GetAreaByDepartment = $('#URL_GetMultipleDDL').val();
            $.getJSON(URL_GetAreaByDepartment
                , { listID: JSON.stringify(id), ddlName:"department" },
                function (data) {
                    hideLoading();
                    if (data.isSuccess) {
                        assignDropdown("ExportCriteria_Area", data.result);
                        $('#ExportCriteria_Plant').attr('disabled', 'disabled');
                        $('#ExportCriteria_Shift').attr('disabled', 'disabled');
                        $('#ExportCriteria_Plant').val('');
                        $('#ExportCriteria_Shift').val('');

                    }
                })
                .fail(function (err) {
                    hideLoading();
                    alert('fail.');
                });
            //}
        }
        catch (err) {
            alert('Error : ' + err.message);
        }
    }


</script>
