﻿
@model KPI_ONLINE.ViewModel.SearchKPIDataViewModel
@{
    ViewBag.Title = "View";
}
<div class="card" style="margin-bottom:0rem; padding:0.8rem">
    <h2 class="text-center">Search KPI Data</h2>
</div>
<style>
    th, td {
        vertical-align: middle !important;
        padding: 0.75rem !important;
    }

    th {
        text-align: center;
        background-color: gainsboro;
    }

    .error {
        border: 1.5px solid red !important;
    }

    [three-Show-area="true"][three-Show-plant="true"][three-Show-shift="true"] {
        display: table-row;
    }

    [three-Show-area="true"][three-Show-plant="true"][three-Show-shift="false"] {
        display: none;
    }

    [three-Show-area="true"][three-Show-plant="false"][three-Show-shift="false"] {
        display: none;
    }

    [three-Show-area="false"][three-Show-plant="false"][three-Show-shift="false"] {
        display: none;
    }

    .label {
        border: none;
        max-width: 100px;
        text-align: center;
        color: black;
        background: white;
    }

        .label:focus .label:hover {
            border: none;
            max-width: 100px;
            text-align: center;
            color: black;
            background: white;
        }
</style>
<!-- Filter Search -->
@using (Html.BeginForm("", "ImportKPIData", FormMethod.Post, new { }))
{
    <div class="sidebar-detached sidebar-left" style="position:fixed">
        <div class="sidebar">
            <div class="bug-list-sidebar-content">
                <!-- Predefined Views -->
                <div class="card">
                    <div class="card-head">
                        <div class="media">
                            <div class="media-body media-middle">
                                <h3 class="m-4">
                                    Data Authorize
                                </h3>

                            </div>
                        </div>
                    </div>

                    <!-- contacts view -->
                    <div class="card-body border-top-blue-grey border-top-lighten-5"
                         style="height:calc(100vh - 230px); overflow-y:scroll">
                        <div class="row match-height">
                            <fieldset class="col-md-12 ">
                                <div class="panel panel-default">
                                    <div class="panel-body ex1">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12">
                                                @Html.HiddenFor(model => model.Role_Detail.DepartmentTree, new { @id = "departmentTree", value = Model.Role_Detail.DepartmentTree })
                                                @Html.HiddenFor(model => model.Role_Detail.DepartmentTreeId, new { @id = "departmentTreeId", value = Model.Role_Detail.DepartmentTreeId })
                                                <div id="departmentTreeview-checkable" class="treeview"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <!--/ Predefined Views -->

            </div>
        </div>
    </div>
    <div class="content-detached content-right">
        <div class="content-body p-0">
            <div class="content-overlay"></div>
            <section class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="bug-list-search">
                                <div class="bug-list-search-content">
                                    <div class="sidebar-toggle d-block d-lg-none"><i class="ft-menu font-large-1"></i></div>
                                    <div class="form-body">
                                        <h3 class="form-section"><i class="ft-filter"></i> Filter Search</h3>
                                    </div>
                                    <div class="form-group filter-section">
                                        <div class="row">
                                            @*<div class="col-xs-12 col-sm-6 form-group">
                                                    <label class="col-md-5">Department</label>
                                                    @Html.DropDownListFor(m => m.Criteria.Department, Model.Criteria.ddDepartment, "-- Select --", new { @class = "form-control col-xs-7" })
                                                </div>
                                                <div class="col-xs-12 col-sm-6 form-group">
                                                    <label class="col-md-5">Area</label>
                                                    @Html.DropDownListFor(m => m.Criteria.Area, Model.Criteria.ddArea, "-- Select --", new { @class = "form-control col-xs-7" })
                                                </div>
                                                <div class="col-xs-12 col-sm-6 form-group">
                                                    <label class="col-md-5">Plant</label>
                                                    @Html.DropDownListFor(m => m.Criteria.Plant, Model.Criteria.ddPlant, "-- Select --", new { @class = "form-control col-xs-7" })
                                                </div>

                                                <div class="col-xs-12 col-sm-6 form-group">
                                                    <label class="col-md-5">Shift</label>
                                                    @Html.DropDownListFor(m => m.Criteria.Shift, Model.Criteria.ddShift, "-- Select --", new { @class = "form-control col-xs-7" })
                                                </div>*@
                                        </div>
                                        <div class="row">
                                            @*<div class="col-xs-12 col-sm-6 form-group">
                                                    <label class="col-md-5">Period From</label>
                                                    @Html.TextBoxFor(m => m.Criteria.PeriodFrom, Model.Criteria.PeriodFrom, new { @class = "form-control col-xs-7 datepicker" })
                                                </div>
                                                <div class="col-xs-12 col-sm-6 form-group">
                                                    <label class="col-md-5">Period To</label>
                                                    @Html.TextBoxFor(m => m.Criteria.PeriodTo, Model.Criteria.PeriodTo, new { @class = "form-control col-xs-7 datepicker" })
                                                </div>*@
                                            <div class="col-xs-12 col-sm-6 form-group">
                                                <span>
                                                    @Html.LabelFor(model => model.Criteria.PeriodFrom, htmlAttributes: new { @class = "control-label" })
                                                    : <span style="color:red">*</span>
                                                </span>

                                                <div class="input-group">
                                                    <input class="form-control datepicker" name="Criteria.PeriodFrom" id="Criteria_PeriodFrom" value="@Model.Criteria.PeriodFrom" autocomplete="off" placeholder="MMM-YYYY" data-provide="datepicker">
                                                    @*@Html.TextBoxFor(model => model.From, htmlAttributes: new { @class = "form-control datepicker", @maxlength = "10", @autocomplete = "off", @data_provide = "datepicker", @placeholder = "MMM-YYYY", @id = "From" })*@

                                                    <div class="input-group-append">
                                                        <span class="input-group-text" id="basic-addon4"><i class="ft-clock"></i></span>
                                                    </div>
                                                    @*@Html.ValidationMessageFor(model => model.From, "", new { @class = "text-danger control-label" })*@
                                                </div>
                                                @*@Html.TextBoxFor(m => m.From, new { @class = "form-control datepicker", autocomplete = "off", @ })*@
                                            </div>
                                            <div class="col-xs-12 col-sm-6 form-group">
                                                <span>
                                                    @Html.LabelFor(model => model.Criteria.PeriodTo, htmlAttributes: new { @class = "control-label" })
                                                    : <span style="color:red">*</span>
                                                </span>
                                                <div class="input-group">
                                                    <input class="form-control datepicker" name="Criteria.PeriodTo" id="Criteria_PeriodTo" autocomplete="off" value="@Model.Criteria.PeriodTo" placeholder="MMM-YYYY" data-provide="datepicker">
                                                    @*@Html.TextBoxFor(model => model.To, htmlAttributes: new { @class = "form-control datepicker", @readonly = "readonly", @maxlength = "10", @autocomplete = "off", @data_provide = "datepicker", @placeholder = "MMM-YYYY", @id = "To" })*@

                                                    <div class="input-group-append">
                                                        <span class="input-group-text" id="basic-addon4"><i class="ft-clock"></i></span>
                                                    </div>
                                                    @*@Html.ValidationMessageFor(model => model.To, "", new { @class = "text-danger control-label" })*@
                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-sm-6 form-group">
                                                <label class="col-md-5">First Name</label>
                                                @Html.TextBoxFor(m => m.Criteria.FirstName, Model.Criteria.FirstName, new { @class = "form-control col-xs-7" })
                                            </div>
                                            <div class="col-xs-12 col-sm-6 form-group">
                                                <label class="col-md-5">Last Name</label>
                                                @Html.TextBoxFor(m => m.Criteria.LastName, Model.Criteria.LastName, new { @class = "form-control col-xs-7" })
                                            </div>
                                            <div class="col-xs-12 col-sm-6 form-group">
                                                <label class="col-md-5">KPI Indicator</label>
                                                @Html.DropDownListFor(m => m.Criteria.KPIIndicator, Model.Criteria.ddKPIIndicator, "-- Select --", new { @class = "form-control col-xs-7" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                            <a class="btn btn-primary btn-min-width m-1" style="border-radius: 10px;" href="@Url.Action("ImportData","ImportKPIData")">
                                                <i class="fa ft-download "></i> Import / Export
                                            </a>
                                            <button type="button" class="btn btn-min-width btn-primary" id="btn-search" data-toggle="modal" data-target="#exampleModal" onclick="drawManagePopupAdd('', 'Add')">
                                                <i class="fa ft-plus-square "></i>
                                                Add
                                            </button>
                                        </div>
                                        <div class="col-sm-6 text-sm-right">
                                            <button type="submit" class="btn btn-min-width btn-primary" name="action:Search" id="btn-Search-data" onclick="setdatabeforepost()">
                                                <i class="ficon ft-search"></i>
                                                Search
                                            </button>
                                            <button type="button" class="btn btn-min-width btn-primary" id="btn-expoet-data" onclick="onExportTemplate()">
                                                <i class="ft-share"> </i>
                                                Export Raw Data
                                            </button>
                                            <button type="button" class="btn btn-min-width btn-light btn-min-width m-1" id="btn-clear-all" onclick="clearfilter()">
                                                <i class="fa fa-refresh"></i> Clear All
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="row all-contacts">
                <div class="col-12">
                    <div class="card">
                        <div class="card-head">
                            <div class="card-header">
                                <div class="form-body ">
                                    <h3 class="form-section"><i class="ft-file-text"></i> Search Result</h3>
                                </div>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <!-- Task List table -->
                                <div class="collapse-icon kpi-report left">
                                    @foreach (var department in Model?.Result ?? new List<KPI_ONLINE.ViewModel.SearchKPIDataViewModel.SearchResult>())
                                    {
                                        <div three-target="department_@department.DepartMentID">
                                            <div class="card-header kpi-report-header border-header border-header show">
                                                <a data-toggle="collapse" href="#@department.DepartMentID"
                                                   aria-expanded="true" aria-controls="@department.DepartMentID" class="h3 lead">
                                                    @department.DepartMent
                                                </a>
                                            </div>
                                            <div id="@department.DepartMentID" class="table-responsive collapse show in">
                                                @foreach (var month in department?.MonthList ?? new List<KPI_ONLINE.ViewModel.SearchKPIDataViewModel.MonthList>())
                                                {
                                                    <div class="card-header kpi-report-header  border-header show">
                                                        <a data-toggle="collapse" href="#@month.KPIDateID"
                                                           aria-expanded="true" aria-controls="@month.KPIDateID" class="h3 lead">
                                                            @month.KPIDateString
                                                        </a>
                                                    </div>
                                                    <div id="@month.KPIDateID" class="table-responsive collapse show in">
                                                        @foreach (var kpi in month?.KPIList?.OrderBy(x => x.KPINo)?.ToList() ?? new List<KPI_ONLINE.ViewModel.SearchKPIDataViewModel.KPIList>())
                                                        {
                                                            <div class="card-header kpi-report-header  border-header show">
                                                                <a data-toggle="collapse" href="#@kpi.KPIid"
                                                                   aria-expanded="true" aria-controls="@kpi.KPIid" class="h3 lead">
                                                                    @kpi.KPIName
                                                                </a>
                                                            </div>

                                                            <div id='@kpi.KPIid' class="table-responsive collapse show in">
                                                                <table class="table table-hover table-bordered display searchResultTable" cellspacing="0">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>NO </th>
                                                                            <th>Area </th>
                                                                            <th>Plant </th>
                                                                            <th>Shift </th>

                                                                            @if (kpi.IsIndividual)
                                                                            {
                                                                                <th>Staff Name </th>
                                                                            }
                                                                            <th>Actual Score </th>
                                                                            @*<th>Year To Date </th>*@
                                                                            <th>KPI Date </th>
                                                                            <th>Note</th>
                                                                            <th>Create By </th>
                                                                            <th>Create Date </th>
                                                                            <th></th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        @foreach (var detail in kpi?.Detail ?? new List<KPI_ONLINE.ViewModel.SearchKPIDataViewModel.KPIDetail>())
                                                                        {
                                                                            <tr id="row_@kpi.KPIid"
                                                                                three-target-area="area_@detail.AreaId"
                                                                                three-target-plant="plant_@detail.PlantId"
                                                                                three-target-shift="shift_@detail.ShiftId"
                                                                                three-Show-area="true"
                                                                                three-Show-plant="true"
                                                                                three-Show-shift="true">
                                                                                <td>@detail.NO</td>
                                                                                <td>@detail.Area</td>
                                                                                <td>@detail.Plant</td>
                                                                                <td>@detail.Shift</td>
                                                                                @if (kpi.IsIndividual)
                                                                                {
                                                                                    <td>@detail.StreffName</td>
                                                                                }
                                                                                <td>
                                                                                    <input class="label" row-score="row_@kpi.KPIid" disabled value="@detail.ActualScore" />
                                                                                </td>
                                                                                @*<td>
                                                                                    <input class="label" row-score="row_@kpi.KPIid" disabled value="@detail.YearToDate" />
                                                                                </td>*@
                                                                                <td>
                                                                                    <input class="label" row-kpidate="row_@kpi.KPIid" disabled value="@detail.KPIDate.ToString("dd/MM/yyyy")" />
                                                                                </td>
                                                                                <td>@detail.Note</td>
                                                                                <td>@detail.CreateBy</td>
                                                                                <td>@detail.CreateDateString</td>
                                                                                <td>
                                                                                    @*<span class="glyphicon glyphicon-duplicate"></span>*@
                                                                                    <a class="ft-edit font-size-large p-0 blue" data-toggle="modal" data-target="#exampleModal" onclick="drawManagePopupUpdate('@detail.ID', 'Update')"></a>
                                                                                    <a class="ft-trash-2  font-size-large p-0 red" onclick="drawDeletePopup('@detail.ID')"></a>
                                                                                </td>
                                                                            </tr>
                                                                        }
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        }
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <!-- Manage Data Pop Up -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" id="modalbody">
            </div>
        </div>
    </div>
}
<script>
    $(document).ready(function () {

        $(".datepicker").datepicker({
            format: "MM-yyyy",
            autoclose: true,
            viewMode: "months",
            minViewMode: "months",
            orientation: "bottom right"
        }).on('changeDate',
            function (ev) {
                //let $to = $('input[name="Criteria.PeriodTo"]')
                //    , $from = $('input[name="Criteria.PeriodFrom"]');

                //let momentString = moment(ev.date).format('MMMM-YYYY');
                //$to.val(momentString);

                $to.removeClass('input-validation-error').addClass('valid');
                $from.removeClass('input-validation-error').addClass('valid');
            });
    });
    function drawDeletePopup(recId) {

        Swal.fire({
            title: 'Delete',
            text: "Are you want delete this record?",
            type: 'info',
            showCancelButton: true,
            confirmButtonColor: '#00B5B8',
            cancelButtonColor: '#FFA87D',
            confirmButtonText: 'Yes'
        }).then(function (result) {
            if (result.value) {
                $.ajax({
                    url: "@Url.Action("DeleteKpiData","ImportKPIData")",
                    type: "POST",
                    dataType: "html",
                    data: { pRecId: recId },
                    success: function (data) {
                        Swal.fire({
                            title: 'Success',
                            text: data.Message,
                            type: 'success',
                            showCancelButton: false,
                            confirmButtonColor: '#00B5B8',
                            cancelButtonColor: '#FFA87D',
                            confirmButtonText: 'Close'
                        }).then(function (result) {
                            if (result.value) {
                                $('#btn-Search-data').click();
                            }
                        });
                    }
                });
            }
        });
    }
    function drawManagePopupUpdate(recId, action) {
        $.ajax({
            url: "@Url.Action("DrawManagePopup","ImportKPIData")",
            type: "POST",
            dataType: "html",
            data: { pRecId: recId, pAction: action },
            success: function (data) {
                $('#modalbody').html(data);
            }
        });
    }
    function drawManagePopupAdd(recId, action) {
        $.ajax({
            url: "@Url.Action("DrawManagePopup","ImportKPIData")",
            type: "POST",
            dataType: "html",
            data: { pRecId: recId, pAction: action },
            success: function (data) {
                $('#modalbody').html(data);
            }
        });
    }
</script>



<script>
    $(document).ready(function () {
        setPeriodType('Criteria_PeriodType', 'Criteria_TargetPeriod');
        //DEPARTMENT
        initialTreeview("department");
        setfilter();
    });
    var datatext
    var json
    var selectallChange = false
    function initialTreeview(id, selected) {
        datatext = $("#" + id + "Tree").val();
        json = JSON.parse(datatext);

        if (selected) {
            let split = selected.split('&').filter(function (c) { return c && c !== '|'; });
            if (split && split.length > 0) {

                $.each(json, function (index, element) {
                    if (split.indexOf(element.href.split('node-')[1]) >= 0) {
                        element.state.checked = true;
                    }
                });
            }

        }

        //id = kpi
        var tempdata = $("#" + id + "TreeId").val();
        var firsttime_check = true;
        var head_check = false;
        var checknode = "";
        var $checkableTree = $('#' + id + 'Treeview-checkable').treeview({
            data: json,
            showIcon: true,
            showCheckbox: true,
            color: "#428bca",
            expandIcon: 'ft-chevron-right',
            collapseIcon: 'ft-chevron-down',
            onNodeChecked: function (event, node) {
                if (node.href == "#node-select-all") {
                    var allnode = getAllNodes();
                    for (var i in allnode) {
                        selectallChange = true;
                        $(this).treeview(true).checkNode(allnode[i].nodeId);
                    }
                    selectallChange = false;
                }
                else {
                    var id = node.href.replace("#node-", "");
                    $('[three-target="' + id + '"]').show();
                    //$('[three-target-area="' + id + '"]').show();
                    //$('[three-target-plant="' + id + '"]').show();
                    //$('[three-target-shift="' + id + '"]').show();
                    if (id.indexOf("area") > -1) {
                        $('[three-target-area="' + id + '" ]').attr('three-Show-area', 'true');
                    }
                    if (id.indexOf("plant") > -1) {
                        $('[three-target-plant="' + id + '"]').attr('three-Show-plant', 'true');
                    }
                    if (id.indexOf("shift") > -1) {
                        $('[three-target-shift="' + id + '"]').attr('three-Show-shift', 'true');
                    }
                    if (!selectallChange) {

                        if (node.parentId != null) {
                            $(this).treeview(true).checkNode(node.parentId);
                            if (checknode == node.nodeId) {
                                if (node.nodes != null) {
                                    for (let i in node.nodes) {
                                        let child = node.nodes[i];
                                        $(this).treeview(true).checkNode(child.nodeId);
                                    }
                                }
                            }
                        }
                    }
                }
            },
            onNodeUnchecked: function (event, node) {
                if (node.href == "#node-select-all") {
                    var allnode = getAllNodes();
                    for (var i in allnode) {
                        selectallChange = true;
                        $(this).treeview(true).uncheckNode(allnode[i].nodeId);
                    }
                    selectallChange = false;
                }
                else {
                    var id = node.href.replace("#node-", "");
                    $('[three-target="' + id + '"]').hide();
                    //$('[three-target-area="' + id + '"]').hide();
                    //$('[three-target-plant="' + id + '"]').hide();
                    //$('[three-target-shift="' + id + '"]').hide();
                    if (id.indexOf("area") > -1) {
                        $('[three-target-area="' + id + '" ]').attr('three-Show-area', 'false');
                    }
                    if (id.indexOf("plant") > -1) {
                        $('[three-target-plant="' + id + '"]').attr('three-Show-plant', 'false');
                    }
                    if (id.indexOf("shift") > -1) {
                        $('[three-target-shift="' + id + '"]').attr('three-Show-shift', 'false');
                    }
                    if (!selectallChange) {
                        for (var i in node.nodes) {
                            var child = node.nodes[i];
                            $(this).treeview(true).uncheckNode(child.nodeId);
                        }
                    }
                }
            },
        });
        $checkableTree.treeview('collapseAll', { silent: true });
    }



    function assignDropdown(id, data) {

        let html = ""
            , $obj = $("#" + id)
            , htmlDefault = "";
        $obj.children().remove();

        html = "<option value=''>"
        html += "-- Select --";
        html += "</option>";

        data.forEach(function (element) {
            html += "<option value='" + element.Value + "'>";
            html += element.Text;
            html += "</option>";
        });
        $obj.append(html);

    }

    function setfilter() {
        allNodes = getAllNodes();
        for (var i = 0; i < allNodes.length; i++) {
            var node = allNodes[i];
            if (node.state.checked) {
                var id = node.href.replace("#node-", "");
                $('[three-target="' + id + '"]').show();
                $('[three-target-area="' + id + '"]').show();
                $('[three-target-plant="' + id + '"]').show();
                $('[three-target-shift="' + id + '"]').show();
            }
            else {
                var id = node.href.replace("#node-", "");
                $('[three-target="' + id + '"]').hide();
                $('[three-target-area="' + id + '"]').hide();
                $('[three-target-plant="' + id + '"]').hide();
                $('[three-target-shift="' + id + '"]').hide();
            }
        }
    }

    function getAllNodes() {

        var treeViewObject = $('#departmentTreeview-checkable').data('treeview')
        allCollapsedNodes = treeViewObject.getCollapsed()
        allExpandedNodes = treeViewObject.getExpanded()
        allNodes = allCollapsedNodes.concat(allExpandedNodes)
        return allNodes;
    }

    function getTargetPeriodByPeriodTypeDDL($this) {
        try {
            let periodType = $($this).val() ? $($this).val() : "";

            loading();
            //
            let URL = $('#URL_GetTargetPeriod_DDL').val();
            $.getJSON(URL, { periodType: periodType },
                function (data) {
                    hideLoading();
                    if (data.isSuccess) {
                        $("#Criteria_TargetPeriod").prop('disabled', false);
                        assignDropdown("Criteria_TargetPeriod", data.result);
                        if (data.result.length == 0) {
                            $("#Criteria_TargetPeriod").prop('disabled', true);
                        }
                    }
                })
                .fail(function (err) {
                    hideLoading();
                    alert('fail.');
                });

        }
        catch (err) {
            alert('Error : ' + err.message);
        }
    }
    function setdatabeforepost() {
        loading();
        var treeViewObject = $('#departmentTreeview-checkable').data('treeview'),
            allCollapsedNodes = treeViewObject.getCollapsed(),
            allExpandedNodes = treeViewObject.getExpanded(),
            allNodes = allCollapsedNodes.concat(allExpandedNodes);

        for (var j = 0; j < json.length; j++) {
            for (var i = 0; i < allNodes.length; i++) {
                var node = allNodes[i];
                var js = json[j];
                if (node.href == js.href) {
                     json[j] = node;
                }
            }
        }
        $("#departmentTree").val(JSON.stringify(json));
        return JSON.stringify(allNodes);
    }
    function onExportTemplate() {
        loading();
        @*//var urls = '@Url.Action("ExportExcel", "ReportExcrusiveKPI",new { pPeriod_Type = "ddd", pTarget_Period = "ddd", pYear = "ddd" })';*@
        $.ajax({
            url: '@Url.Action("ExportExcel", "ReportExcrusiveKPI")',

            data: {
                "pPeriod_Type": $("#Criteria_PeriodType").val(),
                "pTarget_Period": $("#Criteria_TargetPeriod").val(),
                "pYear": $("#Criteria_Year").val(),
                "pTree": setdatabeforepost()
            },
            cache: false,
            type: "POST",
            success: function (data) {
                var urls = '@Url.Action("LoadExcel", "ReportExcrusiveKPI")' + "?file_path=" + data.FileName;
                //var urls = '@Url.Action("LoadExcel", "ReportExcrusiveKPI")'

                window.open(urls, '_blank');
                hideLoading();

            },
            error: function (reponse) {
                hideLoading();
                alert("error : " + reponse.error());

            }
        });
    }
    function clearfilter() {
        $(".filter-section select").val("")
        $(".filter-section input").val("")
    }


    var  ConfigKPIIndator = {
        TableDisplayConfig: [],
        TableIndicatorConfig: [],
        TableReportConfig: []
    };

    function addTableDisplayConfig(pOrder,pFieldName,pColumnName,pDisplayName,pIsEnabled) {
        var DisplayConfig = {
            Order: pOrder,              //int
            FieldName: pFieldName,      //string
            ColumnName: pColumnName,    //string
            DisplayName: pDisplayName,  //string
            IsEnabled: pIsEnabled,      //bool
        };
        ConfigKPIIndator.TableDisplayConfig.push(DisplayConfig)
    };

    function addTableDisplayConfig(TKINId, TKINName, ASM, LTO, LTR, JG7_8, JG9_12) {
        var IndicatorConfig = {
            TKINId: TKINId,
            TKINName: TKINName,
            ASM: ASM,
            LTO: LTO,
            LTR: LTR,
            JG7_8: JG7_8,
            JG9_12: JG9_12,
        }
        ConfigKPIIndator.TableIndicatorConfig.push(IndicatorConfig)
    }
    function addTableDisplayConfig(Year, CreateBy, CreateDate, CreateDateEx, TKRCId, ReportName) {
        var ReportConfig = {
            Year: Year,
            CreateBy: CreateBy,
            CreateDate: CreateDate,
            CreateDateEx: CreateDateEx,
            TKRCId: TKRCId,
            ReportName: ReportName,
        }
        ConfigKPIIndator.TableReportConfig.push(ReportConfig)

    }

    function onExportTemplate() {
            loading();
            $.ajax({
                url: '@Url.Action("ExportExcel", "ImportKPIData")',
                data: {
                    "pPeriod_From": $("#Criteria_PeriodFrom").val(),
                    "pPeriod_To": $("#Criteria_PeriodTo").val(),
                    "pFirstName": $("#Criteria_FirstName").val(),
                    "pLastName": $("#Criteria_LastName").val(),
                    "pKPIIndicator": $("#Criteria_KPIIndicator").val(),
                    "pTree": setdatabeforepost()
                },
                cache: false,
                type: "POST",
                success: function (data) {
                    var urls = '@Url.Action("LoadExcel", "ImportKPIData")' + "?file_path=" + data.FileName;
                    
                    window.open(urls, '_blank');
                    hideLoading();

                },
                error: function (reponse) {
                    hideLoading();
                    alert("error : " + reponse.error());

                }
            });
        }

</script>
