﻿@model KPI_ONLINE.ViewModel.KPIData
@{
    ViewBag.Title = "View";
}

<h2>Search</h2>
<div>
    <div class="row">
        <label>Department</label>
        @Html.DropDownListFor(m => m.search.Department, Model.search.ddDepartment)
    </div>
    <div class="row">
        <label>Area</label>
        @Html.DropDownListFor(m => m.search.Area, Model.search.ddArea)
    </div>
    <div class="row">
        <label>Shift</label>
        @Html.DropDownListFor(m => m.search.Shift, Model.search.ddShift)
    </div>
    <div class="row">
        <label>KPIIndicator</label>
        @Html.DropDownListFor(m => m.search.KPIIndicator, Model.search.ddKPIIndicator)
    </div>
    <div class="row">
        <label>PeriodFrom</label>
        @Html.TextBoxFor(m => m.search.PeriodFrom, Model.search.PeriodFrom)
    </div>
    <div class="row">
        <label>PeriodTo</label>
        @Html.TextBoxFor(m => m.search.PeriodTo, Model.search.PeriodTo)
    </div>
    <div class="row">
        <label>FirstName</label>
        @Html.TextBoxFor(m => m.search.FirstName, Model.search.FirstName)
    </div>
    <div class="row">
        <label>LastName</label>
        @Html.TextBoxFor(m => m.search.LastName, Model.search.LastName)
    </div>
</div>

